force-app/main/default/flows/Appintment_Check_Conidiations_In_Guidelines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_appointment_record_to_rv_appointment</name>
        <label>assign appointment record to rv_appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rv_AppointmentFromInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_appointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>input_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Guidline_record_to_var</name>
        <label>Assign Guideline record to var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RV_Guideline_with_req_docs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Guideline_c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_id_appointment_id_is_not_empty</name>
        <label>check id appointment_id is not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointment_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_appointment</targetReference>
            </connector>
            <label>not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_reccords_found</name>
        <label>Check if reccords found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>reccords_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guidelines_c_records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Guideline_c</targetReference>
            </connector>
            <label>reccords found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_required_documents_is_not_empty</name>
        <label>Check if required documents is not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Guideline_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>required_documents_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Guideline_c.Required_documents__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Guidline_record_to_var</targetReference>
            </connector>
            <label>required documents is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if AppointmentFromInput is not Null and Appointment -&gt; domain -&gt; To_send_a_message_to_upload_documents__c is True AND {!AppointmentFromInput.Guidance_Scenario__c} is not null</description>
        <name>input_Validation</name>
        <label>input Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AppointmentFromInput_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_AppointmentFromInput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rv_AppointmentFromInput.Domain__r.Is_Doc_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rv_AppointmentFromInput.Guidance_Scenario__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Guidelines_c_records</targetReference>
            </connector>
            <label>AppointmentFromInput is not Null</label>
        </rules>
    </decisions>
    <description>Fred: 22012026- monday 2556029491- get appointment record and check conidiations in guideline records</description>
    <environments>Default</environments>
    <interviewLabel>Appintment- Check Conidiations In Guidelines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appintment- Check Conidiations In Guidelines</label>
    <loops>
        <description>Loop and check if required_documents__c == True</description>
        <name>Loop_over_Guideline_c</name>
        <label>Loop over Guideline__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Guidelines_c_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_required_documents_is_not_empty</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_appointment</name>
        <label>get appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_appointment_record_to_rv_appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appointment_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Guidelines__c records where the based on GUIDENCE SCENARIO</description>
        <name>Get_Guidelines_c_records</name>
        <label>Get Guidelines__c records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_reccords_found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline4__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline5__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline6__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline7__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline8__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline9__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline10__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline11__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline12__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline13__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline14__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline15__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline16__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline17__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline19__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline20__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.Guideline21__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.guideline22__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_AppointmentFromInput.Guidance_Scenario__r.guideline23__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Guidelines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_id_appointment_id_is_not_empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointment_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_AppointmentFromInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <description>This records is return from flow if REquired_ddocuments__c is true</description>
        <name>RV_Guideline_with_req_docs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Guidelines__c</objectType>
    </variables>
</Flow>
