force-app/main/default/flows/Appointment_s_Details_Institutions_New_App_PB_to_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Appointment</name>
        <label>Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Site_Sequence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Domain</name>
        <label>Domain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Medical_Procedure__r.Domain__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Details_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>genetic_reminder_flow</name>
        <label>genetic_reminder_flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.genetic_reminder_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.resend_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.sent_kit_confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kit_Inst_Genetic_Consultation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resend_kit</name>
        <label>resend_kit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.resend_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.sent_kit_confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resend_kit_2</name>
        <label>resend_kit 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.resend_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.sent_kit_confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resend_kit_3</name>
        <label>resend_kit 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.resend_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.sent_kit_confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resend_kit_4</name>
        <label>resend_kit 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.resend_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>App_Temp.sent_kit_confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sequence</name>
        <label>Sequence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>App_Temp.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Domain</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We have 3 outcomes here:
1. Send the appointment details via Email for default appointments.
2. Send the appointment details via Email for Telemedicine Ambulatory appointments. 
3. The default outcome - which is the other appointments that need a different email template.</description>
        <name>Appointment_Details_Email</name>
        <label>Appointment Details, Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GeneticConsultingEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Details_Email2</name>
            <conditionLogic>(1 and 2 and (3 or 4) and 5 and (6 or 7) and 8 and 9 and (10 or 14 or 15) and 11 and 12 and 13 and 16 and 17 and 18 and 19 and 20 and 21 and 22 and 23 and (24 or 25 or 26 or 27) and 28 and 29 and 30 and 31 and 32 and 33 and 34 and 35 and 36 and 37 and 38 and 39 and 40 and 41 and 42 and 43 and 44 AND 45) and 46 and 47</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>וידוא הגעה לפגישה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sent_kit_confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.preferd_chanal_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>760904</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.resend_kit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.email_from_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6621</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6622</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6623</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6624</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6627</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6628</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Reminder_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>55</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agent_reason_to_cancel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>נציג לא קבע תור בצורה תקינה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6633</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6634</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6629</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6630</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6635</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6636</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992501</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992502</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6650</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6654</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Virtual_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992503</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.emailExclude__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_Assuta_Ashdod_Kit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appointment Details, Email</label>
        </rules>
        <rules>
            <name>emailExclude_is_true</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.emailExclude__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sent_kit_confirmation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_TelemedicineAmbulatory</targetReference>
            </connector>
            <label>emailExclude is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_Details_Email3</name>
        <label>Appointment, Details, Email2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>All_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Details_Email4</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 or 7) and 8 and 9 and 10 and 14 and 15 and 11 and 12 and 13  and 16 and 17 and 18 and 19 and 20 and (21 or 22 or 23 or 24) and 25 and 26 and (27 or 28) and 29 and 30 and 31 and 32 and 33 and 34 and 35 and 36 and 37 and 38 and 39 and 40 and 41 and 42</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>וידוא הגעה לפגישה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.preferd_chanal_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>760904</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.email_from_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6621</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6622</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6623</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6624</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6627</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6628</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Reminder_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>55</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agent_reason_to_cancel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>נציג לא קבע תור בצורה תקינה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6633</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6634</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6629</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> 6630</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6635</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6636</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992501</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992502</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6650</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6654</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Virtual_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>992503</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod_site</targetReference>
            </connector>
            <label>Appointment, Details, Email2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod_site</name>
        <label>Ashdod site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>All_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.resend_kit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_Assuta_Kit_Inst_Ashdod_MRI_20223</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GeneticConsultingEmail</name>
        <label>יועצת גנטית- Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Virtual_Appointment_Details_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GeneticConsulting_Email</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 or 7) and 8 and 9 and (10 or 15 or 16) and 11 and (12 or 13 or 14) and 17 and 18 and (19 or 20 or 21 or 22) and 23 and 24 and 25 and 26 and 27 and 28</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>וידוא הגעה לפגישה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sent_kit_confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.preferd_chanal_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>992503</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>992501</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>992502</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.resend_kit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.email_from_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Reminder_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>55</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agent_reason_to_cancel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>נציג לא קבע תור בצורה תקינה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_Assuta_Kit_Inst_Genetic_Consultation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>יועצת גנטית- Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Site_Sequence</name>
        <label>Same Site Sequence?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Domain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Site_Sequence1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.after_appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.after_appointment__r.Site__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sequence</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Same Site Sequence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Domain</name>
        <label>Update Domain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Appointment_Details_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Domain2</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Domain__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Domain__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Medical_Procedure__r.Domain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Domain</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Domain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Virtual_Appointment_Details_Email</name>
        <label>Virtual Appointment Details, Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Appointment_Details_Email3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_Appointment_Details_Email2</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 or 7) and 8 and 9 and (10 or 13 or 14) and 11 and 12 and 15 and 16 and (17 or 18 or 19 or 20) and 21 and 22 and 23 and 24 and 25 and 26 and 27</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>וידוא הגעה לפגישה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sent_kit_confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.preferd_chanal_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.resend_kit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.email_from_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Reminder_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PatientType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>55</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agent_reason_to_cancel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>נציג לא קבע תור בצורה תקינה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Virtual_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_Assuta_Kit_Virtual_Inst</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Virtual Appointment Details, Email</label>
        </rules>
    </decisions>
    <description>AM: 03072025- 2033460067- FIX BY SERGEY
AM: 09072025- 2041394539- HARD CODED IDS FIX
YL: 15.07.2025 Added desition to update Domain (only if user is not Ensamble)
AM: 22122025- 2545503590 - FIX SENDING EMAIL FOR ASHDOD</description>
    <environments>Default</environments>
    <formulas>
        <name>fISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()||(ISBLANK({!$Record__Prior.Accession_Number__c})&amp;&amp;NOT(ISBLANK({!$Record.Accession_Number__c})))</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Appointment&apos;s Details - Institutions - New App PB to Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment&apos;s Details - Institutions - New App PB to Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Kit_Inst_Genetic_Consultation</name>
        <label>Kit Inst- Genetic Consultation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow - Appointment&apos;s Details - Institutions - New App PB to Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Assuta_Kit_Inst_Genetic_Consultation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Get_Email_Template_Id_Assuta_Kit_Inst_Genetic_Consultation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No-Reply-Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>אסותא - תור לייעוץ גנטי</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Case__r.email_from_patient__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_email_virtual_appointment_details2</name>
        <label>Send email virtual appointment details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resend_kit_3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow - Appointment&apos;s Details - Institutions - New App PB to Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Assuta_Kit_Virtual_Inst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Get_Email_Template_Id_Assuta_Kit_Virtual_Inst.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Email_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_email_with_appointment_details3</name>
        <label>Send email with appointment details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resend_kit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow - Appointment&apos;s Details - Institutions - New App PB to Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Assuta_Kit_Inst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Get_Email_Template_Id_Assuta_Ashdod_Kit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Email_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Email_With_Appointment_Details_Ashdod</name>
        <label>Send Email With Appointment Details Ashdod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resend_kit_4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow - Appointment&apos;s Details - Institutions - New App PB to Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Assuta_Kit_Inst_Ashdod_MRI_20223</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Get_Email_Template_Id_Assuta_Kit_Inst_Ashdod_MRI_20223.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Email_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Home_Telemedicine_Ambulatory_email_with_appointment_details</name>
        <label>Send Home Telemedicine Ambulatory email with appointment details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resend_kit_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow - Appointment&apos;s Details - Institutions - New App PB to Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>TelemedicineAmbulatory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Get_Email_Template_Id_TelemedicineAmbulatory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>אסותא - תור לטיפול מרחוק</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Email_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template_Id_Assuta_Ashdod_Kit</name>
        <label>Get Email Template Id- Assuta Ashdod Kit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_with_appointment_details3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assuta_Kit_Inst</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_Assuta_Kit_Inst_Ashdod_MRI_20223</name>
        <label>Get Email Template Id- Assuta_Kit_Inst_Ashdod_MRI_20223</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_With_Appointment_Details_Ashdod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assuta_Kit_Inst_Ashdod_MRI_20223</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_Assuta_Kit_Inst_Genetic_Consultation</name>
        <label>Get Email Template Id- Assuta_Kit_Inst_Genetic_Consultation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>genetic_reminder_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assuta_Kit_Inst_Genetic_Consultation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_Assuta_Kit_Virtual_Inst</name>
        <label>Get Email Template Id- Assuta_Kit_Virtual_Inst</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_virtual_appointment_details2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assuta_Kit_Virtual_Inst</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_TelemedicineAmbulatory</name>
        <label>Get Email Template Id- TelemedicineAmbulatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Home_Telemedicine_Ambulatory_email_with_appointment_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TelemedicineAmbulatory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>All_Updates</name>
        <label>All Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>App_Temp</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment</targetReference>
        </connector>
        <filterFormula>not(ischanged({!$Record.isRemainder1WAsent__c}))
&amp;&amp;
not(ischanged({!$Record.isRemainder2WAsent__c}))</filterFormula>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>App_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
