force-app/main/default/flows/Appointment_Send_WA_No_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Prevent_Messaging</name>
        <label>Check Prevent Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PreventMessagingUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Checking_The_Conditions_For_Sending_WA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Prevent_Messaging_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appointment</name>
            <value>
                <elementReference>Get_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PreventMessagingUtils</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>WhatsApp</name>
        <choiceText>WhatsApp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whats App</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checking_The_Conditions_For_Sending_WA</name>
        <label>Checking The Conditions  For Sending WA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sent</defaultConnectorLabel>
        <rules>
            <name>Send_Whats_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointment.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Appointment.Outbound_WA_Allow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Prevent_Messaging.isPrevented</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery_Flow</targetReference>
            </connector>
            <label>Send Whats App</label>
        </rules>
    </decisions>
    <description>10.4 - עבור כפתור ברשומה מסוג &quot;בדיקה&quot; שבודק האם הפגישה עומדת בתנאי שליחת WA, אם כן ישלח מסר ואם לא יופיע מסך שהפגישה לא עומדת בתנאים לשליחת WA.
AM: 30112025- 2150382332 - prevent massaging action added before sending WA
AM: 03052026- 2886873387- add automation name.</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTime_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Appointment - Send WA No Response&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Send WA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment - Send WA No Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Prevent_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display</name>
        <label>הפגישה לא עומדת בתנאים לשליחת WA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; color: rgb(50, 51, 56);&quot;&gt;הפגישה לא עומדת בתנאיים לשליחת   וואטסאפ או שיש רשומת מניעת מסרים    פעילה  &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; color: rgb(50, 51, 56);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;(appointment manager)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prevent_Messaging_Screen</name>
        <label>Prevent Messaging Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreventMessagingDisplay</name>
            <fieldText>&lt;p&gt;פעולת בדיקת מניעת מסרים נכשלה . זו השגיאה: &lt;/p&gt;&lt;p&gt;{!Check_Prevent_Messaging.errorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WhatsAppOkScreen</name>
        <label>נשלח בהצלחה WhatsApp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>חזרה</backButtonLabel>
        <fields>
            <name>Display_Text_WhatsApp</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;ההודעה נשלחה בהצלחה!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>send WA via flow</description>
        <name>Outbound_WA_for_Surgery_Flow</name>
        <label>Outbound WA for Surgery Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatsAppOkScreen</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Appointment.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>Get_Appointment.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>Get_Appointment.Patient_Account__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>reminder2_mri</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MP_Name</name>
            <value>
                <elementReference>Get_Appointment.Medical_Procedure__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>Get_Appointment.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyLink</name>
            <value>
                <elementReference>Get_Appointment.formtitan_arrival_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvWhatsApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WhatsApp__c</objectType>
    </variables>
</Flow>
