force-app/main/default/flows/Appointment_PB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Appointment_RecordId</name>
        <label>Assign Appointment RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Trigger_for_PreSurgerySFToMetavision_interface</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Private_room_code_changed_by</name>
        <label>Private room code changed by</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Private_room_code_changed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNameAndGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_private_room_changed_by</name>
        <label>Status private room changed by</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Status_private_room_changed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Full_Name_Helper__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Private_room_code_changed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNameAndGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Private_room_code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appointment_Insurance_Company_field</name>
        <label>Update Appointment Insurance Company field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.AppointmentInsurance_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayerFactor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payer_Factor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appointment_Payer_Factor_fields</name>
        <label>Update Appointment Payer Factor fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.PayerFactor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payer_Factor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Payer_Factor_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payer_Factor.InsuranceCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RT_Surgery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appointment_Sent2ClinicApp_to_False</name>
        <label>Update Appointment Sent2ClinicApp to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Sent2ClinicApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referral_physician_contact_according_to_license</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appointments_PS_result_change</name>
        <label>Update Appointments PS result change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyResults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>נדרשת הערכה במרפאת טרום ניתוח</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>The_commitment_is_valid_for_surgeries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Exact_Location_in_Domain_populate</name>
        <label>Update Exact Location in Domain populate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Exact_Location_In_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site__r.Location_for_Surgery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Payer_Factor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Payer_Factor</name>
        <label>Change Payer Factor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RT_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Notes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>internet_site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payer_Factor_exclude_code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment_Insurance_Company_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exact_Location_in_Domain_for_Surgery</name>
        <label>Exact Location in Domain for Surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Change_Payer_Factor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>populate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exact_Location_In_Domain__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site__r.Location_for_Surgery__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exact_Location_in_Domain_populate</targetReference>
            </connector>
            <label>populate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Payer_Factor</name>
        <label>Found Payer Factor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment_Payer_Factor_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payer_Factor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Surgery</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_check</name>
        <label>Medical Procedure check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exact_Location_in_Domain_for_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure1__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sand_Message</targetReference>
            </connector>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreSurgery</name>
        <label>PreSurgery field changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>The_commitment_is_valid_for_surgeries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>changed_to_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreSurgMedProcedure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreSurgMedProcedure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PercentageOfCompletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointments_PS_result_change</targetReference>
            </connector>
            <label>changed to Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Private_room_code_changed</name>
        <label>Private room code changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Private_room_code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_room_code_changed_by</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_physician_contact_according_to_license</name>
        <label>קשר רופא מפנה לפי רישיון</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Sending_an_email_to_a_specialist_clinic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Doctor_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Doctor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referral_Doctor_on_Appointment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Surgery</name>
        <label>RT Surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Surgery</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Private_room_code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_private_room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_private_room_changed</targetReference>
            </connector>
            <label>Surgery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sand_Message</name>
        <label>Sand Message?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exact_Location_in_Domain_for_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sand_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message</targetReference>
            </connector>
            <label>Yes- Sand Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sending_an_email_to_a_specialist_clinic</name>
        <label>שליחת מייל למרפאת מומחים</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PreSurgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (11 OR (6 AND 7 AND 8)) AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinic__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clinic_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Doctor_Arrangement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Doctor_Arrangement__r.Arrangement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Doctor_Arrangement__r.Doctor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Doctor_Arrangement__r.Doctor__r.Experts_center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>internet_site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinic_Email_1</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>חלק מפרויקט תהליכי טרום ניתוח עולה דרישה לבצע אוטומציה שתעדכן את שדה Sent2ClinicApp__c באובייקט Appointment__c מערך True לערך False לאחר עדכון של שדות מסוימים בפגישה על מנת שהממשק (PreSurgerySFToMetavsion) יוכל למשוך את הפגישה שוב במידה ומתבצעים שינויים רלוונטיים.</description>
        <name>Set_Trigger_for_PreSurgerySFToMetavision_interface</name>
        <label>Set Trigger for PreSurgerySFToMetavision interface</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Referral_physician_contact_according_to_license</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trig_Conditions_TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PercentageOfCompletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Organ_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Organ_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Organ_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Organ_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Side_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Side_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Side_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Side_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment_Sent2ClinicApp_to_False</targetReference>
            </connector>
            <label>Trig Conditions TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_private_room_changed</name>
        <label>Status private room changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Private_room_code_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_private_room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_private_room__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_private_room_changed_by</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>The_commitment_is_valid_for_surgeries</name>
        <label>התחיבות תקינה לניתוחים</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exact_Location_in_Domain_for_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND (5 or 6 or 7)) or (1 and 8 and 3 and 4 and (5 or 6 or 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בטיפול אדמיניסטרטיבי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForAppointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayerFactor__r.Insurance_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayerFactor__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>לאומית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayerFactor__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>מאוחדת</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Commitment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_check</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message</name>
        <label>Which Message?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>logic_to_send_institute_sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_proper_commitment_new</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <description>Addedd PB - Set Trigger for PreSurgerySFToMetavision
23.12 -  Add Update for Payer_Factor_Code__c on Element Payer Factor fields.
AM: 22012025- Task 20579- refactor flow
AM: 18022024- FIX (no task for this. only mail)- changed Full_Name_Helper__c to come from Record.LastModifiedBy.Full_Name_Helper__c
25.02 - added field update for sending reminder 30 days from appointment date
AM: 11032025- item id: 1859095918- private room- changes
AM: 17032025- 1863823235 - Update conditions for sms sending
AM: 15052025- 1956850939- הוספת צוות לשדה סטטוס חדר פרטי שונה על ידי
AM:  03062025- 1986055050- הוספת ״צוות״ בפגישה ניתוחית
YL: 16122025 - added 41 to Payer_Factor_exclude_code parameter (Asya - Azure 17529)
AM: 27042026-- added tvautomation name as input for subflow &quot;logic to send institute sms&quot;. and some places</description>
    <environments>Default</environments>
    <formulas>
        <name>Appointment_Date_in_more_90_days</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Appointment_Date__c} &gt;= today() +90</expression>
    </formulas>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Appointment PB&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <description>user form modified by</description>
        <name>fNameAndGroup</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.Full_Name_Helper__c}+&apos;,  &apos;+TEXT({!$Record.LastModifiedBy.Group__c})</expression>
    </formulas>
    <formulas>
        <name>Payer_Factor_exclude_code</name>
        <dataType>Boolean</dataType>
        <expression>and(
 {!$Record.PayerFactor__c} &lt;&gt; null,
 {!$Record.PayerFactor__r.InsuranceCode__c} &lt;&gt; &apos;0&apos;,
 {!$Record.PayerFactor__r.InsuranceCode__c} &lt;&gt; &apos;9&apos;,
 {!$Record.PayerFactor__r.InsuranceCode__c} &lt;&gt; &apos;41&apos;,
 {!$Record.PayerFactor__r.InsuranceCode__c} &lt;&gt; &apos;24&apos;)</expression>
    </formulas>
    <interviewLabel>Appointment PB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment PB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Payer_Factor</name>
        <label>Payer Factor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Payer_Factor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsuranceCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payer_Factor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Appointment_RecordId</targetReference>
        </connector>
        <filterFormula>not(ischanged({!$Record.isRemainder1WAsent__c}))
&amp;&amp;
not(ischanged({!$Record.isRemainder2WAsent__c}))</filterFormula>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clinic_Email_1</name>
        <label>Clinic_Email 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PreSurgery</targetReference>
        </connector>
        <flowName>Clinic_Email_1</flowName>
        <inputAssignments>
            <name>APT_SFID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CLINIC_SFID</name>
            <value>
                <elementReference>$Record.Clinic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DOC_SFID</name>
            <value>
                <elementReference>$Record.Case__r.Doctor_Arrangement__r.Doctor__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>logic_to_send_institute_sms</name>
        <label>logic to send institute sms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Exact_Location_in_Domain_for_Surgery</targetReference>
        </connector>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sms_Developer_Name</name>
            <value>
                <stringValue>Proper_commitment_New</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_proper_commitment_new</name>
        <label>Send proper_commitment_new</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Exact_Location_in_Domain_for_Surgery</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>proper_commitment_new</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Referral_Doctor_on_Appointment</name>
        <label>Set Referral Doctor on Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sending_an_email_to_a_specialist_clinic</targetReference>
        </connector>
        <flowName>Set_Referral_Doctor_on_Appointment</flowName>
        <inputAssignments>
            <name>APT_SFID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>doc_code_text</name>
            <value>
                <elementReference>$Record.Referral_Doctor_Text__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendar1__c</objectType>
    </variables>
    <variables>
        <name>rvAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
