force-app/main/default/flows/Appointement_After_Save_Update_Account_endPotentialDate360.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Medical_Procedure_Code_Connected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Biopsy_Results_Recieved</name>
        <label>Assign  התקבלו תשובות פתולוגיות</label>
        <locationX>1018</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Biopdy_Results_Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_end_Potential_Date_360</name>
        <label>Assign end Potential Date 360</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.endPotentialDate360__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDatePlus2Months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Consultation_Date</name>
        <label>Assign Initial Consultation Date</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Initial_Consultation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Consultations</name>
        <label>Assign ממתין לייעוץ ראשוני</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting_For_Initial_Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_If_Appointment_TookPlace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Surgery_Biopsy_Date_And_Waiting_For_Biopsy_Results</name>
        <label>Assign Initial Surgery / Biopsy Date And Waiting For Biopsy Results</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Surgery_Biopsy_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting_For_Biopsy_Results</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Results_Recived</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Institutes_MRI_PET_CT</name>
        <label>Assign נמצא בתהליך בירור</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under_Examination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mens_Health_Clinic_Patient</name>
        <label>Assign מטופל מרפאת בריאות הגבר</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Record.Initial_Consultation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_Consultations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repeated_Consultation_Experts</name>
        <label>Assign ממתין לביקורת</label>
        <locationX>1590</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting_For_Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Appointment_TookPlace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surgeries_Biopsy</name>
        <label>Assign ממתין לניתוח \ ביופסיה</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting _For_Surgery_Biopsy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Check_If_Appointment_TookPlace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tracking</name>
        <label>Assign מעקב</label>
        <locationX>1458</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Men_s_Health_Clinic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tracking</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Appointment_TookPlace</name>
        <label>Check If Appointment TookPlace</label>
        <locationX>1590</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TookPlace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tracking</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Results_Recived</name>
        <label>Check If Results Recived</label>
        <locationX>1150</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Results_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Biopsy_Results_Recieved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checked_if_Passed_180_Days_Since_Initial_Consultation_Or_Surgery_Biopsy</name>
        <label>Checked if Passed 180 Days Since Initial Consultation Or Surgery\Biopsy</label>
        <locationX>1744</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Initial_Consultations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Passed 180 Days</defaultConnectorLabel>
        <rules>
            <name>Not_Passed_180_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Days_From_Initial_Consul__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Account__r.Days_From_Surgery_Biopsy__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Repeated_Consultation_Experts</targetReference>
            </connector>
            <label>Not Passed 180 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_Appointment_TookPlace</name>
        <label>Check If Appointment TookPlace</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TookPlace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Consultation_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_If_Appointment_TookPlace</name>
        <label>Check If Appointment TookPlace</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_If_Results_Recived</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Surgery_Biopsy_Date_And_Waiting_For_Biopsy_Results</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Medical_Procedure_Code_Connected</name>
        <label>Which Medical Procedure Code Connected?</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medical_Procedures_For_YadBeYad_Bot</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>760922</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>191055</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>76097</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72145</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7609041</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>76093</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_end_Potential_Date_360</targetReference>
            </connector>
            <label>Medical Procedures For YadBeYad Bot</label>
        </rules>
        <rules>
            <name>Initial_Consultations_Experts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99820</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99825</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99822</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mens_Health_Clinic_Patient</targetReference>
            </connector>
            <label>Initial Consultations (Experts)</label>
        </rules>
        <rules>
            <name>Institutes_MRI_PET_CT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>74784</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80017</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Institutes_MRI_PET_CT</targetReference>
            </connector>
            <label>Institutes MRI \ PET CT</label>
        </rules>
        <rules>
            <name>Surgeries_Biopsy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.43</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.12</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>56.90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>57.328</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>57.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.21</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>76875</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60.24</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Surgeries_Biopsy</targetReference>
            </connector>
            <label>Surgeries \ Biopsy</label>
        </rules>
        <rules>
            <name>Repeated_Consultation_Experts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99821</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99823</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_if_Passed_180_Days_Since_Initial_Consultation_Or_Surgery_Biopsy</targetReference>
            </connector>
            <label>Repeated Consultation (Experts)</label>
        </rules>
    </decisions>
    <description>Eden: 18.8: הוספה בצומת החלטה לממתין לניתוח או ביופסיה 2 פרוצדורות: 76875, 60.24 (פרוייקט מרפאת בריאות הגבר)</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDatePlus2Months</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Appointement After Save Update Account  endPotentialDate360 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointement After Save Update Account  endPotentialDate360</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1106</locationX>
        <locationY>1331</locationY>
        <inputReference>Account_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
