force-app/main/default/flows/Area2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Update Area for Patient according to his city {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEL_Update Area for Patient according to his city</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record_Patient</name>
        <label>get record Patient</label>
        <locationX>286</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSett</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDpatientFromProcess</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountV</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ID_Number__c</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSett</name>
        <label>GetSett</label>
        <locationX>502</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_at_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountV.PersonMailingCity</elementReference>
            </value>
        </filters>
        <object>settlement__c</object>
        <outputAssignments>
            <assignToReference>AreaName</assignToReference>
            <field>Area__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_at_account</name>
        <label>update at account</label>
        <locationX>734</locationX>
        <locationY>41</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDpatientFromProcess</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <elementReference>AreaName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_record_Patient</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AreaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDpatientFromProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
