force-app/main/default/flows/Assuta_Files_On_Creation_Actions_and_Related_Records_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_it_a_Pain_Clinic_Assuta_File</name>
        <label>Is it a Pain Clinic Assuta File?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Reset_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pain_Clinic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pain_Clinic_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Trigger</targetReference>
            </connector>
            <label>Pain Clinic</label>
        </rules>
    </decisions>
    <description>User Story 19136</description>
    <environments>Default</environments>
    <interviewLabel>Assuta Files - On Creation - Actions and Related Records flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assuta Files - On Creation - Actions and Related Records flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sent_notification_to_Pain_Clinic</name>
        <label>sent notification to Pain Clinic</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Assuta Files - On Creation - Actions and Related Records flow  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>EmailTemplate_1730272455218</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00XJ7000001AAWEMA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>AssutaService@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Pain_Clinic_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Sent_notification_to_Sleep_Clinic</name>
        <label>Sent notification to Sleep Clinic</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Assuta Files - On Creation - Actions and Related Records flow  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>EmailTemplate_1731853295519</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00XJ7000001AAZmMAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>AssutaService@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <stringValue>Sleep2@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Copy_1_of_Reset_Trigger</name>
        <label>Reset Trigger</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Sent_notification_to_Sleep_Clinic</targetReference>
        </connector>
        <inputAssignments>
            <field>Sleep_Clinic_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Trigger</name>
        <label>Reset Trigger</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>sent_notification_to_Pain_Clinic</targetReference>
        </connector>
        <inputAssignments>
            <field>Pain_Clinic_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_a_Pain_Clinic_Assuta_File</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Pain_Clinic_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sleep_Clinic_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>File__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
