force-app/main/default/flows/Assuta_File_Send_WA_When_Received_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Appointment_Exist</name>
        <label>Check If Appointment Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_WhatsApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_WA_conditions_App</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>בדיקה האם הפגישה שמקושר למסמך מקושרת לאחת מפרוצדורות של אסותא ONE</description>
        <name>Check_If_Appointment_r_Medical_Procedure_Is_Assuta_ONE_Or_Else</name>
        <label>Check If Appointment__r.Medical_Procedure Is Assuta ONE Or Else</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_MetaData_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Template</defaultConnectorLabel>
        <rules>
            <name>Assuta_ONE_Summary_Of_OutPatients_Clinics</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99181</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99184</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99186</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.file_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>791</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Outbound_WA_for_Surgery_Flow</targetReference>
            </connector>
            <label>Assuta ONE - סיכום ביקור</label>
        </rules>
        <rules>
            <name>Assuta_ONE_Discharge_Paper</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99181</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99184</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99186</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.file_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>931</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Outbound_WA_for_Surgery_Flow</targetReference>
            </connector>
            <label>Assuta ONE - מכתב שחרור</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_WA_conditions_App</name>
        <label>Checking WA conditions App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnsembleWhatsappApprove__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Appointment_r_Medical_Procedure_Is_Assuta_ONE_Or_Else</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Is_Updated</name>
        <label>File Is Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_File_From_Natav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Check_If_Appointment_Exist</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISNEW_Or_ISCHANGED</name>
        <label>ISNEW Or ISCHANGED</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>File_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>ISNEW_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uploaded_To_Personal_Area</targetReference>
            </connector>
            <label>ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_WhatsApp</name>
        <label>Send WhatsApp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_WhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Mailing_approval__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>לא מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnsembleWhatsappApprove__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_MetaData</targetReference>
            </connector>
            <label>Yes- Send WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Uploaded_To_Personal_Area</name>
        <label>Uploaded To Personal Area</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>File_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded_To_Personal_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Appointment_Exist</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_WA_Template_to_Use</name>
        <label>Which WA Template to Use?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Outbound_WA_for_Surgery_Flow_results_wa_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>results_wa_2 (Test Results)</defaultConnectorLabel>
        <rules>
            <name>Without_Appointment_general_file_General_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery_Flow_general_file</targetReference>
            </connector>
            <label>Without Appointment general_file (General Document)</label>
        </rules>
        <rules>
            <name>Without_Appointment_summary_file_Appointment_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery_Flow_summary_file_0</targetReference>
            </connector>
            <label>Without Appointment summary file (Appointment Summary)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_WA_Template_to_Use_0</name>
        <label>Which WA Template to Use?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>With_Appointment_Outbound_WA_for_Surgery_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>results_wa_2 (Test Results)</defaultConnectorLabel>
        <rules>
            <name>With_Appointment_general_file_General_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData_0.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>With_Appointment_Outbound_WA_for_Surgery_Flow_general_file</targetReference>
            </connector>
            <label>With Appointment general_file (General Document)</label>
        </rules>
        <rules>
            <name>summary_file_Appointment_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData_0.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery_Flow_summary_file</targetReference>
            </connector>
            <label>summary_file  (Appointment Summary)</label>
        </rules>
    </decisions>
    <description>משימה 1882570039 - שליחת מסרון תוצאות בדיקה בWA
Eden: 4.8 - הוספת תנאי לשליחת WA - Confidentiality_test_results__c = false
Eden: 5.8 - מחיקת תנאי לשליחת WA - Confidentiality_test_results__c = false והוספה תנאי EnsembleWhatsappApprove__c = True
Eden 12.8 - מחיקת עדכון שדה Results Received
Eden 30.9 - 2142891342 - החרגת מסר של מסמך שעלה לאזור האישי בWA לאסותא ONE
AM: 19102025- add check for assuta one alsow by site= 12.
AM: 26112025- 2535880920- removal of site code = 12 for assuta one WA (so its not limited to this site)
AM: 04012025- 2588026882- שליחת ואטסאפ מסמכים באזור האישי - הרחבת תהליך  - here is just the sending. field update is in     
       Triggered_Assuta_File_Create_Or_Update_Before_Save  and not related to this flow at all.</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Assuta File - Send WA When Received Results&apos;+ &apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>fTODAY_In_Text</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(TODAY())), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
LPAD(TEXT(MONTH(TODAY())), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Assuta File - Send WA When Received App Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assuta File - Send WA When Received Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_MetaData</name>
        <label>Get Custom MetaData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_WA_Template_to_Use</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.file_type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Type_For_WA_In_Private_Zone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_MetaData_0</name>
        <label>Get Custom MetaData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_WA_Template_to_Use_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.file_type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Type_For_WA_In_Private_Zone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ISNEW_Or_ISCHANGED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_File_From_Natav__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Outbound_WA_for_Surgery_Flow</name>
        <label>Outbound WA for Surgery Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>assuta1_file_release</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>Private Services</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Outbound_WA_for_Surgery_Flow</name>
        <label>Outbound WA for Surgery Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.Account__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>assuta1_file_summary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>Private Services</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery_Flow_general_file</name>
        <label>Outbound WA for Surgery Flow- general_file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Appointment_Date_In_Text</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>general_file</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TODAY_In_Text</name>
            <value>
                <elementReference>fTODAY_In_Text</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery_Flow_results_wa_2</name>
        <label>Outbound WA for Surgery Flow- results_wa_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>results_wa_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery_Flow_summary_file</name>
        <label>Outbound WA for Surgery Flow- summary_file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Appointment_Date_In_Text</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>summary_file</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery_Flow_summary_file_0</name>
        <label>Outbound WA for Surgery Flow- summary_file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Appointment_Date_In_Text</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>summary_file</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>With_Appointment_Outbound_WA_for_Surgery_Flow</name>
        <label>With Appointment Outbound WA for Surgery Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>results_wa_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>With_Appointment_Outbound_WA_for_Surgery_Flow_general_file</name>
        <label>With Appointment Outbound WA for Surgery Flow- general_file</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Appointment_Date_In_Text</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppointmentDateNATAV</name>
            <value>
                <elementReference>$Record.AppointmentDateNATAV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>general_file</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TODAY_In_Text</name>
            <value>
                <elementReference>fTODAY_In_Text</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Record_App</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
