force-app/main/default/flows/Auto_Update_Recommendation_After_Examination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Data</name>
        <label>Assign Case Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.more_than_one_recom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recommendation_After_Examination_Data_Change_Moked</name>
        <label>Assign Recommendation After Examination Data Change (Moked)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G4J000001fKe0UAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_More_Then_One_Recommendation_For_The_Same_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recommendation_After_Examination_Data_Change_Queue</name>
        <label>Assign Recommendation After Examination Data Change (Queue )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G4J000000oKRkUAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_More_Then_One_Recommendation_For_The_Same_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign recommendation after examination Data (Close Recommendation)</description>
        <name>Assign_recommendation_after_examination_Data_Close_Recommendation</name>
        <label>Assign recommendation after examination Data (Close Recommendation)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Close_Reason_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>not_relevant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Status_recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>נסגר ללא טיפול המשך</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Patient_From_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recommendation_After_Examination_Data_Copy_Patient</name>
        <label>Assign Recommendation After Examination Data (Copy Patient)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Patient_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Referral_Doctor_From_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recommendation_After_Examination_Data_Copy_Referral_Doctor</name>
        <label>Assign Recommendation After Examination Data (Copy Referral Doctor)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Referral_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Referral_Doctor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner_Queue_Or_Moked_By_Agents_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>i dont use HC ids... but i do not touch legacy PBs as well...</description>
        <name>Assign_Recommendation_After_Examination_Data_Same_Agent</name>
        <label>Assign Recommendation After Examination Data (Same Agent)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Case360__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAssignOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Status_recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>הומר לאירוע קיים</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvRecommendationAfterExamUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvRecommendationAfterExaminationTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Owner_Queue_Or_Moked_By_Agents_Choice</name>
        <label>Change Owner? (Queue Or Moked-By Agents Choice)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Got_More_Then_One_Recommendation_For_The_Same_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Change_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.RecommendationsType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.RecommendationsType__r.action_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>התערבות נציג</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Already_received_recom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_Handles</targetReference>
            </connector>
            <label>Yes- Change Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Recommendation</name>
        <label>Close Recommendation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_Patient_From_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Close_Recommendation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.RecommendationsType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.RecommendationsType__r.action_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אוטומציה סגירת המלצה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Status_recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חדש</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Already_received_recom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recommendation_after_examination_Data_Close_Recommendation</targetReference>
            </connector>
            <label>Yes- Close Recommendation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Copy Patient From Appointment?</description>
        <name>Copy_Patient_From_Appointment</name>
        <label>Copy Patient From Appointment?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_Referral_Doctor_From_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Copy_Patient_From_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recommendation_After_Examination_Data_Copy_Patient</targetReference>
            </connector>
            <label>Yes- Copy Patient From Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Referral_Doctor_From_Appointment</name>
        <label>Copy Referral Doctor From Appointment?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Change_Owner_Queue_Or_Moked_By_Agents_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Copy_Referral_Doctor_From_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Referral_Doctor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Referral_Doctor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recommendation_After_Examination_Data_Copy_Referral_Doctor</targetReference>
            </connector>
            <label>Yes- Copy Referral Doctor From Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_More_Then_One_Recommendation_For_The_Same_Appointment</name>
        <label>Got More Then One Recommendation For The Same Appointment?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Then_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Already_received_recom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Patient_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recommendation_After_Examination_Data_Same_Agent</targetReference>
            </connector>
            <label>Yes- More Then One</label>
        </rules>
    </decisions>
    <decisions>
        <description>api names of the queue is different between UAT and Prod... but record id is the same. i got this shit and did not created it.</description>
        <name>Who_Handles</name>
        <label>Who Handles?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Got_More_Then_One_Recommendation_For_The_Same_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.who_treat__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>מוקד</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recommendation_After_Examination_Data_Change_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>Moked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvRecommendationAfterExaminationTrig.who_treat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מוקד</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recommendation_After_Examination_Data_Change_Moked</targetReference>
            </connector>
            <label>Moked</label>
        </rules>
    </decisions>
    <description>AM: 12032026- 2772692670- PB TO FLOW- new_recommandation_360  (PB NAME: כניסת המלצה על בדיקה - 360  v14 was the last 
        active version in PB)</description>
    <environments>Default</environments>
    <formulas>
        <name>fAssignOwner</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__r.OwnerId},3) = &quot;005&quot;, {!rvRecommendationAfterExaminationTrig.Related_Appointment__r.Case_360__r.OwnerId}, &quot;00G4J000000oKRkUAM&quot;)</expression>
    </formulas>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Auto- Update Recommendation After Examination&apos;+&apos; ||| &apos;+ &apos;Triggered By: &apos;+{!tvAutomationName}</expression>
    </formulas>
    <interviewLabel>Auto- Update Recommendation After Examination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto- Update Recommendation After Examination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Recommendation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rvCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rvRecommendationAfterExaminationTrig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendations_after_exam__c</objectType>
    </variables>
    <variables>
        <name>rvRecommendationAfterExamUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Recommendations_after_exam__c</objectType>
    </variables>
    <variables>
        <name>tvAutomationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
