force-app/main/default/flows/Auto_Set_Room_Limitation_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Appointment_Data_Room_Limitation_Time</name>
        <label>Assign Appointment Data (Room Limitation Time)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointmentUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAppointmentTrig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointmentUpdate.Limitation_Time_Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRoomLimitationTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointmentUpdate.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Set_Room_Limitation_Time</name>
        <label>Set Room Limitation Time?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Room_Limitation_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAppointmentTrig.Help_Parent_Code_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAppointmentTrig.Help_Parent_Code_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAppointmentTrig.Help_Parent_Code_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAppointmentTrig.Help_Parent_Code_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAppointmentTrig.Help_Parent_Code_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Room_Limitation_Time</targetReference>
            </connector>
            <label>Yes- Set Room Limitation Time</label>
        </rules>
    </decisions>
    <description>AM:06042026- 2822289047- pb to flow- BREAKDOWN OF &quot;Surgery appointment&quot; pb</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Auto- Set Room_Limitation Time&apos;+&apos; ||| &apos;+&apos; Triggered By: &apos;+{!tvAutomationName}</expression>
    </formulas>
    <formulas>
        <name>fRoomLimitationTime</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure__r.Limit_Time__c})),{!rvAppointmentTrig.Medical_Procedure__r.Limit_Time__c} , 
IF((NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure2__c}))&amp;&amp; NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure2__r.Limit_Time__c} ))),{!rvAppointmentTrig.Medical_Procedure2__r.Limit_Time__c}, 
IF((NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure3__c}))&amp;&amp; NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure3__r.Limit_Time__c} ))),{!rvAppointmentTrig.Medical_Procedure3__r.Limit_Time__c},
IF((NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure4__c}))&amp;&amp;
NOT(ISBLANK({!rvAppointmentTrig.Medical_Procedure4__r.Limit_Time__c} ))),{!rvAppointmentTrig.Medical_Procedure4__r.Limit_Time__c}, &quot;&quot;))))</expression>
    </formulas>
    <interviewLabel>Auto- Set Room_Limitation Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto- Set Room Limitation Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Room_Limitation_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rvAppointmentTrig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>rvAppointmentUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>tvAutomationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
