force-app/main/default/flows/Auto_Assuta_File_RT_Referral_Update_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assuta_File_Appointment1</name>
        <label>Assign Assuta File Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Date_of_referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.ReferralDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Doctor_License_From_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Doctor_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Number_of_referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Request_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Referral_Type_Hospitalization_Green</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assuta_File_Appointment2</name>
        <label>Assign Assuta File Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ירוק</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deductibles_Empty_Or_Equals_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deductibles_Hospitalization_On_Appointment</name>
        <label>Assign Deductibles Hospitalization On Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Deductibles_Hospitalization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_The_Doctor_Name_Is_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deductibles_On_Appointment</name>
        <label>Assign Deductibles On Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Deductibles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Deductibles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Match_Doctor_name</name>
        <label>Assign Is Match Doctor name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.not_equal_doc_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_The_Doctor_Name_Is_Change</name>
        <label>If The Doctor Name Is Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>(1 OR 2 ) And 3</conditionLogic>
            <conditions>
                <leftValueReference>rvRecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Doctor_name_equal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rvAssutaFileTrigPrior.Doctor_name_equal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Doctor_name_equal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Match_Doctor_name</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deductibles_Empty_Or_Equals_0</name>
        <label>Is Deductibles Empty Or Equals 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deductibles_Is_nt_Empty_Or_Equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deductibles_On_Appointment</targetReference>
            </connector>
            <label>Deductibles Is&apos;nt Empty Or Equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</name>
        <label>Is Deductibles Hospitalization Empty Or Equals 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_The_Doctor_Name_Is_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deductibles_Hospitalization_Is_nt_Empty_Or_Equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deductibles_Hospitalization_On_Appointment</targetReference>
            </connector>
            <label>Deductibles Hospitalization Is&apos;nt Empty Or Equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_New_or_change_for_Update_An_Appointment</name>
        <label>Is Record New or change for Update An Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Referral_Type_Hospitalization_Green</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Record_Is_New_Or_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rvRecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.ReferralDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>rvAssutaFileTrigPrior.ReferralDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Doctor_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>rvAssutaFileTrigPrior.Doctor_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.ReferralNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>rvAssutaFileTrigPrior.ReferralNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Appointment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>rvAssutaFileTrigPrior.Appointment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assuta_File_Appointment1</targetReference>
            </connector>
            <label>The Record Is New Or Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Referral_Type_Hospitalization_Green</name>
        <label>Is Referral Type Hospitalization OR ביצוע פעולה- Green</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Deductibles_Empty_Or_Equals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Referral_Type_Hospitalization</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Referral_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Referral_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ביצוע פעולה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Appointment__r.Classification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>אדום</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assuta_File_Appointment2</targetReference>
            </connector>
            <label>Is Referral Type Hospitalization  OR ביצוע פעולה</label>
        </rules>
    </decisions>
    <description>MB-22.03.26 -Auto-  Assuta File RT Referral - Add dec Match Doctor name Update Appointment</description>
    <environments>Default</environments>
    <formulas>
        <name>rvAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Auto- Assuta File RT Referral -Update Appointment&apos;
+ &apos; ||| &apos;+&apos;Triggered By:&apos;+ {!TriggeredByAutomationName}</expression>
    </formulas>
    <interviewLabel>Auto-  Assuta File RT Refferal -Update Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-  Assuta File RT Referral -Update Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Record_New_or_change_for_Update_An_Appointment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>rvAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>rvAssutaFileTrig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>rvAssutaFileTrigPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>rvRecordIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggeredByAutomationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
