force-app/main/default/flows/Auto_Assuta_File_RT_Commitment_Update_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assuta_File_Appointment</name>
        <label>Assign Assuta File Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Date_of_commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Date_of_commitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Expiration_date_commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.End_Date_Commitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Number_of_commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Number_of_commitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Received_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Maccabi_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Classification_On_Appointment</name>
        <label>Assign  Classification On Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>כתום</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deductibles_Empty_Or_Equals_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deductibles_Hospitalization_On_Appointment</name>
        <label>Assign Deductibles Hospitalization On Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Deductibles_Hospitalization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deductibles_On_Appointment</name>
        <label>Assign Deductibles On Appointment{!rvTrrigeringAssutaFileAppointmentToUpdate.Id}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Deductibles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Deductibles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvAssutaFileTrig.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Deductibles_Empty_Or_Equals_0</name>
        <label>Is Deductibles Empty Or Equals 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deductibles_Is_nt_Empty_Or_Equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deductibles_On_Appointment</targetReference>
            </connector>
            <label>Deductibles Is&apos;nt Empty Or Equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deductibles_Hospitalization_Empty_Or_Equals_0</name>
        <label>Is Deductibles Hospitalization Empty Or Equals 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deductibles_Hospitalization_Is_nt_Empty_Or_Equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Deductibles_Hospitalization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deductibles_Hospitalization_On_Appointment</targetReference>
            </connector>
            <label>Deductibles Hospitalization Is&apos;nt Empty Or Equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Maccabi_Case_Type</name>
        <label>Is Maccabi Case Type= חיוב ישיר?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Deductibles_Empty_Or_Equals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maccabi_Case_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Appointment__r.Classification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>אדום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Referral_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>חיוב ישיר</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Classification_On_Appointment</targetReference>
            </connector>
            <label>Maccabi Case Type= חיוב ישיר</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_of_commitment_Empty</name>
        <label>Is Number of commitment Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Maccabi_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_commitment_Is_nt_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvAssutaFileTrig.Number_of_commitment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assuta_File_Appointment</targetReference>
            </connector>
            <label>Number of commitment Is&apos;nt Empty</label>
        </rules>
    </decisions>
    <description>MB-22.03.26 -Auto- Assuta File RT Commitment -Update Appointment</description>
    <environments>Default</environments>
    <formulas>
        <name>rvAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Auto- Assuta File RT Commitment -Update Appointment&apos; +&apos; ||| &apos;+&apos;Triggered By:&apos;+ {!TriggeredByAutomationName}</expression>
    </formulas>
    <interviewLabel>Auto- Assuta File RT Referral -Update Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto- Assuta File RT Commitment -Update Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Number_of_commitment_Empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rvAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>rvAssutaFileTrig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>rvAssutaFileTrigPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>TriggeredByAutomationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
