force-app/main/default/flows/Before_Save_Case_Update_Fields_YadBeYad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Id_And_Account_Id</name>
        <label>Assign Case Id And Account Id</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Record_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions_To_Pass_Between_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_360_And_Pay_Factor</name>
        <label>Assign Patient 360 And Pay Factor</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Record_Account.X360_patient_checkbox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case.PayerFactor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.payer_factor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_To_Closed_Negative_biopsy_result</name>
        <label>Assign Status To Closed - &quot;Negative biopsy result&quot;</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Record_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case.Reason_for_closing_hand_in_hand_case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative biopsy result</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_To_Closed_Wrong_Recommendation</name>
        <label>Assign Status To Closed - &apos;&apos;Wrong Recommendation&quot;</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Record_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case.Reason_for_closing_hand_in_hand_case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wrong Recommendation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_To_New</name>
        <label>Assign Status To New</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Record_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Patient_360_And_Pay_Factor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_To_Waiting_for_Biopsy</name>
        <label>Assign Status To Waiting for Biopsy</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Record_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting for Biopsy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_To_Waiting_for_Initial_Call</name>
        <label>Assign  Status To Waiting for Initial Call</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Record_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting for Initial Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conditions_To_Pass_Between_Statuses</name>
        <label>Conditions To Pass Between Statuses</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_To_New</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Waiting_for_Initial_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Match_with_RIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>recommendations match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_To_Waiting_for_Initial_Call</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting for Initial Call</label>
        </rules>
        <rules>
            <name>Waiting_for_Biopsy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DetailsoftheConversation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Doctors Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BiopsyAppointmentschedulingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Department</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_To_Waiting_for_Biopsy</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting for Biopsy</label>
        </rules>
        <rules>
            <name>Closed_Match_with_RIS_is_recommendations_mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Match_with_RIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>recommendations mismatch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_To_Closed_Wrong_Recommendation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed - Match with RIS is recommendations mismatch</label>
        </rules>
        <rules>
            <name>Closed_Findings_Details_is_Negativ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Findings_Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_To_Closed_Negative_biopsy_result</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed - Findings Details is Negativ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Before Save - Case - Update Fields YadBeYad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save - Case - YadBeYad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <inputReference>Record_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>Record_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Case_Id_And_Account_Id</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;YadBeYad_Breast&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Record_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Record_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
