force-app/main/default/flows/Bot_Business_Day_Ashdod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_53_and_1_weeks</name>
        <label>assign 53 and 1 weeks</label>
        <locationX>990</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>week1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_53_and_1_weeks_0</name>
        <label>assign 53 and 1 weeks</label>
        <locationX>1000</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>week53</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>53.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_false</name>
        <label>assign false</label>
        <locationX>551</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>today_business_day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inital_text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_not_same</name>
        <label>assign not same</label>
        <locationX>1629</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>not_same_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_times</name>
        <label>assign times</label>
        <locationX>1276</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>start_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>store_day_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_same_time.Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>template2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template2_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_times_0</name>
        <label>assign times</label>
        <locationX>1469</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>start_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>store_day_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_same_time.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>business</name>
        <label>business</label>
        <locationX>273</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>today_business_day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>friday_template_assign</name>
        <label>friday_template_assign</label>
        <locationX>1183</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>friday_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>friday_template_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text</name>
        <label>inital text</label>
        <locationX>650</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>business_day_info</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>פנית מחוץ לשעות הפעילות. שעות פעילות המוקד הן בימים:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclusion_for_weeks_1_and_53</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0</name>
        <label>inital text</label>
        <locationX>2160</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>day1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0</name>
        <label>inital text</label>
        <locationX>2424</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>day2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0</name>
        <label>inital text</label>
        <locationX>2480</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>day3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0</name>
        <label>inital text</label>
        <locationX>2320</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>day4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0</name>
        <label>inital text</label>
        <locationX>2571</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>day5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0_0</name>
        <label>inital text</label>
        <locationX>2593</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>day6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0_0_0</name>
        <label>inital text</label>
        <locationX>2595</locationX>
        <locationY>1349</locationY>
        <assignmentItems>
            <assignToReference>day7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>not_full_working_week</name>
        <label>not full working week</label>
        <locationX>1663</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>not_same_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_contains_5_days_and_friday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Saturday_is_workday</name>
        <label>Saturday_is_workday</label>
        <locationX>1447</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>not_same_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>today_week_number_assign</name>
        <label>today week number assign</label>
        <locationX>995</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>week1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_from_Calendar.Week_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>week53</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_from_Calendar.Week_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Working_days_in_a_week</name>
        <label>Working days in a week</label>
        <locationX>1202</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>Counter_active_days</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>over_week_days</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_days</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>filter days</label>
        <locationX>1199</locationX>
        <locationY>559</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_next_week</collectionReference>
        <connector>
            <targetReference>over_week_days</targetReference>
        </connector>
        <limit>7</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Gregorian_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_if_same_time</name>
        <label>check if same time</label>
        <locationX>1511</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>assign_not_same</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Start_Date_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>start_time_check</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.End_Date_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>end_time_check</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_times_0</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>day_filter</name>
        <label>day filter</label>
        <locationX>1296</locationX>
        <locationY>747</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_friday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>first_assign_date</targetReference>
            </connector>
            <label>not friday or Saturday</label>
        </rules>
        <rules>
            <name>friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>friday_template_assign</targetReference>
            </connector>
            <label>friday</label>
        </rules>
        <rules>
            <name>Saturday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saturday_is_workday</targetReference>
            </connector>
            <label>Saturday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclusion_for_weeks_1_and_53</name>
        <label>Exclusion for weeks 1 and 53</label>
        <locationX>794</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>today_week_number_assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>week_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Week_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>today_week_number_assign</targetReference>
            </connector>
            <label>week 1</label>
        </rules>
        <rules>
            <name>week_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Week_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>53.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_53_and_1_weeks</targetReference>
            </connector>
            <label>week 53</label>
        </rules>
    </decisions>
    <decisions>
        <name>first_assign_date</name>
        <label>first assign date</label>
        <locationX>1351</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>check_if_same_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>end_time_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>start_time_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>differ_time_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_times</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_business_day</name>
        <label>found business_day</label>
        <locationX>266</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>assign_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>לא יום עסקים</defaultConnectorLabel>
        <rules>
            <name>X2</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Business_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>differ_time_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_false</targetReference>
            </connector>
            <label>לא יום עסקים 2</label>
        </rules>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Business_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_from_Calendar.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_from_Calendar.End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>work_time</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_empty_text_box</name>
        <label>found empty text box</label>
        <locationX>2077</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>loop_for_next_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>text1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0</targetReference>
            </connector>
            <label>text1</label>
        </rules>
        <rules>
            <name>text2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0</targetReference>
            </connector>
            <label>text2</label>
        </rules>
        <rules>
            <name>text3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0</targetReference>
            </connector>
            <label>text3</label>
        </rules>
        <rules>
            <name>text4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0</targetReference>
            </connector>
            <label>text4</label>
        </rules>
        <rules>
            <name>text5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0</targetReference>
            </connector>
            <label>text5</label>
        </rules>
        <rules>
            <name>text6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0_0</targetReference>
            </connector>
            <label>text6</label>
        </rules>
        <rules>
            <name>text7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>text7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Full_working_week</name>
        <label>Full working week</label>
        <locationX>1323</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>not_full_working_week</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter_active_days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_same_time</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_contains_5_days_and_friday</name>
        <label>is contains 5 days and friday</label>
        <locationX>1655</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>loop_for_next_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>store_day_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SundayMondayTuesdayWednesdayThursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>not_same_time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>work_time</name>
        <label>work time</label>
        <locationX>267</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>assign_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>מחוץ לשעות פעילות</defaultConnectorLabel>
        <rules>
            <name>ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Start_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_from_Calendar.End_Date_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>business</targetReference>
            </connector>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>work_time_0</name>
        <label>work time</label>
        <locationX>342</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>מחוץ לשעות פעילות</defaultConnectorLabel>
        <rules>
            <name>ok_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Start_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_from_Calendar.End_Date_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>work_time_0_0</name>
        <label>work time</label>
        <locationX>417</locationX>
        <locationY>752</locationY>
        <defaultConnectorLabel>מחוץ לשעות פעילות</defaultConnectorLabel>
        <rules>
            <name>ok_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_from_Calendar.Start_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_from_Calendar.End_Date_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>now</elementReference>
                </rightValue>
            </conditions>
            <label>ok</label>
        </rules>
    </decisions>
    <description>YL 261025: Updated parameter now and textnow from day 30 to 26</description>
    <environments>Default</environments>
    <formulas>
        <name>dates_gap</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATE( YEAR( TODAY() ), 1, 1) +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>day</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Sunday&quot;),&quot;יום ראשון&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Monday&quot;),&quot;יום שני&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Tuesday&quot;),&quot;יום שלישי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Wednesday&quot;),&quot;יום רביעי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Thursday&quot;),&quot;יום חמישי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Friday&quot;),&quot;יום שישי&quot;,&quot;יום שבת&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_2</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+3</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_3</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+4</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_4</name>
        <dataType>Date</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+5</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_5</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+6</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_6</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+7</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_7</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+8</expression>
    </formulas>
    <formulas>
        <name>end_time_plus</name>
        <dataType>DateTime</dataType>
        <expression>{!loop_for_same_time.End_Date_Time__c}+1</expression>
    </formulas>
    <formulas>
        <name>friday_template_f</name>
        <dataType>String</dataType>
        <expression>&quot;שישי&quot; +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ LEFT(RIGHT(TEXT({!loop_for_same_time.Start_Date_Time__c}),9),5)+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+LEFT(RIGHT(TEXT({!loop_for_same_time.End_Date_Time__c}),9),5)</expression>
    </formulas>
    <formulas>
        <name>hour_now</name>
        <dataType>String</dataType>
        <expression>left({!TIMENOW},2)</expression>
    </formulas>
    <formulas>
        <name>hour_now_number</name>
        <dataType>Number</dataType>
        <expression>value({!hour_now})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>/*now()+(3/24)*/
if( (month(today()) &gt;= 10 &amp;&amp; day(today()) &gt;= 26) || month(today()) &gt; 10 || month(today()) &lt; 03 || (month(today()) &lt;= 03 &amp;&amp; day(today()) &lt;= 27), now()+(2/24), now()+(3/24))</expression>
    </formulas>
    <formulas>
        <name>start_date_f_plus_one</name>
        <dataType>DateTime</dataType>
        <expression>{!Today_from_Calendar.Start_Date_Time__c}+1</expression>
    </formulas>
    <formulas>
        <name>start_time</name>
        <dataType>String</dataType>
        <expression>{!loop_for_next_days.Start_Time__c}</expression>
    </formulas>
    <formulas>
        <name>start_time_plus</name>
        <dataType>DateTime</dataType>
        <expression>{!loop_for_same_time.Start_Date_Time__c}+1</expression>
    </formulas>
    <formulas>
        <name>template</name>
        <dataType>String</dataType>
        <expression>{!day} +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ LEFT(RIGHT(TEXT({!loop_for_next_days.Start_Date_Time__c}),9),5)+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+LEFT(RIGHT(TEXT({!loop_for_next_days.End_Date_Time__c}),9),5)</expression>
    </formulas>
    <formulas>
        <name>template2_f</name>
        <dataType>String</dataType>
        <expression>&quot;ימים א-ה&quot; +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ LEFT(RIGHT(TEXT({!loop_for_same_time.Start_Date_Time__c}),9),5)+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+LEFT(RIGHT(TEXT({!loop_for_same_time.End_Date_Time__c}),9),5)</expression>
    </formulas>
    <formulas>
        <name>textnow</name>
        <dataType>String</dataType>
        <expression>/*text(now()+3/24)*/
if( (month(today()) &gt;= 10 &amp;&amp; day(today()) &gt;= 26) || month(today()) &gt; 10 || month(today()) &lt; 03 || (month(today()) &lt;= 03 &amp;&amp; day(today()) &lt;= 23), text(now()+2/24), text(now()+3/24))</expression>
    </formulas>
    <formulas>
        <name>TIMENOW</name>
        <dataType>String</dataType>
        <expression>right({!textnow},9)</expression>
    </formulas>
    <formulas>
        <name>Today_date</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>today_minus_week</name>
        <dataType>Date</dataType>
        <expression>{!Today_from_Calendar.Gregorian_Date__c}-(24*7)</expression>
    </formulas>
    <formulas>
        <name>today_plus_week</name>
        <dataType>Date</dataType>
        <expression>{!Today_from_Calendar.Gregorian_Date__c}+(24*7)</expression>
    </formulas>
    <formulas>
        <name>week_number</name>
        <dataType>Number</dataType>
        <expression>IF( 
  CEILING( ( TODAY() - DATE( YEAR( TODAY() ), 1, 1) + 1) / 7) &gt; 52,
  53,
  CEILING( ( TODAY() - DATE( YEAR( TODAY() ), 1, 1) + 1) / 7)
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Bot Business Day Ashdod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot Business Day Ashdod</label>
    <loops>
        <name>loop_for_next_days</name>
        <label>loop for next days</label>
        <locationX>1920</locationX>
        <locationY>559</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>found_empty_text_box</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_for_same_time</name>
        <label>loop for same time</label>
        <locationX>1333</locationX>
        <locationY>563</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>day_filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_contains_5_days_and_friday</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>over_week_days</name>
        <label>over week days</label>
        <locationX>1199</locationX>
        <locationY>429</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Working_days_in_a_week</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Full_working_week</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_next_week</name>
        <label>get next week</label>
        <locationX>1109</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_days</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 9 AND 10 AND 11 AND 12) OR (3 AND 1 AND 4 AND 5 AND 9 AND 10) OR (6 AND 1 AND 7 AND 8 AND 9 AND 10)</filterLogic>
        <filters>
            <field>Business_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Week_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today_from_Calendar.Week_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Week_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>week1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today_from_Calendar.Gregorian_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today_plus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Week_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>week53</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Today_from_Calendar.Gregorian_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today_minus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today_minus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>today_plus_week</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendar_Ashdod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Today_from_Calendar</name>
        <label>Today from Calendar</label>
        <locationX>274</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_business_day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar_Ashdod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>148</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Today_from_Calendar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>richtext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!business_day_info}</text>
    </textTemplates>
    <variables>
        <name>business_day_info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Counter_active_days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>datet</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>day1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>days_later</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debug_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>differ_time_today</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>end_time_check</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>friday_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>צ&apos;קבוקס שמוטרג אם שעת התחלה וסיום בימי ראשון עד חמישי שונים</description>
        <name>not_same_time</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>start_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_time_check</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>store_day_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test_dates_gap</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TIME_S</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>today_business_day</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>week1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>week53</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>week_number_debug</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
