force-app/main/default/flows/Bot_Business_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Bot_Availability</name>
        <label>Check Bot Availability</label>
        <locationX>878</locationX>
        <locationY>342</locationY>
        <actionName>Bot_BusinessHoursService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>found_business_day</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>botName</name>
            <value>
                <elementReference>what_bot</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bot_BusinessHoursService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_53_and_1_weeks</name>
        <label>assign 53 and 1 weeks</label>
        <locationX>1666</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>week1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_53_and_1_weeks_0</name>
        <label>assign 53 and 1 weeks</label>
        <locationX>1676</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>week53</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>53.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_false</name>
        <label>assign false</label>
        <locationX>1228</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>today_business_day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inital_text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False1</name>
        <label>Assign False</label>
        <locationX>1273</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>BeforeOrEqual15PMOnThursday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_False1_0</name>
        <label>Assign False</label>
        <locationX>166</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>NurseWorkingHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_not_same</name>
        <label>assign not same</label>
        <locationX>2305</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>not_same_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_times</name>
        <label>assign times</label>
        <locationX>1952</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>start_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>store_day_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_same_time.Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>template2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template2_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_times_0</name>
        <label>assign times</label>
        <locationX>2145</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>start_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_time_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_time_plus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>store_day_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_same_time.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_True</name>
        <label>Assign True</label>
        <locationX>1274</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>BeforeOrEqual15PMOnThursday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_True_0</name>
        <label>Assign True</label>
        <locationX>50</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>NurseWorkingHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>business</name>
        <label>business</label>
        <locationX>949</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>today_business_day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_what_bot_equals_at_home_bot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Selected_Bot_Day</name>
        <label>Clear Selected Bot Day</label>
        <locationX>2478</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>Selected_Bot_Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_with_Excluded_Bot_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>friday_template_assign</name>
        <label>friday_template_assign</label>
        <locationX>1859</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>friday_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>friday_template_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text</name>
        <label>inital text</label>
        <locationX>1326</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>business_day_info</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>פנית מחוץ לשעות הפעילות. שעות פעילות המוקד הן בימים:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclusion_for_weeks_1_and_53</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0</name>
        <label>inital text1</label>
        <locationX>2836</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>day1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0</name>
        <label>inital text2</label>
        <locationX>3100</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>day2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0</name>
        <label>inital text3</label>
        <locationX>3156</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>day3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0</name>
        <label>inital text4</label>
        <locationX>2996</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>day4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0</name>
        <label>inital text5</label>
        <locationX>3247</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>day5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0_0</name>
        <label>inital text6</label>
        <locationX>3269</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>day6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inital_text_0_0_0_0_0_0_0</name>
        <label>inital text7</label>
        <locationX>3271</locationX>
        <locationY>1349</locationY>
        <assignmentItems>
            <assignToReference>day7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_next_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>not_full_working_week</name>
        <label>not full working week</label>
        <locationX>2339</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>not_same_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_contains_5_days_and_friday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Saturday_is_workday</name>
        <label>Saturday_is_workday</label>
        <locationX>2123</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>friday_template</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>saturday_template_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_same_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_excluded_day_for_bot</name>
        <label>Select excluded day for bot</label>
        <locationX>2474</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>Selected_Bot_Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>found_empty_text_box</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>today_week_number_assign</name>
        <label>today week number assign</label>
        <locationX>1671</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>week1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_today_from_Calendar1_c.week_num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>week53</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_today_from_Calendar1_c.week_num__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_next_week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Working_days_in_a_week</name>
        <label>Working days in a week</label>
        <locationX>1959</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>Counter_active_days</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>over_week_days</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_days</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>filter days</label>
        <locationX>1875</locationX>
        <locationY>559</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_next_week</collectionReference>
        <connector>
            <targetReference>over_week_days</targetReference>
        </connector>
        <limit>7</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Gregorian_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_if_same_time</name>
        <label>check if same time</label>
        <locationX>2187</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>assign_not_same</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_bot</name>
            <conditionLogic>1 and 2 and (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Selected_start_date_time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>start_time_check</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Selected_end_date_time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>end_time_check</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_not_same</targetReference>
            </connector>
            <label>selected bot</label>
        </rules>
        <rules>
            <name>ok1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.start_date_time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>start_time_check</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.end_date_time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>end_time_check</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_times_0</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if what_bot equals עד הבית</description>
        <name>check_if_what_bot_equals_at_home_bot</name>
        <label>check if what_bot equals at home bot</label>
        <locationX>737</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>For_Assuta_One_Is_it_before_15PM_On_Thursday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>what_bot_equals_at_home_bot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>what_bot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עד הבית</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_at_home_bot_hours</targetReference>
            </connector>
            <label>what_bot equals at home bot</label>
        </rules>
    </decisions>
    <decisions>
        <name>day_filter</name>
        <label>day filter</label>
        <locationX>1972</locationX>
        <locationY>747</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_friday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>first_assign_date</targetReference>
            </connector>
            <label>not friday or Saturday</label>
        </rules>
        <rules>
            <name>friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>friday_template_assign</targetReference>
            </connector>
            <label>friday</label>
        </rules>
        <rules>
            <name>Saturday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_same_time.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saturday_is_workday</targetReference>
            </connector>
            <label>Saturday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_with_Excluded_Bot_Hours</name>
        <label>Day with Excluded Bot Hours</label>
        <locationX>2467</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>found_empty_text_box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>regular hours</defaultConnectorLabel>
        <rules>
            <name>day_with_selected_bot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_excluded_day_for_bot</targetReference>
            </connector>
            <label>day with selected bot</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sunday–Thursday: 08:00–20:00
Friday: 08:00–15:00</description>
        <name>Exclude_at_home_bot_hours</name>
        <label>Exclude &quot;at home&quot; bot hours</label>
        <locationX>410</locationX>
        <locationY>1155</locationY>
        <defaultConnector>
            <targetReference>Assign_False1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE_Sunday_to_Thursday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_0</targetReference>
            </connector>
            <label>TRUE - Sunday to Thursday</label>
        </rules>
        <rules>
            <name>True_Friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_0</targetReference>
            </connector>
            <label>True - Friday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclusion_for_weeks_1_and_53</name>
        <label>Exclusion for weeks 1 and 53</label>
        <locationX>1470</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>today_week_number_assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>week_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.week_num__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>today_week_number_assign</targetReference>
            </connector>
            <label>week 1</label>
        </rules>
        <rules>
            <name>week_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.week_num__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>53.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_53_and_1_weeks</targetReference>
            </connector>
            <label>week 53</label>
        </rules>
    </decisions>
    <decisions>
        <name>first_assign_date</name>
        <label>first assign date</label>
        <locationX>2027</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>check_if_same_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>end_time_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>start_time_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>differ_time_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_times</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Assuta_One_Is_it_before_15PM_On_Thursday</name>
        <label>For Assuta One -Is it before 15PM On Thursday?</label>
        <locationX>945</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>Assign_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hour_now_number</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_today_from_Calendar1_c.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False1</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_business_day</name>
        <label>found business_day</label>
        <locationX>906</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>assign_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Business Day</defaultConnectorLabel>
        <rules>
            <name>Business_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Bot_Availability.isAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>business</targetReference>
            </connector>
            <label>Business Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_empty_text_box</name>
        <label>found empty text box</label>
        <locationX>2817</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>loop_for_next_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_bot_not_working_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_next_days</targetReference>
            </connector>
            <label>selected bot not working day</label>
        </rules>
        <rules>
            <name>text1</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0</targetReference>
            </connector>
            <label>text1</label>
        </rules>
        <rules>
            <name>text2</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0</targetReference>
            </connector>
            <label>text2</label>
        </rules>
        <rules>
            <name>text3</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0</targetReference>
            </connector>
            <label>text3</label>
        </rules>
        <rules>
            <name>text4</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0</targetReference>
            </connector>
            <label>text4</label>
        </rules>
        <rules>
            <name>text5</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0</targetReference>
            </connector>
            <label>text5</label>
        </rules>
        <rules>
            <name>text6</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0_0</targetReference>
            </connector>
            <label>text6</label>
        </rules>
        <rules>
            <name>text7</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) or (1 and 5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>day7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Bot_Time_Change__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>what_bot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_start_date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Selected_business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.DigitalBusinessDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_next_days.Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inital_text_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>text7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Full_working_week</name>
        <label>Full working week</label>
        <locationX>1999</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>not_full_working_week</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter_active_days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_same_time</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_contains_5_days_and_friday</name>
        <label>is contains 5 days and friday</label>
        <locationX>2331</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>loop_for_next_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>store_day_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SundayMondayTuesdayWednesdayThursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>not_same_time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>working_days_count</name>
        <label>working days count</label>
        <locationX>1759</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>over_week_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>not_weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>over_week_days.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>over_week_days.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>over_week_days.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>over_week_days.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>over_week_days.Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Working_days_in_a_week</targetReference>
            </connector>
            <label>not weekend</label>
        </rules>
    </decisions>
    <description>נעשה בflow  2 בדיקות :
האם כל הימים באותו שבוע (א-ה) הם באותם שעות פעילות, אם כן , תוצג הודעה כללית, אם לא תבוצע בדיקה כל יום מה שעות הפעילות .
Eden 24.8 - 2051072263 - עבור אסותא ONE בדיקה האם התאריך של היום הוא חמישי והשעה שווה או לפני  15:00 (ביום עסקים)
YL 261025: Updated parameter textnow from day 30 to day 26

FRED - 11/01/2026 - differ working hours - עד הבית - 2585395296
Eden - 5/2 - תיקון שעות פעילות אחיות בבוט עד הבית (יצירת משתנה רלוונטי)
Eden - 2781855408 -  26/3 - שינוי תשתית שעות מוחרגות של בוטים, שימוש בAPEX לבדיקת שעות פעילות לפי BH.
Eden - 27/3 - שינוי נוסחה now , textnow לשעון קיץ.</description>
    <environments>Default</environments>
    <formulas>
        <name>dates_gap</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATE( YEAR( TODAY() ), 1, 1) +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>day</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Sunday&quot;),&quot;יום ראשון&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Monday&quot;),&quot;יום שני&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Tuesday&quot;),&quot;יום שלישי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Wednesday&quot;),&quot;יום רביעי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Thursday&quot;),&quot;יום חמישי&quot;,IF( ISPICKVAL({!loop_for_next_days.Day__c}, &quot;Friday&quot;),&quot;יום שישי&quot;,&quot;יום שבת&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_2</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+3)</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_3</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+4)</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_4</name>
        <dataType>Date</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+5)</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_5</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+6)</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_6</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+7)</expression>
    </formulas>
    <formulas>
        <name>days_later_f_plus_7</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+8)</expression>
    </formulas>
    <formulas>
        <name>end_time_plus</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!loop_for_same_time.Selected_end_date_time__c}+1, {!loop_for_same_time.end_date_time__c}+1)</expression>
    </formulas>
    <formulas>
        <name>friday_template_f</name>
        <dataType>String</dataType>
        <expression>&quot;שישי&quot; +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day}, LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_start_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.start_date_time__c}),9),5))+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day}, LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_end_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.end_date_time__c}),9),5)) &amp; br()</expression>
    </formulas>
    <formulas>
        <name>hour_now</name>
        <dataType>String</dataType>
        <expression>left({!TIMENOW},2)</expression>
    </formulas>
    <formulas>
        <name>hour_now_number</name>
        <dataType>Number</dataType>
        <expression>value({!hour_now})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>/*now()+(3/24)*/
IF(   (month(today()) &gt;= 10 &amp;&amp; day(today()) &gt;= 26) ||   month(today()) &gt; 10 ||   month(today()) &lt; 3 ||
  (month(today()) &lt;= 3 &amp;&amp; day(today()) &lt; 27),   now() + (2/24),   now() + (3/24)
)</expression>
    </formulas>
    <formulas>
        <name>saturday_template_f</name>
        <dataType>String</dataType>
        <expression>&quot;שבת&quot; +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day}, LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_start_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.start_date_time__c}),9),5))+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day}, LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_end_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.end_date_time__c}),9),5))</expression>
    </formulas>
    <formulas>
        <name>start_date_f_plus_one</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!get_today_from_Calendar1_c.Selected_start_date_time__c}+3, {!get_today_from_Calendar1_c.start_date_time__c}+1)</expression>
    </formulas>
    <formulas>
        <name>start_time</name>
        <dataType>String</dataType>
        <expression>if( {!differ_time_today}, {!loop_for_next_days.Selected_Start_Time__c}, {!loop_for_next_days.Start_Time__c})</expression>
    </formulas>
    <formulas>
        <name>start_time_plus</name>
        <dataType>DateTime</dataType>
        <expression>if( {!differ_time_today}, {!loop_for_same_time.Selected_start_date_time__c}+1, {!loop_for_same_time.start_date_time__c}+1)</expression>
    </formulas>
    <formulas>
        <name>template</name>
        <dataType>String</dataType>
        <expression>{!day} +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ if( {!loop_for_next_days.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day} &amp;&amp; not(isblank({!loop_for_next_days.Selected_start_date_time__c})), LEFT(RIGHT(TEXT({!loop_for_next_days.Selected_start_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_next_days.start_date_time__c}),9),5))+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+ if( {!loop_for_next_days.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day} &amp;&amp; not(isblank({!loop_for_next_days.Selected_start_date_time__c})), LEFT(RIGHT(TEXT({!loop_for_next_days.Selected_end_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_next_days.end_date_time__c}),9),5))</expression>
    </formulas>
    <formulas>
        <name>template2_f</name>
        <dataType>String</dataType>
        <expression>&quot;ימים א-ה&quot; +&quot; &quot;+ &quot;בין השעות&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day} &amp;&amp; not(isblank({!loop_for_same_time.Selected_start_date_time__c})), LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_start_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.start_date_time__c}),9),5))+&quot; &quot; +&quot;עד&quot;+&quot; &quot;+ if( {!loop_for_same_time.Selected_business_day__c} &amp;&amp; {!Selected_Bot_Day} &amp;&amp; not(isblank({!loop_for_same_time.Selected_start_date_time__c})), LEFT(RIGHT(TEXT({!loop_for_same_time.Selected_end_date_time__c}),9),5), LEFT(RIGHT(TEXT({!loop_for_same_time.end_date_time__c}),9),5))</expression>
    </formulas>
    <formulas>
        <name>textnow</name>
        <dataType>String</dataType>
        <expression>/*text(now()+3/24)*/
if( (month(today()) &gt;= 10 &amp;&amp; day(today()) &gt;= 26) || month(today()) &gt; 10 || month(today()) &lt; 03 || (month(today()) &lt;= 03 &amp;&amp; day(today()) &lt; 27), text(now()+2/24), text(now()+3/24))</expression>
    </formulas>
    <formulas>
        <name>TIMENOW</name>
        <dataType>String</dataType>
        <expression>right({!textnow},9)</expression>
    </formulas>
    <formulas>
        <name>Today_date</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>today_minus_week</name>
        <dataType>Date</dataType>
        <expression>{!get_today_from_Calendar1_c.Gregorian_Date__c}-(24*7)</expression>
    </formulas>
    <formulas>
        <name>today_plus_week</name>
        <dataType>Date</dataType>
        <expression>{!get_today_from_Calendar1_c.Gregorian_Date__c}+(24*7)</expression>
    </formulas>
    <formulas>
        <name>week_number</name>
        <dataType>Number</dataType>
        <expression>IF( 
  CEILING( ( TODAY() - DATE( YEAR( TODAY() ), 1, 1) + 1) / 7) &gt; 52,
  53,
  CEILING( ( TODAY() - DATE( YEAR( TODAY() ), 1, 1) + 1) / 7)
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>is business day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot Business Day</label>
    <loops>
        <name>loop_for_next_days</name>
        <label>loop for next days</label>
        <locationX>2596</locationX>
        <locationY>559</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Selected_Bot_Day</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_for_same_time</name>
        <label>loop for same time</label>
        <locationX>2009</locationX>
        <locationY>563</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>day_filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_contains_5_days_and_friday</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>over_week_days</name>
        <label>over week days</label>
        <locationX>1875</locationX>
        <locationY>429</locationY>
        <collectionReference>get_next_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>working_days_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Full_working_week</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_next_week</name>
        <label>get next week</label>
        <locationX>1785</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_days</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 9 AND 10 AND 11 AND 12) OR (3 AND 1 AND 4 AND 5 AND 9 AND 10) OR (6 AND 1 AND 7 AND 8 AND 9 AND 10) or (13 AND 2 AND 14 AND 15 AND 11 AND 12)</filterLogic>
        <filters>
            <field>DigitalBusinessDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>week_num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_today_from_Calendar1_c.week_num__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>week_num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>week1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>get_today_from_Calendar1_c.Gregorian_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today_plus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>week_num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>week53</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>get_today_from_Calendar1_c.Gregorian_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today_minus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today_minus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>today_plus_week</elementReference>
            </value>
        </filters>
        <filters>
            <field>Selected_business_day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Selected_Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Selected_End_time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendar1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_today_from_Calendar1_c</name>
        <label>get today from Calendar1__c</label>
        <locationX>910</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Bot_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>824</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>get_today_from_Calendar1_c</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>richtext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!business_day_info}</text>
    </textTemplates>
    <variables>
        <name>BeforeOrEqual15PMOnThursday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BHName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>business_day_info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Counter_active_days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>datet</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>day1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>day7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>days_later</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debug_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>differ_time_today</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>end_time_check</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>friday_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>צ&apos;קבוקס שמוטרג אם שעת התחלה וסיום בימי ראשון עד חמישי שונים</description>
        <name>not_same_time</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NurseWorkingHours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Bot_Day</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_time_check</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>store_day_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test_dates_gap</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TIME_S</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>today_business_day</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>week1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>week53</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>week_number_debug</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>what_bot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
