force-app/main/default/flows/Bots_Pass_Messaging_Session_from_Values_From_Flow_to_Bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_output_Params</name>
        <label>Assign output Params</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountIDnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record.New_Account__r.ID_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccSFID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record.New_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_ID_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record.New_Case__r.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_SFID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record.New_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record.New_Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_the_record_from_ger_to_a_variable</name>
        <label>assign the record from get to a variable - check if both inputs are not blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvMessagingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Messaging_Session_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvMessagingSession.IsAuthenticated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_messaging_session_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if the record is not empty</description>
        <name>Check_Get_MessagingSessions_Result</name>
        <label>Check Get MessagingSessions Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_records_returned_from_Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_Messaging_Session_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_the_record_from_ger_to_a_variable</targetReference>
            </connector>
            <label>Check if records returned from Get</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Routable_Id_is_not_Null</name>
        <label>Check if Routable Id is not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>both_inputs_are_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoutableId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Messaging_Session_Record</targetReference>
            </connector>
            <label>both inputs are not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_that_return_Params_are_not_Null</name>
        <label>Validate that Return Params are not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_Params_are_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_Messaging_Session_Record.New_Account__r.ID_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_The_Messaging_Session_Record.New_Case__r.CaseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_The_Messaging_Session_Record.New_Case__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_The_Messaging_Session_Record.New_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_output_Params</targetReference>
            </connector>
            <label>Return Params are not Null</label>
        </rules>
    </decisions>
    <description>Gets Messaging Session id from Bot and return AccountIDnumber Case_ID_Number Case_SFID AccSFID - back to the Bot
Fred: 31/12/2025 - added accountName Variable</description>
    <environments>Default</environments>
    <interviewLabel>Bots - Pass Messaging Session from Values From Flow to Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bots - Read Messaging session values and return to Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_The_Messaging_Session_Record</name>
        <label>Get The Messaging Session Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_MessagingSessions_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoutableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update messaging session record</description>
        <name>update_messaging_session_record</name>
        <label>update messaging session record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_that_return_Params_are_not_Null</targetReference>
        </connector>
        <inputReference>rvMessagingSession</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Routable_Id_is_not_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIDnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccSFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_ID_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_SFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the messaging session passed from bot</description>
        <name>RoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvMessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
</Flow>
