force-app/main/default/flows/Campaigns_activation_and_deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_managers</name>
        <label>email managers</label>
        <locationX>836</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_campaigns</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>loop_campaigns.campaignManagerEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>קמפיין מתחיל בעוד יומיים</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>activate</name>
        <label>activate</label>
        <locationX>553</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_starting_campaigns.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCampaign1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCampaign1</name>
        <label>addCampaign1</label>
        <locationX>554</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>campaignsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_starting_campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_starting_campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCampaign2</name>
        <label>addCampaign2</label>
        <locationX>658</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>campaignsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ending_campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ending_campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>deactivate</name>
        <label>deactivate</label>
        <locationX>657</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ending_campaigns.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCampaign2</targetReference>
        </connector>
    </assignments>
    <description>בכל לילה, הפלואו יפעיל ויכבה קמפיינים לפי תאריך ההתחלה והסיום שלהם. בנוסף הפלואו ישלח מייל למנהל הקמפיין יומיים לפני התחלה</description>
    <formulas>
        <name>emailBody</name>
        <dataType>String</dataType>
        <expression>&quot;שלום. הקמפיין &quot; &amp; {!loop_campaigns.Name} &amp; &quot; מתחיל בעוד יומיים&quot;</expression>
    </formulas>
    <formulas>
        <name>inTowDays</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Campaigns activation and deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaigns activation and deactivation</label>
    <loops>
        <name>loop_campaigns</name>
        <label>loop campaigns</label>
        <locationX>633</locationX>
        <locationY>757</locationY>
        <collectionReference>starting_in_tow_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>email_managers</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_ending_campaigns</name>
        <label>Loop through ending campaigns</label>
        <locationX>501</locationX>
        <locationY>543</locationY>
        <collectionReference>CampaignsToDeactivate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>deactivate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCampaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_starting_campaigns</name>
        <label>Loop through starting campaigns</label>
        <locationX>355</locationX>
        <locationY>315</locationY>
        <collectionReference>CampaignsToActivate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>activate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ending_today</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ending_today</name>
        <label>Ending today</label>
        <locationX>353</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ending_campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>CampaignsToDeactivate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>starting_in_tow_days</name>
        <label>starting in tow days</label>
        <locationX>502</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inTowDays</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Starting_today</name>
        <label>Starting today</label>
        <locationX>223</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_starting_campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>CampaignsToActivate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCampaigns</name>
        <label>updateCampaigns</label>
        <locationX>348</locationX>
        <locationY>757</locationY>
        <connector>
            <targetReference>starting_in_tow_days</targetReference>
        </connector>
        <inputReference>campaignsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Starting_today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-25</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignsToActivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignsToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
