force-app/main/default/flows/Cancel_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>check_to_not_cancel_Appointmnet</name>
        <label>check to not cancel Appointmnet</label>
        <locationX>922</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>Available_for_Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Case_exist_for_cancel</name>
        <label>Case exist for cancel</label>
        <locationX>1068</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>Cancel_Case_for_Canceled_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_record</name>
        <label>found record</label>
        <locationX>732</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>can_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calendar_and_Medical_Procedure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_to_not_cancel_Appointmnet</targetReference>
            </connector>
            <label>can cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Next</name>
        <label>What Next</label>
        <locationX>737</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Cancel_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>Check_Availability_for_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calendar_and_Medical_Procedure</targetReference>
            </connector>
            <label>Check Availability for Cancel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cancel Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Appointment</name>
        <label>Appointment</label>
        <locationX>584</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calendar_and_Medical_Procedure</name>
        <label>Calendar and Medical Procedure</label>
        <locationX>741</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Procedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment.Medical_Procedure__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment.Calendar__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>calendar_medp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Appointment</name>
        <label>Cancel Appointment</label>
        <locationX>916</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Case_exist_for_cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Status__c</field>
            <value>
                <stringValue>WaitingForCanceled</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Case_for_Canceled_Appointment</name>
        <label>Cancel Case for Canceled Appointment</label>
        <locationX>1243</locationX>
        <locationY>214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Available_for_Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>What_to_do</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
