force-app/main/default/flows/Change_Record_Type_Medical_Records_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Related_Case_Data</name>
        <label>Assignment Related Case Data</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rvCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.Case_subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אחזור מידע רפואי</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.Medical_Info_Management_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אסותא</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Case</targetReference>
        </connector>
    </assignments>
    <description>לאחר שנוצר ASSUTA FILE בטופס אחזור מידע רפואי, פניות מסוג &quot;זימון תורי חדש&quot; משתנות לסוג פניה &quot;ניהול ורישום מידע רפואי&quot;

AM: 03042025- 1897012323- REFACTOR
AM: 17042025- BUG FIX - wrong recordtype assinment fixed. (recordtype needs to be Medical_Info_Management)</description>
    <environments>Default</environments>
    <interviewLabel>Change Record Type When Medical Records Form Is Sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Record Type When Medical Records Form Is Sent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Medical_Info_Management</description>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Related_Case_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical_Info_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Case</name>
        <label>Update Related Case</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>rvCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>file_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ארכיון</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
