force-app/main/default/flows/Check_agreements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Check agreements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check agreements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Medical_Procedure_Details</name>
        <label>Get Medical Procedure Details</label>
        <locationX>248</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InsertParameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Medical_Procedure__c</object>
        <outputAssignments>
            <assignToReference>MedicalProcedureType</assignToReference>
            <field>Medical_Procedure_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProcedureName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProcedureCode</assignToReference>
            <field>Procedure_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MedicalProcedureStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>InsertParameters</name>
        <label>בדיקת הסכם ומחיר</label>
        <locationX>487</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>getPrices</name>
            <extensionName>c:getPrices</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>medProcCode</name>
                <value>
                    <elementReference>ProcedureCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medProcType</name>
                <value>
                    <elementReference>MedicalProcedureType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medProcName</name>
                <value>
                    <elementReference>ProcedureName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Medical_Procedure_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MedicalProcedureStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MedicalProcedureType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcedureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcedureName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Medical Procedure ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
