force-app/main/default/flows/Check_If_Pre_Surgery_Required_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Appointment_Data_Nurse</name>
        <label>Assign Appointment Data- Nurse</label>
        <locationX>380</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyResults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>לבדיקת אחות טרום ניתוח – החלטה והמלצות</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nurse_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Nurse_Only</name>
        <label>Assign Appointment Data- Nurse Only</label>
        <locationX>314</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrayToFormula_Nurse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Nurse_Triage_Match</name>
        <label>Assign Appointment Data- Nurse Triage Match</label>
        <locationX>380</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.NurseTriageMatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Is_The_Survey_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Pre_Surgery_And_Nurse</name>
        <label>Assign Appointment Data- Pre Surgery And Nurse</label>
        <locationX>578</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescCombNurseAndPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Pre_Surgery_Is_Needed</name>
        <label>Assign Appointment Data- Pre Surgery Is Needed</label>
        <locationX>842</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.PreSurgMedProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>כן</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyResults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>נדרשת הערכה במרפאת טרום ניתוח</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Pre_Surgery_Not_Required</name>
        <label>Assign Appointment Data- Pre Surgery Not Required</label>
        <locationX>1106</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.PreSurgMedProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>לא</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyResults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>לא נדרש טרום ניתוח</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyDescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_Pre_Surgery_Only</name>
        <label>Assign Appointment Data- Pre Surgery Only</label>
        <locationX>50</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArrayToFormula_PreSurg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_Data_PreSurgery</name>
        <label>Assign Appointment Data- PreSurgery</label>
        <locationX>380</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>rvAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.PreSurgMedProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>כן</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAppointment.SurveyResults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>נדרשת הערכה במרפאת טרום ניתוח</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Surgery_Nurse_Is_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment collect (from the loop) questions name that belong to PreSurgery Assessment,
Results are added to a Var. we are using this Var to update &quot;SurveyDescription&quot; field</description>
        <name>Assign_PreSurgery_QnAs_2_VAR</name>
        <label>Assign PreSurgery QnAs 2 VAR</label>
        <locationX>1744</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>PS_CounterVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuestionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Responses.Question_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnswerVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Responses.Response__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnswerVar2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Responses.Response_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnswerVar3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Responses.Response_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_QnA_Array_PreSurg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Required_Nurse</name>
        <label>Assign Required Nurse</label>
        <locationX>3064</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>NurseQuestionsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseAnswersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseAnswersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseAnswersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseCounterVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseSingleQuestionVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Question_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseSingleAnswerVAR1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseSingleAnswerVAR2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NurseSingleAnswerVAR3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_PreSurgery_Nurse_Responses.Response_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_QnA_Array_Nurse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this assignment construct an array of &quot;QnA_Formula&quot; (this formula is used for the construction of each string) 
in each loop cycle construct a string with a question and answers (each question can have up to 3 answers in the survey)</description>
        <name>Construct_QnA_Array_Nurse</name>
        <label>Construct QnA Array Nurse</label>
        <locationX>3064</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>NurseQuestionsAnswered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QnA_Furmula_Nurse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_PreSurgery_Nurse_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this assignment construct an array of &quot;QnA_Formula&quot; (this formula is used for the construction of each string) 
in each loop cycle construct a string with a question and answers (each question can have up to 3 answers in the survey)</description>
        <name>Construct_QnA_Array_PreSurg</name>
        <label>Construct QnA Array_PreSurg</label>
        <locationX>1744</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>PreSurgeryQuestionsAnswered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QnA_Formula_PreSurg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_PreSurgery_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>באובייקט פעולה רפואית יש שדה שליטה בשם האם נדרש טרום ניתוח
קבלת ערך טרו בוליאני בשדה זה תדרוס את תוצאות השאלון כך שהתוצאות הן נדרש טרום ניתוח
(Is_there_a_need_for_pre_surgery)</description>
        <name>Doctors_Decision_Pre_Surgery_Is_Needed</name>
        <label>Doctors Decision- Pre Surgery Is Needed?</label>
        <locationX>974</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Assign_Appointment_Data_Pre_Surgery_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pre_Surgery_Is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Medical_Procedure__r.Is_there_a_need_for_pre_surgery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Pre_Surgery_Is_Needed</targetReference>
            </connector>
            <label>Yes- Pre Surgery Is Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nurse_Triage</name>
        <label>Nurse Triage?</label>
        <locationX>512</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>What_Is_The_Survey_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Nurse_Triage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.SurveyResults__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לבדיקת אחות טרום ניתוח – החלטה והמלצות</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Nurse_Triage_Match</targetReference>
            </connector>
            <label>Yes- Nurse Triage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Surgery</name>
        <label>Pre Surgery?</label>
        <locationX>512</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Pre_Surgery_Nurse_Is_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pre_Surgery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.PreSurgMedProcedure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PS_CounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_PreSurgery</targetReference>
            </connector>
            <label>Yes- Pre Surgery</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if PreSurgery Nurse is required according to received answers</description>
        <name>Pre_Surgery_Nurse_Is_Required</name>
        <label>Pre Surgery Nurse Is Required?</label>
        <locationX>512</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Nurse_Triage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Nurse_Is_Required</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>NurseCounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.SurveyResults__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>נדרשת הערכה במרפאת טרום ניתוח</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment__r.PreSurgMedProcedure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Nurse</targetReference>
            </connector>
            <label>Yes- Nurse Is Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreSurgery_Assesment_Required</name>
        <label>PreSurgery Assesment Required?</label>
        <locationX>1744</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_PreSurgery_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PreSurgery Assesment not Required</defaultConnectorLabel>
        <rules>
            <name>BMI_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsBMItoPreSurgery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>BMI Index</label>
        </rules>
        <rules>
            <name>Heart_Attack_0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heart_attack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בשלושת החודשים האחרונים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Heart Attack 0-3</label>
        </rules>
        <rules>
            <name>Hart_Attack_3_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heart_attack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בין שלושה לשישה חודשים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Hart Attack 3-6</label>
        </rules>
        <rules>
            <name>Catheterization_0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catheterization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בשלושת החודשים האחרונים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Catheterization 0-3</label>
        </rules>
        <rules>
            <name>Catheterization_3_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catheterization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בין שלושה לשישה חודשים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Catheterization 3-6</label>
        </rules>
        <rules>
            <name>Arrhythmia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrhythmia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Arrhythmia</label>
        </rules>
        <rules>
            <name>PreSurgeryAsthma</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>asthma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מעל 4 התקפים בשנה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>PreSurgeryAsthma</label>
        </rules>
        <rules>
            <name>kidneys_and_Dialysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kidneys</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>kidneys and Dialysis</label>
        </rules>
        <rules>
            <name>Stroke_0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stroke</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בשלושת החודשים האחרונים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Stroke 0-3</label>
        </rules>
        <rules>
            <name>Stroke_3_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stroke</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בין שלושה לשישה חודשים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Stroke 3-6</label>
        </rules>
        <rules>
            <name>sleep_apnea_and_CPAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sleep_apnea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>sleep apnea and CPAP</label>
        </rules>
        <rules>
            <name>Parkinsons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parkinsons</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>Parkinsons</label>
        </rules>
        <rules>
            <name>COPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreSurgery_QnAs_2_VAR</targetReference>
            </connector>
            <label>COPD</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a survey&apos;s response correlate with PreSurgery Nurse check</description>
        <name>PreSurgery_Nurse_required</name>
        <label>PreSurgery Nurse required?</label>
        <locationX>3064</locationX>
        <locationY>1205</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_PreSurgery_Nurse_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nurse Assesment is Not Required</defaultConnectorLabel>
        <rules>
            <name>Hart_Attack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>heart_attack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>למעלה מחצי שנה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Hart Attack 6+</label>
        </rules>
        <rules>
            <name>Catheterization_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catheterization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>למעלה מחצי שנה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Catheterization 6+</label>
        </rules>
        <rules>
            <name>Arrhythmia4Nurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrhythmia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Arrhythmia</label>
        </rules>
        <rules>
            <name>Valves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valves</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Valves</label>
        </rules>
        <rules>
            <name>Pacemaker_defibrillator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pacemaker_defibrillator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Pacemaker_defibrillator</label>
        </rules>
        <rules>
            <name>Asthma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>asthma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-4 התקפים בשנה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Asthma</label>
        </rules>
        <rules>
            <name>calculate_smoke</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>calculate_smoke</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateSmokeForNursePreSurgery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>calculate_smoke</label>
        </rules>
        <rules>
            <name>kidneys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kidneys</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>kidneys</label>
        </rules>
        <rules>
            <name>Stroke_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stroke</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>למעלה מחצי שנה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Stroke 6+</label>
        </rules>
        <rules>
            <name>epilepsy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>epilepsy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>epilepsy</label>
        </rules>
        <rules>
            <name>diabetes_mellitus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>diabetes_mellitus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>diabetes_mellitus</label>
        </rules>
        <rules>
            <name>Thyroid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thyroid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Thyroid</label>
        </rules>
        <rules>
            <name>Anemia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anemia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Anemia</label>
        </rules>
        <rules>
            <name>sleep_apnea_and_no_CPAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sleep_apnea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>sleep apnea and no CPAP</label>
        </rules>
        <rules>
            <name>Sensitivities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sensitivities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Sensitivities</label>
        </rules>
        <rules>
            <name>Other_DisordersYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>other_disorders:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Other Disorders</label>
        </rules>
        <rules>
            <name>Medication_Regularly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medication_regularly:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Medication Regularly:</label>
        </rules>
        <rules>
            <name>Painkillers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Painkillers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Painkillers</label>
        </rules>
        <rules>
            <name>Drug_Cannabis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drug_cannabis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Question_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Drug Cannabis</label>
        </rules>
        <rules>
            <name>Problems_Anesthesia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>surgery1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_3__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>קושי</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Problems Anesthesia</label>
        </rules>
        <rules>
            <name>Problems_Anesthesia_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>problems_anesthesia_family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Problems Anesthesia Family</label>
        </rules>
        <rules>
            <name>Sport_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sprort</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Sport Activity</label>
        </rules>
        <rules>
            <name>Coagulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coagulation_blood_disorders:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Coagulation</label>
        </rules>
        <rules>
            <name>Consult_Doctor</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>consult_doctor_following_topics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>קרדיולוג</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רופא ריאות</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נוירולוג</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מרפאת קוצבים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אחר</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Consult Doctor</label>
        </rules>
        <rules>
            <name>Muscle_disease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Muscle_disease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>Muscle_disease</label>
        </rules>
        <rules>
            <name>hospitalization_0_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hospitalization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>hospitalization 0-6</label>
        </rules>
        <rules>
            <name>BMI_Index_for_NursePreSurgery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsBMIforNursePreSurgery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>BMI Index for NursePreSurgery</label>
        </rules>
        <rules>
            <name>ChemoNurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.QuestionName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chemo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_PreSurgery_Nurse_Responses.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Nurse</targetReference>
            </connector>
            <label>ChemoNurse</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Survey_Description</name>
        <label>What Is The Survey Description?</label>
        <locationX>512</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Doctors_Decision_Pre_Surgery_Is_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pre Surgery Or Nurse</defaultConnectorLabel>
        <rules>
            <name>Pre_Surgery_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PS_CounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NurseCounterVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Pre_Surgery_Only</targetReference>
            </connector>
            <label>Pre Surgery Only</label>
        </rules>
        <rules>
            <name>Nurse_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NurseCounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PS_CounterVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Nurse_Only</targetReference>
            </connector>
            <label>Nurse Only</label>
        </rules>
        <rules>
            <name>Pre_Surgery_And_Nurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PS_CounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NurseCounterVar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Data_Pre_Surgery_And_Nurse</targetReference>
            </connector>
            <label>Pre Surgery And Nurse</label>
        </rules>
    </decisions>
    <description>US - 16707 Optimized BMI formulas 
(IsBMIforNursPreSurgery and IsBMItoPreSurgery)
added function for SITE=69 (Ashdod)

AM: 20042025- 1897012323- REFACTOR (PARTIAL)</description>
    <environments>Default</environments>
    <formulas>
        <name>ArrayToFormula_Nurse</name>
        <dataType>String</dataType>
        <expression>{!NurseQuestionsAnswered}</expression>
    </formulas>
    <formulas>
        <name>ArrayToFormula_PreSurg</name>
        <dataType>String</dataType>
        <expression>{!PreSurgeryQuestionsAnswered}</expression>
    </formulas>
    <formulas>
        <description>this formula checks if calculate_smoke&gt;10 
if true -&gt;Nurse PreSurgery
if false-&gt; PreSurgery in not required</description>
        <name>CalculateSmokeForNursePreSurgery</name>
        <dataType>Boolean</dataType>
        <expression>IF(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&gt;10, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>DescCombNurseAndPS</name>
        <dataType>String</dataType>
        <expression>{!ArrayToFormula_PreSurg} + BR()+ BR()+ {!ArrayToFormula_Nurse}</expression>
    </formulas>
    <formulas>
        <description>Checks if BMI is between 35 and 40 for all centers excluding Ashdod Samson (goes for Pre-Surgery at BMI 35)</description>
        <name>IsBMIforNursePreSurgery</name>
        <dataType>Boolean</dataType>
        <expression>/*
OR(
IF(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&gt;=60, TRUE,FALSE),
IF(AND(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&lt;=40, AND(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&gt;=35), NOT({!$Record.Site__r.Site_Code__c}=&apos;69&apos;)),
TRUE,FALSE))
*/

IF(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&gt;=60 ||
(VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&gt;=35 &amp;&amp;
VALUE({!Check_for_PreSurgery_Nurse_Responses.Response__c})&lt;=40 &amp;&amp;
NOT({!$Record.Site__r.Site_Code__c}=&apos;69&apos;)), 
TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>this formula has two parts:
1) checks if BMI&gt;40
2) checks if BMI &gt; 35 and site code is 33 (Ashdod Samson)</description>
        <name>IsBMItoPreSurgery</name>
        <dataType>Boolean</dataType>
        <expression>OR(
      IF(AND(
                   VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;40,
          AND(
                    VALUE({!Check_for_PreSurgery_Responses.Response__c})&lt;60),
                    NOT({!$Record.Site__r.Site_Code__c}=&apos;69&apos;)),
                     TRUE, FALSE),
     IF(AND(
                    VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;=35,
         AND(
                     VALUE({!Check_for_PreSurgery_Responses.Response__c})&lt;60), {!$Record.Site__r.Site_Code__c}=&apos;69&apos;),
                    TRUE, FALSE))
/*
IF(
(VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;=40 &amp;&amp;
 VALUE({!Check_for_PreSurgery_Responses.Response__c})&lt;=60 &amp;&amp;
NOT{!$Record.Site__r.Site_Code__c}=&apos;69&apos;) ||
(VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;=35 &amp;&amp;
VALUE({!Check_for_PreSurgery_Responses.Response__c})&lt;=60 &amp;&amp;
{!$Record.Site__r.Site_Code__c}=&apos;69&apos;),
TRUE, FALSE)
*/
/*
OR(
      IF(AND(VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;40,
                  VALUE({!Check_for_PreSurgery_Responses.Response__c})&lt;60), TRUE, FALSE),
          IF(AND(VALUE({!Check_for_PreSurgery_Responses.Response__c})&gt;=35, {!$Record.Site__r.Site_Code__c}=&apos;69&apos;),TRUE, FALSE))
*/</expression>
    </formulas>
    <formulas>
        <description>With each cycle of the loop, this formula takes a question name from the loop and adds relevant answer</description>
        <name>QnA_Formula_PreSurg</name>
        <dataType>String</dataType>
        <expression>{!SingleQuestionVar} + {!SingleAnswerVar} + {!SingleAnswerVar2} + {!SingleAnswerVar3}</expression>
    </formulas>
    <formulas>
        <description>With each cycle of the loop, this formula takes a question name from the loop and adds relevant answers</description>
        <name>QnA_Furmula_Nurse</name>
        <dataType>String</dataType>
        <expression>&quot; :לבדיקת אחות טרום ניתוח&quot;+&quot; &quot; + 
BR()+
{!NurseSingleQuestionVAR}+{!NurseSingleAnswerVAR1}+{!NurseSingleAnswerVAR2}+{!NurseSingleAnswerVAR3}</expression>
    </formulas>
    <interviewLabel>Check If Pre-Surgery Required - RT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check If Pre-Surgery Required - RT</label>
    <loops>
        <name>Check_for_PreSurgery_Nurse_Responses</name>
        <label>Check for PreSurgery Nurse Responses</label>
        <locationX>512</locationX>
        <locationY>1097</locationY>
        <collectionReference>Get_Questions_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PreSurgery_Nurse_required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pre_Surgery</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop checks if there are answers related to Pre-Surgery</description>
        <name>Check_for_PreSurgery_Responses</name>
        <label>Check for PreSurgery Responses</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Questions_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PreSurgery_Assesment_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_PreSurgery_Nurse_Responses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Questions_Response</name>
        <label>Get Questions Response</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PreSurgery_Responses</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36 OR 37 OR 38)</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>heart_attack</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catheterization</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arrhythmia</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>kidneys</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stroke</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Muscle_disease</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parkinsons</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sleep_apnea</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valves</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pacemaker_defibrillator</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>asthma</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>smoke</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>epilepsy</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Thyroid</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>anemia</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>other_disorders:</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Snoring</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fatigue</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sensitivities</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>medication_regularly:</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>medication_regularly:</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alcohol</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Painkillers</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drug_cannabis</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Previous_anesthesia</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>problems_anesthesia</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>problems_anesthesia_family</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sprort</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hospitalization</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coagulation_blood_disorders:</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>consult_doctor_following_topics</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>diabetes_mellitus</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>surgery1</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMI</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COPD</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>calculate_smoke</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chemo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>512</locationX>
        <locationY>3155</locationY>
        <inputReference>rvAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Questions_Response</targetReference>
        </connector>
        <filterFormula>AND ( 
{!$Record.Survey__r.Name}=&quot;הערכת טרום ניתוח&quot;,
{!$Record.Fill_Percentage__c} &gt;0.99)</filterFormula>
        <object>SurveyTaker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NurseAnswersVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NurseCounterVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NurseQuestionsAnswered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds the questions name related to the Pre surgery Nurse Assessment</description>
        <name>NurseQuestionsVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NurseSingleAnswerVAR1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NurseSingleAnswerVAR2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NurseSingleAnswerVAR3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NurseSingleQuestionVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreSurgeryAnswersVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreSurgeryQuestionsAnswered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PS_CounterVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rvAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>SingleAnswerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAnswerVar2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAnswerVar3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleQuestionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
