force-app/main/default/flows/Check_if_doctor_allowed_to_do_Medical_Procedure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>האם נמצאה רשומה מקשרת בין הרופא לפעולה הרפואית?</description>
        <name>It_there_Doctor_Medical_Procedure</name>
        <label>It there Doctor Medical Procedure?</label>
        <locationX>568</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Update_the_app_Doc_not_allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doctor_Medical_ID_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doctor_Medical_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dont_update_the_Appointment</targetReference>
            </connector>
            <label>Doctor_Medical_ID not null</label>
        </rules>
    </decisions>
    <description>בודק עובר פגישת ניתוח שהרופא רשאי לבצע את הפעולה הרפואית</description>
    <interviewLabel>Check if doctor allowed to do Medical Procedure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if doctor allowed to do Medical Procedure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>מצא את האובייקט המקשר בין רופא לפעולה רפואית</description>
        <name>Get_Doctor_Medical_Procedure</name>
        <label>Get Doctor Medical Procedure</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>It_there_Doctor_Medical_Procedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DoctorID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Procedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MedicalProcedure1ID</elementReference>
            </value>
        </filters>
        <object>Doctor_Medical_Procedure__c</object>
        <outputAssignments>
            <assignToReference>Doctor_Medical_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Dont_update_the_Appointment</name>
        <label>Dont update the Appointment</label>
        <locationX>576</locationX>
        <locationY>282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doc_not_allowed_to_do_medical_procedure__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>במידה ולא נמצאה רשומה מקושרת, הצ&apos;קבוקס בפגישה יתעדכן - רופא לא רשאי לבצע פעולה</description>
        <name>Update_the_app_Doc_not_allowed</name>
        <label>Update the app - Doc not allowed</label>
        <locationX>858</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doc_not_allowed_to_do_medical_procedure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Doctor_Medical_Procedure</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Doctor_Medical_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DoctorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MedicalProcedure1ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
