force-app/main/default/flows/connect_rec_case_to_exising_one.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>END</name>
        <label>END</label>
        <locationX>428</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>account_sfid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_sfid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Results</name>
        <label>Results</label>
        <locationX>418</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>update_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Results</defaultConnectorLabel>
        <rules>
            <name>No_reults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLD_CASE_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>END</targetReference>
            </connector>
            <label>No reults</label>
        </rules>
    </decisions>
    <description>קישור פניית המלצה חדשה לרופא מומחה לפנייה ישנה שלא נקבעה לה פגישה, והעתקת הרופאים המומלצים שלה</description>
    <interviewLabel>connect rec case to exising one {!$Flow.CurrentDateTime}</interviewLabel>
    <label>connect rec case to exising one</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_rec_cases_for_account</name>
        <label>get rec cases for account</label>
        <locationX>272</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_sfid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>new_Case_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Caneclled</stringValue>
            </value>
        </filters>
        <filters>
            <field>num_of_apts__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sub_case_subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>המלצה על רופא מומחה</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Created_date_new_case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>OLD_CASE_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update_account</label>
        <locationX>640</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_sfid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>last_recommended_case_id__c</field>
            <value>
                <elementReference>OLD_CASE_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case</name>
        <label>update_case</label>
        <locationX>639</locationX>
        <locationY>267</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_Case_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>related_Case_rec__c</field>
            <value>
                <elementReference>OLD_CASE_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>get_rec_cases_for_account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>account_sfid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_date_new_case</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Recommended_Doctor__c</objectType>
    </variables>
    <variables>
        <name>new_Case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OLD_CASE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recdoccollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Recommended_Doctor__c</objectType>
    </variables>
</Flow>
