force-app/main/default/flows/Create_Case_for_Surgery_Appointment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Processing_Status</name>
        <label>Assign Processing Status</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.processing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ממתין לטיפול נציג</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignProcessingDate</name>
        <label>AssignProcessingDate</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.start_processing_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNOW</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Appointment_Status</name>
        <label>Appointment Status</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Processing_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apntmnt_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בטיפול אדמיניסטרטיבי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.processing_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>בטיפול נציג</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Processing_Status</targetReference>
            </connector>
            <label>Appointment Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processing_Status_Check</name>
        <label>Processing Status Check</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processing_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.processing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בטיפול נציג</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.processing_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProcessingDate</targetReference>
            </connector>
            <label>Processing Status</label>
        </rules>
    </decisions>
    <description>Refactoring - US 20571
Consolidating trigger conditions,
Adding assign element to reduce CRUD use
OK: update processing_status__c for new apiNames</description>
    <environments>Default</environments>
    <formulas>
        <name>fNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Create Case for Surgery Appointment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Surgery Appointment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_Status</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;Surgeries&apos;</filterFormula>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
