force-app/main/default/flows/Create_Account_When_Cased_is_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_numofcontacts</name>
        <label>Copy 1 of numofcontacts</label>
        <locationX>1694</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>numberofcontacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>potentialexistingcontacts2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Contact_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_numofcontacts</name>
        <label>Copy 2 of numofcontacts</label>
        <locationX>970</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>numberofcontacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_EXISTING_CONTACT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Contact_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Suppliers</name>
        <label>Count Number of Suppliers</label>
        <locationX>1200</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfSuppliers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Suppliers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Suppliers_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>numofcontacts</name>
        <label>numofcontacts</label>
        <locationX>510</locationX>
        <locationY>3491</locationY>
        <assignmentItems>
            <assignToReference>numberofcontacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>potentialexistingcontacts2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Found2</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_Filter_Email</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 1 of Filter Email</label>
        <locationX>1694</locationX>
        <locationY>1295</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Email</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialexistingcontacts2</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Email.Email</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_numofcontacts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_2_of_Filter_Email</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 2 of Filter Email</label>
        <locationX>970</locationX>
        <locationY>1511</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Email</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_1_of_EXISTING_CONTACT</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Email.Email</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_numofcontacts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Email</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Email</label>
        <locationX>510</locationX>
        <locationY>3383</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Email</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialexistingcontacts2</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Email.Email</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>numofcontacts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Account_Not_Found</name>
        <label>Account Not Found</label>
        <locationX>422</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>Update_Bank_Details_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Existing_Suppliers_0.Supplier_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Existing_Suppliers_0.Supplier_Found__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Account_Not_Found_0</targetReference>
            </connector>
            <label>Supplier Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found2</name>
        <label>Contact Found?</label>
        <locationX>510</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>Update_Bank_Details3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberofcontacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_filtered_contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Contact_Found</name>
        <label>Copy 2 of Contact Found?</label>
        <locationX>1694</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Update_Bank_Details5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberofcontacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_loop_through_filtered_contact</targetReference>
            </connector>
            <label>Copy 1 of Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Contact_Found</name>
        <label>Copy 4 of Contact Found?</label>
        <locationX>970</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Bank_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberofcontacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_loop_through_filtered_contact</targetReference>
            </connector>
            <label>Copy 3 of Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Suppliers_Exist</name>
        <label>If Suppliers Exist</label>
        <locationX>1200</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberOfSuppliers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הקמת ספק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Subtopic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הקמת ספק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Existing_Suppliers_0</targetReference>
            </connector>
            <label>Supplier Exists- Supplier Creation Case</label>
        </rules>
        <rules>
            <name>Update_Supplier_Info_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עדכון פרטי ספק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Subtopic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>עדכון פרטי ספק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Update Supplier Info Case</label>
        </rules>
        <rules>
            <name>Supplier_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הקמת ספק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Subtopic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הקמת ספק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Account_Not_Found2</targetReference>
            </connector>
            <label>Supplier Doesn&apos;t Exist- Supplier Creation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Found_0</name>
        <label>Is Account Found</label>
        <locationX>882</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Existing_Suppliers_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Existing_Suppliers_0.Supplier_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bank_Details_Existing_Account_0</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Account When Cased is Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account When Case is Closed</label>
    <loops>
        <name>Copy_1_of_loop_through_filtered_contact</name>
        <label>Copy 1 of loop through filtered contact</label>
        <locationX>1586</locationX>
        <locationY>1619</locationY>
        <collectionReference>potentialexistingcontacts2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_ID5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bank_Details5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_2_of_loop_through_filtered_contact</name>
        <label>Copy 2 of loop through filtered contact</label>
        <locationX>862</locationX>
        <locationY>1835</locationY>
        <collectionReference>Copy_1_of_EXISTING_CONTACT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Update_Account_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Bank_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Suppliers_0</name>
        <label>Loop Through Existing Suppliers</label>
        <locationX>422</locationX>
        <locationY>863</locationY>
        <collectionReference>Suppliers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Account_Found_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Not_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_filtered_contact</name>
        <label>loop through filtered contact</label>
        <locationX>402</locationX>
        <locationY>3707</locationY>
        <collectionReference>potentialexistingcontacts2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_ID3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bank_Details3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Contact_Contact_Not_Found</name>
        <label>Copy 1 of Create Contact- Contact Not Found</label>
        <locationX>510</locationX>
        <locationY>1295</locationY>
        <assignRecordIdToReference>CreatedContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_EXISTING_CONTACT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_Through_Existing_Suppliers_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Contact_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Account_Not_Found2</name>
        <label>Create Account- Account Not Found</label>
        <locationX>1234</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>CreatedAccount.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_3_of_Update_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <elementReference>$Record.BankAccount_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <elementReference>$Record.Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailbox__c</field>
            <value>
                <elementReference>$Record.Mailbox_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Account_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Name__c</field>
            <value>
                <elementReference>$Record.Street_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Number__c</field>
            <value>
                <elementReference>$Record.Street_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Number__c</field>
            <value>
                <elementReference>$Record.Business_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Type__c</field>
            <value>
                <elementReference>$Record.Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Account_Not_Found_0</name>
        <label>Create Account- Account Not Found</label>
        <locationX>50</locationX>
        <locationY>2951</locationY>
        <assignRecordIdToReference>CreatedAccount.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_ID_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <elementReference>$Record.BankAccount_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <elementReference>$Record.Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailbox__c</field>
            <value>
                <elementReference>$Record.Mailbox_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Account_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Name__c</field>
            <value>
                <elementReference>$Record.Street_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Number__c</field>
            <value>
                <elementReference>$Record.Street_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Number__c</field>
            <value>
                <elementReference>$Record.Business_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Type__c</field>
            <value>
                <elementReference>$Record.Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Contact_Not_Found</name>
        <label>Create Contact- Contact Not Found</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <assignRecordIdToReference>CreatedContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_ID2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EXISTING_CONTACT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Contact_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Contact_Not_Found2</name>
        <label>Create Contact- Contact Not Found</label>
        <locationX>1234</locationX>
        <locationY>1079</locationY>
        <assignRecordIdToReference>CreatedContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_ID2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EXISTING_CONTACT2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Contact_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_EXISTING_CONTACT</name>
        <label>Copy 1 of EXISTING CONTACT</label>
        <locationX>970</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Filter_Email</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>SMS_Phone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EXISTING_CONTACT</name>
        <label>EXISTING CONTACT</label>
        <locationX>510</locationX>
        <locationY>3275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Email</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>potentialexistingcontacts2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>EXISTING_CONTACT2</name>
        <label>EXISTING CONTACT</label>
        <locationX>1694</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Filter_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>potentialexistingcontacts2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Suppliers</name>
        <label>Get Existing Suppliers</label>
        <locationX>1200</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Suppliers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Account_Supplier.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Suppliers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplier_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Account_Supplier</name>
        <label>Get Record Type  Account Supplier</label>
        <locationX>1200</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Contact_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Contact_Supplier</name>
        <label>Get Record Type Contact Supplier</label>
        <locationX>1200</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Suppliers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Copy_1_of_Update_Account_ID</name>
        <label>Copy 1 of Update Account ID</label>
        <locationX>950</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_AccountiD_in_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Copy_2_of_loop_through_filtered_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_AccountiD_in_contact</name>
        <label>Copy 1 of Update AccountiD in contact</label>
        <locationX>950</locationX>
        <locationY>2051</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Update_Bank_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_loop_through_filtered_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Bank_Details</name>
        <label>Copy 1 of Update Bank Details</label>
        <locationX>970</locationX>
        <locationY>2393</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_AccountiD_in_contact</name>
        <label>Copy 2 of Update AccountiD in contact</label>
        <locationX>490</locationX>
        <locationY>3923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_filtered_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Copy_3_of_Update_Account_ID</name>
        <label>Copy 3 of Update Account ID</label>
        <locationX>1234</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Contact_Contact_Not_Found2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>970</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Bank_Details_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <elementReference>$Record.BankAccount_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <elementReference>$Record.Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Account_ID</name>
        <label>Update Account ID</label>
        <locationX>510</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Contact_Contact_Not_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_Through_Existing_Suppliers_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Account_ID2</name>
        <label>Update Account ID</label>
        <locationX>1234</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Update_Bank_Details_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Account_ID3</name>
        <label>Update Account ID</label>
        <locationX>490</locationX>
        <locationY>3815</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_AccountiD_in_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>loop_through_filtered_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Account_ID5</name>
        <label>Update Account ID</label>
        <locationX>1674</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_AccountiD_in_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Copy_1_of_loop_through_filtered_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Account_ID_0</name>
        <label>Update Account ID</label>
        <locationX>50</locationX>
        <locationY>3059</locationY>
        <connector>
            <targetReference>Create_Contact_Contact_Not_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AccountiD_in_contact</name>
        <label>Update AccountiD in contact</label>
        <locationX>1674</locationX>
        <locationY>1835</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bank_Details5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_loop_through_filtered_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bank_Details3</name>
        <label>Update Bank Details</label>
        <locationX>510</locationX>
        <locationY>4307</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bank_Details5</name>
        <label>Update Bank Details</label>
        <locationX>1694</locationX>
        <locationY>2177</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bank_Details_0_0_0</name>
        <label>Update Bank Details</label>
        <locationX>422</locationX>
        <locationY>4631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bank_Details_0_0_0_0</name>
        <label>Update Bank Details</label>
        <locationX>1234</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bank_Details_0_0_0_0_0</name>
        <label>Update Bank Details</label>
        <locationX>970</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found, all is needed is to update the bank details so they can be deleted from the case</description>
        <name>Update_Bank_Details_Existing_Account_0</name>
        <label>Update Bank Details- Existing Account</label>
        <locationX>510</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAccount_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Branch_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccount_Number__c</field>
            <value>
                <elementReference>$Record.BankAccount_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Number__c</field>
            <value>
                <elementReference>$Record.Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Contact_ID</name>
        <label>Update Contact ID</label>
        <locationX>510</locationX>
        <locationY>1403</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bank_Details_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If account is found- updates the account ID inside of the case.</description>
        <name>Update_Contact_ID2</name>
        <label>Update Contact ID</label>
        <locationX>50</locationX>
        <locationY>3275</locationY>
        <connector>
            <targetReference>Update_Bank_Details_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1074</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Account_Supplier</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Supplier&apos; &amp;&amp; ISPICKVAL({!$Record.Status}, &quot;Closed&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>checkifcontactexists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>stores contact found by full name or phone number</description>
        <name>contactfound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CountNumberOfSuppliers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CreatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingcontact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingcontact1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Filteredcontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>numberofcontacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>potentialexistingcontacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>potentialexistingcontacts2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Suppliers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
