force-app/main/default/flows/Creating_Event_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>536</locationX>
        <locationY>1062</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>New_Event.Assuta_Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>New_Event.Assuta_Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_0</name>
        <label>send email</label>
        <locationX>668</locationX>
        <locationY>1073</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>New_Event.Assuta_Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>New_Event.Assuta_Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Owner_Queue_Ashdod</name>
        <label>Owner_Queue_Ashdod?</label>
        <locationX>546</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>Ashdod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Event.Case__r.Owner_Queue_wf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>פניות הציבור- אשדוד</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>Ashdod</label>
        </rules>
        <rules>
            <name>public_inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Event.Case__r.Owner_Queue_wf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>פניות הציבור - מרכזים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_0</targetReference>
            </connector>
            <label>public inquiry</label>
        </rules>
    </decisions>
    <description>יצירת טופס 
תחקור אירוע</description>
    <formulas>
        <description>כתובת מיל עבור המייל אקשן</description>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Public_Inquiry.Account.Email_Patient__c}</expression>
    </formulas>
    <interviewLabel>Creating Event Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creating Event Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>יצירת רשומה חדשה מסוג תחקיר אירוע</description>
        <name>Create_Event_inquiry</name>
        <label>Create Event inquiry</label>
        <locationX>399</locationX>
        <locationY>612</locationY>
        <assignRecordIdToReference>NewEventInquiry</assignRecordIdToReference>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Assuta_Employee__c</field>
            <value>
                <elementReference>Assuta_Employee.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Way_And_Cost__c</field>
            <value>
                <elementReference>ClosingWayAndCost1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurer_Factor__c</field>
            <value>
                <elementReference>Get_Public_Inquiry.Account.Insurer_Factor_text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needed_Changing__c</field>
            <value>
                <elementReference>NeededChanging</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Public_Inquiry.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Inquiry__c</object>
    </recordCreates>
    <recordLookups>
        <description>מציאת פניית הציבור הרלוונטית</description>
        <name>Get_Public_Inquiry</name>
        <label>Get Public Inquiry</label>
        <locationX>97</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Beginning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Event</name>
        <label>New Event</label>
        <locationX>553</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Queue_Ashdod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewEventInquiry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Beginning</name>
        <label>Beginning</label>
        <locationX>97</locationX>
        <locationY>453</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InputFromRecord</targetReference>
        </connector>
        <fields>
            <name>New</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 28px;&quot;&gt;יצירת תחקיר אירוע חדש&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>יצירת המסמך</description>
        <name>Creating_event_inquiry</name>
        <label>Creating event inquiry</label>
        <locationX>402</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Event_inquiry</targetReference>
        </connector>
        <fields>
            <name>Assuta_Employee</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assuta_Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>עובד אחראי</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Event_Inquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Reason</elementReference>
            </defaultValue>
            <fieldText>מהות פניית המטופל</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NeededChanging</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NeededChange</elementReference>
            </defaultValue>
            <fieldText>שינוי נדרש במדיניות בית החולים/בתהליך/במערכת/אחר</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ClosingWayAndCost1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ClosingWayAndCost</elementReference>
            </defaultValue>
            <fieldText>אופן סגירת הטיפול מול המטופל ועלותו (במידה ויש)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>551</locationX>
        <locationY>613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Event</targetReference>
        </connector>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;תחקיר אירוע נשלח לגורם האחראי/מטפל&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputFromRecord</name>
        <label>InputFromRecord</label>
        <locationX>250</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creating_event_inquiry</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;יצירת תחקיר אירוע&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InputFromRecord_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputFromRecord_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentDate</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;:תאריך&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;  {!$Flow.CurrentDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Patient_ID</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;מספר ת.ז:  &lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Get_Public_Inquiry.Patient__r.ID_Number__pc}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Get_Public_Inquiry.id_patient__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Insrurerfactor</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;גורם מבטח:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Get_Public_Inquiry.Account.Insurer_Factor_text__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Full_Name</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;שם המטופל:&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;{!Get_Public_Inquiry.Account.FirstName} {!Get_Public_Inquiry.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Public_Inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>גוף המייל</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;,שלום&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.בהמשך לפניה המצורפת, יש לבצע תחקיר אירוע ולמלא את הטופס המצורף תוך 7 ימי עבודה&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;{!New_Event.Link_to_Form__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;לחץ/י כאן&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;,בברכה&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;בית חולים אסותא&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;img height=&quot;140&quot; width=&quot;140&quot; src=&quot;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPsg217uhEqNmwzXtNwbRLArZTITFu7tQzxKrAC2llezRpxwX4Y_lp7SYysFPN-hvvdrk&amp;usqp=CAU&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;,שלום&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.בהמשך לפניה המצורפת, יש לבצע תחקיר אירוע ולמלא את הטופס המצורף תוך 7 ימי עבודה&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;{!New_Event.Link_to_Form__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;לחץ/י כאן&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;,בברכה&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;בית החולים אסותא &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;img height=&quot;100&quot; width=&quot;170&quot; src=&quot;https://www.assuta.co.il/files/NewSite/general-img/logo-svgimg.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>תחקיר אירוע</text>
    </textTemplates>
    <variables>
        <name>Assuta_Employees_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>מספר הקייס שממנו הופעל הפלו</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>הזנת נתונים בשדה
Closing Way And Cost</description>
        <name>ClosingWayAndCost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>הזנת טקסט בשדה 
Needed Changing</description>
        <name>NeededChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>רשומת תחקור הארוע החדשה שנוצרת בתהליך</description>
        <name>NewEventInquiry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>יעדכן את שדה
Reason</description>
        <name>ReasonField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>מילוי טופס תחקיר אירוע</description>
        <name>Text1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
