force-app/main/default/flows/Delete_Reminders_Public_Inquiries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_to_Delete</name>
        <label>Assign Email to Delete</label>
        <locationX>1542</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>Current_Email_to_Delete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Emails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_to_Delete_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_to_Delete_List</name>
        <label>Assign Email to Delete List</label>
        <locationX>1541</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>Emails_to_delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Email_to_Delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>האם יש אימיילים למחיקה</description>
        <name>Are_there_Emails_to_Delete</name>
        <label>Are there Emails to Delete</label>
        <locationX>974</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>there_are_Emails_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emails_to_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Unnecessary_Email_Reminders</targetReference>
            </connector>
            <label>there are Emails to delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Triggering_Messages</name>
        <label>Identify Triggering Messages</label>
        <locationX>1191</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Loop_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_that_shouldn_t_be_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Emails.Automation_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Emails.ActualSendingDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_to_Delete</targetReference>
            </connector>
            <label>Emails that shouldn&apos;t be sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Record_Type</name>
        <label>What Record Type</label>
        <locationX>1176</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Records_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Public Inquiries Item</defaultConnectorLabel>
        <rules>
            <name>Public_Inquiries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PublicInquiries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Records</targetReference>
            </connector>
            <label>Public Inquiries</label>
        </rules>
    </decisions>
    <description>מוחק מיילים של תיזכורות שעדיין לא נשלחו כשפניה מסוג פניות הציבור נסגרת או מבוטלת  או כשפריט הפניה הופך ללא פעיל או כשמתקבלת תשובה</description>
    <environments>Default</environments>
    <interviewLabel>Delete Reminders that weren&apos;t sent after Public Inquiries case is closed or cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Reminders Public Inquiries</label>
    <loops>
        <name>Loop_Emails</name>
        <label>Loop Emails</label>
        <locationX>1200</locationX>
        <locationY>489</locationY>
        <collectionReference>Grand_Children_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Identify_Triggering_Messages</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_Emails_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Unnecessary_Email_Reminders</name>
        <label>Delete Unnecessary Email Reminders</label>
        <locationX>983</locationX>
        <locationY>712</locationY>
        <inputReference>Emails_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Email_Records</name>
        <label>Get Email Records</label>
        <locationX>1052</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Grand_Parent_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>Grand_Children_Emails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualSendingDateTime__c</queriedFields>
        <queriedFields>Automation_name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Records_0</name>
        <label>Get Email Records</label>
        <locationX>1334</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>Grand_Children_Emails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualSendingDateTime__c</queriedFields>
        <queriedFields>Automation_name__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>What_Record_Type</targetReference>
        </connector>
        <filterLogic>2 AND (3 OR 4 OR 6 OR 7) AND (5 OR 1)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000cIt1AAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caneclled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000cIt2AAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not_Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>התקבלה תשובה</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Email_to_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Emails_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Grand_Children_Emails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
