force-app/main/default/flows/File_Approval_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Values_to_the_Fields</name>
        <label>Set Values to the Fields</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssutaFile.Approved_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssutaFile.Referral_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>בקשה אושרה</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssutaFile.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_VR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>שדה &quot;מסמך מאושר&quot; באובייקט מסמכים שווה לערך TRUE
האם שדות &quot;תאריך הפקה&quot; ו&quot;תאריך תוקף&quot; לא שווים ל NULL ושהערכים בשדות וולידים.</description>
        <name>Are_the_requirements_met</name>
        <label>Are the requirements met</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Fill_The_Missing_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Fields Values are missing</defaultConnectorLabel>
        <rules>
            <name>The_requirements_are_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssutaFile.DocDateBegin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssutaFile.DocDateEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_to_the_Fields</targetReference>
            </connector>
            <label>The requirements are met</label>
        </rules>
        <rules>
            <name>DocDateBegin_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssutaFile.DocDateBegin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssutaFile.DocDateEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_the_DocDateBegin_Field</targetReference>
            </connector>
            <label>DocDateBegin is missing</label>
        </rules>
        <rules>
            <name>DocDateEnd_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssutaFile.DocDateBegin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssutaFile.DocDateEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_the_DocDateEnd_Field</targetReference>
            </connector>
            <label>DocDateEnd is missing</label>
        </rules>
        <rules>
            <name>There_is_no_aprroval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssutaFile.DocDateBegin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssutaFile.DocDateEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Approval</targetReference>
            </connector>
            <label>There is no aprroval</label>
        </rules>
    </decisions>
    <description>פלואו שמוטרג מהכפתור &quot;אישור מסמך&quot; שבאובייקט Assuta Files מסוג &quot;מסמכי רופא&quot;</description>
    <environments>Default</environments>
    <interviewLabel>כפתור אישור מסמך {!$Flow.CurrentDateTime}</interviewLabel>
    <label>כפתור אישור מסמך</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_the_requirements_met</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssutaFile.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>מצא את ערכי השדות הנחוצים לפלואו מהרשומה המטריגה</description>
        <name>Get_the_record_s_fields</name>
        <label>Get the record&apos;s fields</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>File__c</object>
        <outputReference>AssutaFile</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DocDateBegin__c</queriedFields>
        <queriedFields>DocDateEnd__c</queriedFields>
        <queriedFields>IsApproved__c</queriedFields>
        <queriedFields>Approved_date__c</queriedFields>
        <queriedFields>Referral_Status__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssutaFile.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Skip_VR</name>
        <label>Skip VR</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_the_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssutaFile.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skip_VR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Fields</name>
        <label>Update the Fields</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <inputReference>AssutaFile</inputReference>
    </recordUpdates>
    <screens>
        <name>Fill_the_DocDateBegin_Field</name>
        <label>Fill the DocDateBegin Field</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fill_DocDateBegin_Field</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;נא למלא תאריך הפקה&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_the_DocDateEnd_Field</name>
        <label>Fill the DocDateEnd Field</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fill_DocDateEnd_Field</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;נא למלא תאריך תוקף&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_The_Missing_Values</name>
        <label>Fill The Missing Values</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FillWhatIsMissing</name>
            <fieldText>&lt;p style=&quot;direction: rtl; &quot;&gt;נא למלא את ערכי השדות &apos;תאריך הפקה&apos; ו&apos;תאריך תוקף&apos;, ולסמן שהמסמך מאושר.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>File_Is_Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;המסמך אושר בהצלחה&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_for_Approval</name>
        <label>Wait for Approval</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Please_Wait_For_approval</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;המסמך עדיין לא מאושר. נא להמתין לאישור המסמך.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_record_s_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssutaFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
