force-app/main/default/flows/Files_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>to_Coll</name>
        <label>to Coll</label>
        <locationX>864</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>CDL_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>over_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>to_var</name>
        <label>to var</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_files.Content_Version_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_files.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>to_Coll</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_open</name>
        <label>Case open</label>
        <locationX>996</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>over_files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>over_files.Case__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>to_var</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Files to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Files to Case</label>
    <loops>
        <name>over_files</name>
        <label>over files</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <collectionReference>Files_to_add</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_open</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Files_to_add</name>
        <label>Files to add</label>
        <locationX>777</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0058d0000025PMEAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Files_to_add</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDL_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
