force-app/main/default/flows/Get_Doctor_Clinic_Email_To_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>עדכון טריגר לפי שם רקורד טייפ (במקום ID)</description>
    <environments>Default</environments>
    <interviewLabel>משיכת המייל של רופא במרפאה אל הפנייה {!$Flow.CurrentDateTime}</interviewLabel>
    <label>משיכת המייל של רופא במרפאה אל הפנייה</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Doctor_In_Clinic_record</name>
        <label>משיכת רופא במרפאה</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Clinic_Email_In_Experts_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctors__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doctor_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Clinic__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor_in_Clinic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Clinic_Email_In_Experts_Case</name>
        <label>עדכון מייל המרפאה בפניית המומחים</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clinic_Email__c</field>
            <value>
                <elementReference>Get_Doctor_In_Clinic_record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Doctor_In_Clinic_record</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;Experts&apos;</filterFormula>
        <object>Appointment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Clinic_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
