force-app/main/default/flows/Lead_new_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_16_A1</name>
        <label>send email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead.newLead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.newLead</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Approves mailing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Approves mailing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovesMailingCheckbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Approves mailing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>sms auto response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_sms auto response</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.SensitiveCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Medical_Tourism__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource_Details__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>כללית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מדיסליפ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>TRUE_sms auto response</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12</name>
        <label>Email Medical Tourism</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Email Medical Tourism</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_12</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 or 7 or 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.SensitiveCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Medical_Tourism__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chatbot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>assutaWebsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>TRUE_Email Medical Tourism</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>email auto response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_email auto response</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>1 and 2 and (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.SensitiveCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>TRUE_email auto response</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>campaignId from web to lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_campaignId from web to lead</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaignIdFromWebToLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_campaignId from web to lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>New lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New lead</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_New lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>smsPhoneNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_smsPhoneNumber</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_smsPhoneNumber</label>
        </rules>
    </decisions>
    <description>Migrated from the Lead new process using multiple criteria.</description>
    <formulas>
        <name>formula_1_myRule_3_A1_7233541817</name>
        <dataType>String</dataType>
        <expression>{!$Record.campaignIdFromWebToLead__c}</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_12_A1_9730380233</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Campaign__r.Name} = &quot;תיירות מרפא- אנגלית&quot;, &quot;Lead_Medical_Tourism_English&quot;,&quot;Lead_Medical_Tourism_Russian&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_12_A1_4192095808</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <label>Lead new_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_10_A1</name>
        <label>sms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>$Record.Campaign__r.AutoResponseMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_12_A1</name>
        <label>Email Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>PB - Lead new</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <elementReference>formula_2_myRule_12_A1_9730380233</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>formula_3_myRule_12_A1_4192095808</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta No-Reply</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>יצירת ליד</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>LeadId__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_6_A1</name>
        <label>Create campaign member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_8</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>approves mailing update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <inputAssignments>
            <field>ApprovesMailing__c</field>
            <value>
                <stringValue>מאשר דיוור - שירותי</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>update campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>formula_1_myRule_3_A1_7233541817</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A1</name>
        <label>set smsPhoneNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_10</targetReference>
        </connector>
        <inputAssignments>
            <field>smsPhoneNumber__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
