force-app/main/default/flows/Lead_Assign_Lost_False_Reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Data_False</name>
        <label>Assign Lead Data - False</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rvLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Lead_Status_Call_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>False</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Data_Lost</name>
        <label>Assign Lead Data - Lost</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rvLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Lead_Status_Call_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reason_Changed</name>
        <label>Reason Changed?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_False</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong_Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_service_information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update_existing_appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient contacted HMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Data_False</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For False</label>
        </rules>
        <rules>
            <name>For_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_not_available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry_forwarded_to_department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doctor_not_coordinated_through_assuta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason_Call_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Data_Lost</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Assign Lost/False Reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Assign Lost/False Reason</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <inputReference>rvLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reason_Changed</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
