force-app/main/default/flows/medical_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>site_code_is_ok</name>
        <label>site code is ok</label>
        <locationX>226</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>85</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>84</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>62</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>69</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status</targetReference>
            </connector>
            <label>ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tafnit_Case_Number_Empty54</name>
        <label>Tafnit Case Number Empty?</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>site_code_is_ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tafnit_Case_Number_Not_Empty2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Tafnit_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>site_code_is_ok</targetReference>
            </connector>
            <label>Tafnit Case Number In Case Not Empty</label>
        </rules>
        <rules>
            <name>Appointment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Surgery_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Tafnit_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Surgery_Name__r.Tafnit_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case_Tafnit_Number</targetReference>
            </connector>
            <label>Appointment Exists- Case Tafnit Number In Case Not populated</label>
        </rules>
        <rules>
            <name>Appointment_Null_Case_Tafnit_Number_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Surgery_Name__r.Tafnit_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Tafnit_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Appointment Null+ Case Tafnit Number Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>medical_records_info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>medical_records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tafnit_Case_Number_Empty54</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Tafnit_Number</name>
        <label>Copy 1 of Update Case Tafnit Number</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>site_code_is_ok</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tafnit_Case_Number__c</field>
            <value>
                <elementReference>get_case.Surgery_Name__r.Tafnit_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>status</name>
        <label>status בטיפול</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medical_Info_Management_Email_and_sms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In_Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Case_Tafnit_Number</name>
        <label>Update Case Tafnit Number</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>site_code_is_ok</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tafnit_Case_Number__c</field>
            <value>
                <elementReference>tafnitCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Case_Tafnit_Number</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Tafnit_Number</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(192, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt; נא להזין את מספר התיק בתפנית בתוך   הפגישה המקושרת על מנת לשלוח מייל ומסרון לרופא!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>tafnitCaseNumber</name>
            <dataType>String</dataType>
            <fieldText>מס&apos; תיק בתפנית</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>שמירה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>send_email_and_sms</name>
        <label>send_email and sms</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
        <nextOrFinishButtonLabel>מייל ומסרון לרופא</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>send_email_and_sms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
