force-app/main/default/flows/Medical_Procedure_URL_Ashdod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Standard_Link</name>
        <label>Add Standard Link</label>
        <locationX>396</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://appointment.assutaashdod.co.il/</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>URL_found</name>
        <label>URL found</label>
        <locationX>575</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Standard_Link</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Medical Procedure URL Ashdod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Procedure URL Ashdod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Metadata_value</name>
        <label>Metadata value</label>
        <locationX>584</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>URL_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Procedure_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medical_Procedure_Name</elementReference>
            </value>
        </filters>
        <object>Medical_Procedure_URL_Ashdod__mdt</object>
        <outputAssignments>
            <assignToReference>URL</assignToReference>
            <field>URL__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>457</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Metadata_value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Domain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medical_Procedure_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
