force-app/main/default/flows/Medical_Aid_Process_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Appointment_Status</name>
        <label>Appointment Status</label>
        <locationX>2756</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Appoint_Cancelled_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Appointment Cancelled</defaultConnectorLabel>
        <rules>
            <name>Appointment_not_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Aid_Status</targetReference>
            </connector>
            <label>Appointment not cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_Status_0</name>
        <label>Appointment Status</label>
        <locationX>1172</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Appoint_Cancelled_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Appointment Cancelled</defaultConnectorLabel>
        <rules>
            <name>Appointment_not_cancelled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Aid_Status_0</targetReference>
            </connector>
            <label>Appointment not cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_Status_SignLang</name>
        <label>Appointment Status SignLang</label>
        <locationX>1964</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>SignLang_Appoint_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled SignLang Appointment</defaultConnectorLabel>
        <rules>
            <name>Not_Cancelled_SignLang_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Aid_Status_SignLang</targetReference>
            </connector>
            <label>Not Cancelled SignLang Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_Status_SignLang_0</name>
        <label>Appointment Status SignLang</label>
        <locationX>380</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>SignLang_Appoint_Cancelled_Ashdod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled SignLang Appointment</defaultConnectorLabel>
        <rules>
            <name>Not_Cancelled_SignLang_Appointment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Aid_Status_SignLang_0</targetReference>
            </connector>
            <label>Not Cancelled SignLang Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if medical center is Ashdod Public
Ashdod Public has different templates</description>
        <name>Ashdod_Pub</name>
        <label>Ashdod Public?</label>
        <locationX>1568</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Sign_language_translator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ashdod Public</defaultConnectorLabel>
        <rules>
            <name>Ashdod_Public_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment__r.Site__r.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod_Sign_language_translator</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ashdod Public Center</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod_Sign_language_translator</name>
        <label>Ashdod Sign language translator?</label>
        <locationX>776</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Appointment_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ashdod Regular Aid</defaultConnectorLabel>
        <rules>
            <name>Ashdod_Requires_Translator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Assist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Status_SignLang_0</targetReference>
            </connector>
            <label>Ashdod Requires Translator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exists_In_Account</name>
        <label>Email Exists In Account?</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>SetReminderTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email in Account - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patients_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the medical Aid was not cancelled</description>
        <name>Medical_Aid_Status</name>
        <label>Medical Aid Status</label>
        <locationX>2558</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Appoint_Not_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Med Aid Not Cancelled</defaultConnectorLabel>
        <rules>
            <name>Med_Aid_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בוטל</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Medical_Aid</targetReference>
            </connector>
            <label>Med Aid Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the medical Aid was not cancelled</description>
        <name>Medical_Aid_Status_0</name>
        <label>Medical Aid Status</label>
        <locationX>974</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Appoint_Not_Cancelled_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Med Aid Not Cancelled</defaultConnectorLabel>
        <rules>
            <name>Med_Aid_Cancelled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בוטל</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Aid_Cancelled_0_0</targetReference>
            </connector>
            <label>Med Aid Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the medical Aid was not cancelled</description>
        <name>Medical_Aid_Status_SignLang</name>
        <label>Medical Aid Status SignLang</label>
        <locationX>1766</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Medical_Aid_Cancelled_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SignLang Aid Cancelled</defaultConnectorLabel>
        <rules>
            <name>SignLang_Not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>בוטל</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appoint_Not_Cancelled_0</targetReference>
            </connector>
            <label>SignLang Not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the medical Aid was not cancelled</description>
        <name>Medical_Aid_Status_SignLang_0</name>
        <label>Medical Aid Status SignLang</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Medical_Aid_Cancelled_Ashdod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SignLang Aid Cancelled</defaultConnectorLabel>
        <rules>
            <name>SignLang_Not_Cancelled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>בוטל</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appoint_Not_Cancelled_Ashdod</targetReference>
            </connector>
            <label>SignLang Not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Patient Email is populated, if not redirect to a path to update from patient&apos;s account object</description>
        <name>Patient_Email_is_Populated</name>
        <label>Patient Email is Populated?</label>
        <locationX>1568</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>SetReminderTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exists_In_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sign_language_translator</name>
        <label>Sign language translator?</label>
        <locationX>2360</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Appointment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Aid</defaultConnectorLabel>
        <rules>
            <name>Requires_Translator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Assist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Status_SignLang</targetReference>
            </connector>
            <label>Requires Translator</label>
        </rules>
    </decisions>
    <description>On creation/update of a new record of the Medical_Aid_Appointment object 

 - Update &quot;manager of site&quot; and &quot;מייל רכז מוגבלויות&quot; fields
 - set a 7 day reminder for site manager
 - Populate Account Email (if null)
 - Check Type of Assist
 - Send email to 3 &quot;Another Business Factor&quot; (fields from Site_c) when Medical Aid equals Translator

AM: 03032025- USER STORY 19985- add Auto_Launch_Update_Medical_Aid_Appointment_Indecation_On_Appointment subflow</description>
    <environments>Default</environments>
    <formulas>
        <name>Medical_Aid_Owner_Check</name>
        <dataType>String</dataType>
        <expression>if( begins({!$Record.OwnerId},&apos;005&apos;), {!$Record.Owner:User.Id}, {!$Record.Owner:Group.Id})</expression>
    </formulas>
    <formulas>
        <description>a formula that creates a link from the ID created on new record</description>
        <name>RecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_510}))&amp;{!CreatedEmail_ID}</expression>
    </formulas>
    <interviewLabel>Medical Aid Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Aid Process - RT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Appoint_Cancelled_0</name>
        <label>Appoint Cancelled</label>
        <locationX>2954</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>MedicalAid_Appoint_Cancelled_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_Sites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000qGE7UAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Cancelled_0_0</name>
        <label>Appoint Cancelled</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Appointment_Ashdod</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X8d000000dGKXEA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled</name>
        <label>Appoint Not Cancelled</label>
        <locationX>2690</locationX>
        <locationY>1679</locationY>
        <assignRecordIdToReference>CreatedEmail_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Appoint_Not_Cancelled_Business_Factor_MedicalAid</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Regular_Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00XJ7000001ACf4MAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_0</name>
        <label>Appoint Not Cancelled</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Appoint_Not_Cancelled_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (appointment not cancelled)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_0_0</name>
        <label>Appoint Not Cancelled</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Appoint_Not_Cancelled_Business_Factor_MedicalAid_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_ashdodpublic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lxywUAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_Ashdod</name>
        <label>Appoint Not Cancelled Ashdod</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Appoint_Not_Cancelled_Ashdod_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (appoint not cancelled Ashdod)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_Ashdod_Business_Factor</name>
        <label>Appoint Not Cancelled Ashdod  Business Factor</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>X7_days_reminder_Ashdod</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (appoint not cancelled Ashdod business factor)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_Business_Factor</name>
        <label>Appoint Not Cancelled- Business Factor</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>X7_days_reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (appointment not cancelled business factor)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_Business_Factor_MedicalAid</name>
        <label>Appoint Not Cancelled- Business Factor MedicalAid</label>
        <locationX>2690</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Email_Message_Record_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Regular_Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00XJ7000001ACf4MAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Appoint_Not_Cancelled_Business_Factor_MedicalAid_0</name>
        <label>Appoint Not Cancelled- Business Factor MedicalAid</label>
        <locationX>1106</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_ashdodpublic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lxywUAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancelled_Medical_Aid</name>
        <label>Cancelled Medical Aid</label>
        <locationX>2426</locationX>
        <locationY>1679</locationY>
        <assignRecordIdToReference>CreatedEmail_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Medical_Aid_Cancelled_Business_Factor_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_Sites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000qGE7UAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_0</name>
        <label>Medical Aid Cancelled</label>
        <locationX>1898</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Medical_Aid_Cancelled_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_0_0</name>
        <label>Medical Aid Cancelled</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Medical_Aid_Cancelled_Business_Factor_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_ashdodpublic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lxzBUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_Ashdod</name>
        <label>Medical Aid Cancelled Ashdod</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Medical_Aid_Cancelled_Ashdod_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_Ashdod_Business_Factor</name>
        <label>Medical Aid Cancelled Ashdod  Business Factor</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_Business_Factor</name>
        <label>Medical Aid Cancelled- Business Factor</label>
        <locationX>1898</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_Business_Factor_0</name>
        <label>Medical Aid Cancelled- Business Factor</label>
        <locationX>2426</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Email_Message_Record_Link_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_Sites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000qGE7UAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Medical_Aid_Cancelled_Business_Factor_0_0</name>
        <label>Medical Aid Cancelled- Business Factor</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Email_Message_Record_Link_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_ashdodpublic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lxzBUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta Medical Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>sends Email notification to 3 business factors related to the site</description>
        <name>MedicalAid_Appoint_Cancelled_Business_Factor</name>
        <label>MedicalAid Appoint Cancelled - Business Factor</label>
        <locationX>2954</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Update_Email_Message_Record_Link_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Canceled_Medical_Aid_Sites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000qGE7UAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SignLang_Appoint_Cancelled</name>
        <label>SignLang Appoint Cancelled</label>
        <locationX>2162</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>SignLang_Appoint_Cancelled_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>Get_Sites.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SignLang_Appoint_Cancelled_Ashdod</name>
        <label>SignLang Appoint Cancelled Ashdod</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>SignLang_Appoint_Cancelled_Business_FactorAshdod</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>sends Email notification to 3 business factors related to the site</description>
        <name>SignLang_Appoint_Cancelled_Business_Factor</name>
        <label>SignLang Appoint Cancelled - Business Factor</label>
        <locationX>2162</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SignLang_Appoint_Cancelled_Business_FactorAshdod</name>
        <label>SignLang Appoint Cancelled-Business FactorAshdod</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Medical Aid Process - RT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId_cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lv0PUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X7_days_reminder</name>
        <label>7 days reminder</label>
        <locationX>1634</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>X7_days_reminder_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (7 days reminder)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Record.X7_days_before_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X7_days_reminder_Ashdod</name>
        <label>7 days reminder Ashdod</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>X7_days_reminder_Ashdod_Business_Factor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (7 days reminder Ashdod)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Accessibility_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Record.X7_days_before_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X7_days_reminder_Ashdod_Business_Factor</name>
        <label>7 days reminder Ashdod  Business Factor</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (7 days reminder Ashdod business factor)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Record.X7_days_before_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X7_days_reminder_Business_Factor</name>
        <label>7 days reminder-Business Factor</label>
        <locationX>1634</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentId__c</field>
            <value>
                <elementReference>$Record.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Flow: Medical Aid Process - RT (7 days reminder business factor)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>Medical_Aid_SpecificAId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>00X4J000000lunGUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Record.X7_days_before_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Aid_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Appointment__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateMergeField__c</field>
            <value>
                <stringValue>Medical_Aid_Appointment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Appointment__r.Site__r.Another_Business_Factor_Email1__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Sites</name>
        <label>Get Sites</label>
        <locationX>1568</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Email_is_Populated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>60</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>59</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>84</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>85</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>69</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>62</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>45</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>33</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDate</name>
        <label>GetDate</label>
        <locationX>1568</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentDate</elementReference>
            </value>
        </filters>
        <object>Calendar1__c</object>
        <outputAssignments>
            <assignToReference>Business_Day</assignToReference>
            <field>business_day__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Message_Record_Link</name>
        <label>Update Email Message Record Link</label>
        <locationX>2690</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Aid_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_link__c</field>
            <value>
                <elementReference>RecordLink</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Message_Record_Link_0_0</name>
        <label>Update Email Message Record Link</label>
        <locationX>2426</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Aid_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_link__c</field>
            <value>
                <elementReference>RecordLink</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Message_Record_Link_0_0_0</name>
        <label>Update Email Message Record Link</label>
        <locationX>2954</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Aid_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_link__c</field>
            <value>
                <elementReference>RecordLink</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Message_Record_Link_0_0_0_0</name>
        <label>Update Email Message Record Link</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Aid_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_link__c</field>
            <value>
                <elementReference>RecordLink</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates patient&apos;s Email from Account</description>
        <name>Update_Patients_Email</name>
        <label>Update Patients Email</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>SetReminderTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Account__c</field>
            <value>
                <elementReference>$Record.Patient__r.Email_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Launch_Update_Medical_Aid_Appointment_Indecation_On_Appointment_Flow_1</targetReference>
        </connector>
        <object>Medical_Aid_Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Launch_Update_Medical_Aid_Appointment_Indecation_On_Appointment_Flow_1</name>
        <label>Auto Launch- Update Medical Aid Appointment Indecation On Appointment Flow 1</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>GetDate</targetReference>
        </connector>
        <flowName>Auto_Launch_Update_Medical_Aid_Appointment_Indecation_On_Appointment</flowName>
        <inputAssignments>
            <name>rvMedicalAidAppointment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call Flow to set reminder time</description>
        <name>SetReminderTime</name>
        <label>SetReminderTime</label>
        <locationX>1568</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Ashdod_Pub</targetReference>
        </connector>
        <flowName>Medical_Aid_reminder</flowName>
        <inputAssignments>
            <name>Date_of_reminder</name>
            <value>
                <elementReference>$Record.Help_days_from_APP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Medical_Aid_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Appointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The date of the appointment</description>
        <name>AppointmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Business_Day</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>brings the ID of the created email record</description>
        <name>CreatedEmail_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Ashdod_PlaceHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner_Group_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
