force-app/main/default/flows/Orchestrator_SMS_Create_Or_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Account_Empty</name>
        <label>Is Account Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>MB : 02.03.2026 - 2752556721- convert Process builder- &quot;Update account on sms&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>AutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Triggered-Sms- Create Or Update- After Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Orchestrator-SMS - Create Or Update- After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator-SMS - Create Or Update- After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sms</name>
        <label>Update Sms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvSms</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Empty</targetReference>
        </connector>
        <object>SMS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Account_Field</name>
        <label>Update Account Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Sms</targetReference>
        </connector>
        <flowName>Auto_Update_Sms_Account_By_Account_Appointment_Or_Case</flowName>
        <inputAssignments>
            <name>rvTrrigeringSms</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeredByAutomationName</name>
            <value>
                <elementReference>AutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvSms</assignToReference>
            <name>rvSms</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>rvSms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
