force-app/main/default/flows/Orchestrator_Lead_Create_Or_Update_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign</name>
        <label>Assign Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>no to be confused with Campaign Field</description>
        <name>Assign_campaignID</name>
        <label>Assign campaignID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.campaignID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__r.FormtitanId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.parentCampaignId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fParentCampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lead_Account</name>
        <label>Assign Lead Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Form_Titan_Id_and_campaignID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>and parent campaign</description>
        <name>Assign_Form_Titan_Id_and_campaignID</name>
        <label>Assign Form Titan Id? (and campaignID)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_Form_Titan_Id_Parent_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_campaignID</targetReference>
            </connector>
            <label>Yes- Assign Form Titan Id + Parent Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Campaign</name>
        <label>Found Campaign?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Lead_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign</targetReference>
            </connector>
            <label>Yes- Found Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <description>this is what exists in the workflow rule.....yes.</description>
        <name>Is_Lead_Account</name>
        <label>Is Lead Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Form_Titan_Id_and_campaignID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Lead_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Account</targetReference>
            </connector>
            <label>No- Not Lead Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Or_Update</name>
        <label>New Or Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>NC: 18032026- 2781993143- update lead with campaign after lead is created from zapier.
AM: 27052026- 2942867839 - work flow to flow conversion of lead workflows</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Orchestrator- Lead- Create Or Update- Before Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>fISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fParentCampaignId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( $Record.Campaign__r.ParentId ),
$Record.Campaign__r.FormtitanId__c,
$Record.Campaign__r.Parent.FormtitanId__c )</expression>
    </formulas>
    <interviewLabel>Orchestrator- Lead- Create Or Update- Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator- Lead- Create Or Update- Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leader_UTM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Leader_UTM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leader_UTM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Or_Update</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
