force-app/main/default/flows/Orchestrator_Implant_To_Med_Prod_Create_Or_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Monday 2929196965
LA 02-06-2026</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Orchestrator Implant To Med Prod Create Or Update After Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Orchestrator Medical Procedure Create Or Update After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator Implant To Med Prod Create Or Update After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Implant_To_Med_Prod</name>
        <label>Update Implant To Med Prod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvImplantMedToProd</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_on_Implant_To_Med_Prod</targetReference>
        </connector>
        <object>Implants_to_med_prod__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_on_Implant_To_Med_Prod</name>
        <label>Update on Implant To Med Prod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Implant_To_Med_Prod</targetReference>
        </connector>
        <flowName>Auto_Update_Implant_To_Med_Prod_On_Implant_To_Med_Prod_Change</flowName>
        <inputAssignments>
            <name>rvImplantMedToProdPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvImplantMedToProdTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvImplantMedToProdUpdate</name>
            <value>
                <elementReference>rvImplantMedToProd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeredByAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvImplantMedToProd</assignToReference>
            <name>rvImplantMedToProdUpdate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>rvImplantMedToProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Implants_to_med_prod__c</objectType>
    </variables>
</Flow>
