force-app/main/default/flows/Orchestrator_Appointment_Create_Or_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_Owner_Changed</name>
        <label>Post to Chatter- Owner Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Patient_Hospitalization_Status_Is_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>הבעלים שונה בצורה ידנית</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Answer_From_Ris_Changed</name>
        <label>Answer From Ris Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Answer_From_Ris_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RisAnswerStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Appointment_Ris_Status</targetReference>
            </connector>
            <label>Yes- Answer From Ris Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>For Assuta Family. MONDAY- 2514907331 - SEE UPDATES</description>
        <name>Create_Opportunity_Assuta_Family</name>
        <label>Create Opportunity? (Assuta Family)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Assuta_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Opportunity</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Notes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>internet_site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>96108   </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>96100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Assuta_Family_Sub</targetReference>
            </connector>
            <label>Yes- Create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Or_Update</name>
        <label>Is New Or Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Uploaded_Patient_Files_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Assuta_Family</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>2794628614
במידה והתעדכן סטאטוס מאושפזים מתפנית עדכן סטאטוס הפגישה  (אבל מי אמר שאי אפשר לעדכן כאן כל דבר אחר?  אף אחד..)</description>
        <name>Patient_Hospitalization_Status_Is_Changed</name>
        <label>Patient Hospitalization Status Is Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Appointment_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Hospitalization_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Update_Appointment_Status</targetReference>
            </connector>
            <label>Yes- Update Appointment Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_To_Chatter_Record_Owner_Changed</name>
        <label>Post To Chatter- Record Owner Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Patient_Hospitalization_Status_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Post_To_Chatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Owner_Changed</targetReference>
            </connector>
            <label>Yes- Post To Chatter</label>
        </rules>
    </decisions>
    <decisions>
        <description>2822289047</description>
        <name>Send_Disability_To_Site</name>
        <label>Send Disability To Site?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>What_Is_The_Recoed_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Disability_To_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Send_Disability_To_Site</targetReference>
            </connector>
            <label>Yes- Send Disability To Site</label>
        </rules>
    </decisions>
    <decisions>
        <description>{!$Record.Referral_Form_SMS__c} is updated to true in the subflow (so it will not run more then once)
monday- 2822289047</description>
        <name>Send_SMS_Message_To_Doctor</name>
        <label>Send SMS Message To Doctor?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_To_Chatter_Record_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_SMS_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Form_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Administrative_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ממתין להפניית רופא</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayerFactor__r.InsuranceCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Doctor_Account__r.Phone_ETL__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Appointment_Send_SMS</targetReference>
            </connector>
            <label>Yes- Send SMS Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>2822289047- braekdown of one decision from PB: Surgery_appointment</description>
        <name>Set_Room_Limitation_Time</name>
        <label>Set Room Limitation Time?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Room_Limitation_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Limitation_Time_Room__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Set_Room_Limitation_Time</targetReference>
            </connector>
            <label>Yes- Set Room Limitation Time</label>
        </rules>
    </decisions>
    <decisions>
        <description>(1 AND 2) = Update Payer Factor in subflow.
((3 OR 4) AND 5 AND 6) = Update Related Files And Appointment Status in subflow

NOTE: 3 AND 4 ARE PRIOR VALUES!!</description>
        <name>Update_Commitment_Status_And_Administrative_Status</name>
        <label>Update Commitment Status And Administrative Status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Disability_To_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Statuses</name>
            <conditionLogic>(1 AND 2) OR ((3 OR 4) AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Classification__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כתום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Commitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Commitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1b</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commitment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Appointment_Update_After_Changes_In_Classification_And_Commitment</targetReference>
            </connector>
            <label>Yes- Update Statuses</label>
        </rules>
    </decisions>
    <decisions>
        <description>monday- 2514907331</description>
        <name>Update_Opportunity_Assuta_Family</name>
        <label>Update Opportunity (Assuta Family)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Room_Limitation_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseAfterSale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assuta_Family</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_With_Appointment_Data</targetReference>
            </connector>
            <label>Yes- Update Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>לקראת הפגישה מתבצעת בדיקה של המסמכים שהמטופל העלה. אם הכל תקין נשלחת הודעה למטופל שהכל תקין ואין צורך בדבר נוסף.</description>
        <name>Uploaded_Patient_Files_Confirmed</name>
        <label>Uploaded Patient Files Confirmed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Commitment_Status_And_Administrative_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_WA_file_reviewed_and_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Required_document_integrity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Required_document_integrity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AllValid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery_file_reviewed_and_accepted</targetReference>
            </connector>
            <label>Yes- Send WA- file_reviewed_and_accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Recoed_Type</name>
        <label>What Is The Recoed Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surgeries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Message_To_Doctor</targetReference>
            </connector>
            <label>Surgeries</label>
        </rules>
        <rules>
            <name>Institutes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Answer_From_Ris_Changed</targetReference>
            </connector>
            <label>Institutes</label>
        </rules>
    </decisions>
    <description>THIS FLOW CAN BE USED FOR ANY APPOINTMENT TRIGGER SCENARIO. PLEASE USE IT WISELY!
AM: 25122025- 2514907331- egg import unit demand + send WA
EM: 29012026- 2556281199- Link between Mey Shafir Appointment To Genetic Counseling Appointment
AM: 29012026- 2514907331- added WA template-  file_reviewed_and_accepted
AM: 05022026- 2514907331- added subflow- Update_Opportunity_With_Appointment_Data
AM: 16022026- refactor- added subflow - Create_Opportunity_Assuta_Family
AM:24022026-REMOVE 2556281199 -Link between Mey Shafir Appointment To Genetic Counseling Appointment - IT GOES TO CODE
FB: 24/02/2026 - Send Email to assutaFamily - 2726928258  ************in v27- did not deployed to prod today (02032026)
AM: 17032026- 2783111135- convert this flow name from &quot;Triggred- Appointment- Create Or Update- After Save&quot; to
        &quot;Orchestrator- Appointment- Create Or Update- After Save&quot;  (disable &quot;Triggred- Appointment- Create Or Update- After Save&quot; )
AM: 17032026- 2783111135- convert bp to flow- add subflow- &quot;Auto- Appointment Ris Status&quot;
AM: 18032026- 2783105620- convert bp to flow- add subflow
AM: 05042026- 2822289047- PB TO FLOW- (Appointment) - Surgery appointment (break it to 2 decisions on orchestrator)
AM: 15042026- 2794628614- PB TO FLOW- Appointment- Change app status to tafnit status ( and some refactoring- by RT)</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Orchestrator- Appointment- Create Or Update- After Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>fISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Orchestrator- Appointment- Create Or Update- After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator- Appointment- Create Or Update- After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Trigger_Appointment</name>
        <label>Update Trigger Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Or_Update</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Appointment_Ris_Status</name>
        <label>Auto- Appointment Ris Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </connector>
        <flowName>Auto_Appointment_Ris_Status</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvAppointmentUpdate</name>
            <value>
                <elementReference>rvAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvAppointment</assignToReference>
            <name>rvAppointmentUpdate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Auto_Appointment_Send_SMS</name>
        <label>Auto- Appointment Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_To_Chatter_Record_Owner_Changed</targetReference>
        </connector>
        <flowName>Auto_Appointment_Send_SMS</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvAppointmentUpdate</name>
            <value>
                <elementReference>rvAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvAppointment</assignToReference>
            <name>rvAppointmentUpdate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Auto_Appointment_Update_After_Changes_In_Classification_And_Commitment</name>
        <label>Auto- Appointment-Update After Changes In Classification And Commitment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Disability_To_Site</targetReference>
        </connector>
        <flowName>Auto_Appointment_Update_After_Changes_In_Classification_And_Commitment</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvAppointmentUpdate</name>
            <value>
                <elementReference>rvAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvAppointment</assignToReference>
            <name>rvAppointmentUpdate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>2822289047</description>
        <name>Auto_Send_Disability_To_Site</name>
        <label>Auto- Send Disability To Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Is_The_Recoed_Type</targetReference>
        </connector>
        <flowName>Auto_Send_Disability_To_Site</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Auto_Set_Room_Limitation_Time</name>
        <label>Auto- Set Room Limitation Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </connector>
        <flowName>Auto_Set_Room_Limitation_Time</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvAppointmentUpdate</name>
            <value>
                <elementReference>rvAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvAppointment</assignToReference>
            <name>rvAppointmentUpdate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>2794628614</description>
        <name>Auto_Update_Appointment_Status</name>
        <label>Auto- Update Appointment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Trigger_Appointment</targetReference>
        </connector>
        <flowName>Auto_Update_Appointment_Status</flowName>
        <inputAssignments>
            <name>rvAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rvAppointmentUpdate</name>
            <value>
                <elementReference>rvAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rvAppointment</assignToReference>
            <name>rvAppointmentUpdate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Opportunity_Assuta_Family_Sub</name>
        <label>Create Opportunity- Assuta Family (Sub)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Assuta_Family</targetReference>
        </connector>
        <flowName>Create_Opportunity_Assuta_Family</flowName>
        <inputAssignments>
            <name>rvTriggeringAppointment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeredByAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery_file_reviewed_and_accepted</name>
        <label>Outbound WA for Surgery- file_reviewed_and_accepted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Commitment_Status_And_Administrative_Status</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.Patient_Account__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>file_reviewed_and_accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>assutabot</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Opportunity_With_Appointment_Data</name>
        <label>Update Opportunity With Appointment Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Room_Limitation_Time</targetReference>
        </connector>
        <flowName>Update_Opportunity_With_Appointment_Data</flowName>
        <inputAssignments>
            <name>rvAppointment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringProcessAPI</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>rvAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>rvOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rvOtherAppointmentUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
