force-app/main/default/flows/Orchestrator_Medical_Aid_Appointment_Create_Or_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>בטיפול המחלקה</description>
        <name>Appointment_Aid_Status_Is_Department_Handle</name>
        <label>Appointment Aid Status Is Department Handle?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Department_Handle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בטיפול המחלקה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Email_Message_Send_Email</targetReference>
            </connector>
            <label>Yes- Department Handle</label>
        </rules>
    </decisions>
    <description>AM: 04062026- 2942877240 - wf to flow conversion of &quot;התראה על עזר&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Orchestrator- Medical Aid Appointment- Create Or Update- After Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Orchestrator- Medical Aid Appointment- Create Or Update- After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator- Medical Aid Appointment- Create Or Update- After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Medical_Aid_Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email_To_Manager</name>
            <connector>
                <targetReference>Appointment_Aid_Status_Is_Department_Handle</targetReference>
            </connector>
            <label>Send Email To Manager?</label>
            <offsetNumber>-38</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Email_Message_Send_Email</name>
        <label>Auto- Email Message- Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Auto_Email_Message_Send_Email</flowName>
        <inputAssignments>
            <name>rvMedicalAidAppointmentTrig</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvEmailTemplateDevName</name>
            <value>
                <stringValue>Medical_Aid_Break_handelTime</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>rvEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
