force-app/main/default/flows/OTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ashdod_Minor_Email_Alert</name>
        <label>Ashdod Minor Email Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>AccountContactRelation.Assuta_Minor_Upload_Files_Ashdod_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_Minor_Upload_Files_Ashdod_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Basic_Identification_EMail_Ashdod</name>
        <label>Basic Identification EMail Ashdod</label>
        <locationX>1650</locationX>
        <locationY>5195</locationY>
        <actionName>AccountContactRelation.Assuta_Basic_Identification_Ashdod</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_Basic_Identification_Ashdod</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EM</name>
        <label>EM</label>
        <locationX>1914</locationX>
        <locationY>7979</locationY>
        <actionName>AccountContactRelation.Assuta_SEVERE_final_ACC_CON_ACC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereFinalEMforcontact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_SEVERE_final_ACC_CON_ACC</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Em1</name>
        <label>EM</label>
        <locationX>1634</locationX>
        <locationY>8471</locationY>
        <actionName>AccountContactRelation.sev_fin_ACC_CON</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.sev_fin_ACC_CON</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email</name>
        <label>Email</label>
        <locationX>1914</locationX>
        <locationY>3695</locationY>
        <actionName>AccountContactRelation.Assuta_OTP_for_account</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BasicAuthenticationOTPSMSforpatient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_OTP_for_account</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email1</name>
        <label>Email</label>
        <locationX>1914</locationX>
        <locationY>6695</locationY>
        <actionName>AccountContactRelation.Assuta_SEVERE_ACC_CON_ACC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereFinalSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_SEVERE_ACC_CON_ACC</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>emailashdod1</name>
        <label>שלח מייל אשדוד</label>
        <locationX>1650</locationX>
        <locationY>2195</locationY>
        <actionName>AccountContactRelation.OTP_ACC_CON_ASHDOD_Titan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OTPSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.OTP_ACC_CON_ASHDOD_Titan</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>emailashdod2</name>
        <label>שליחת מסרון למטופל-אשדוד</label>
        <locationX>1650</locationX>
        <locationY>3695</locationY>
        <actionName>AccountContactRelation.Assuta_OTP_for_account_Ashdod_Titan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BasicAuthenticationOTPSMSforpatient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_OTP_for_account_Ashdod_Titan</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>emailashdod3</name>
        <label>Severe Acc Con Ashdod</label>
        <locationX>1650</locationX>
        <locationY>6695</locationY>
        <actionName>AccountContactRelation.Assuta_SEVERE_ACC_CON_ACC_Ashdod_Titan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereFinalSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_SEVERE_ACC_CON_ACC_Ashdod_Titan</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>emailashdod4</name>
        <label>Severe Final Email Ashdod</label>
        <locationX>1650</locationX>
        <locationY>7979</locationY>
        <actionName>AccountContactRelation.Assuta_SEVERE_final_ACC_CON_ACC_Ashdod_Titan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereFinalEMforcontact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_SEVERE_final_ACC_CON_ACC_Ashdod_Titan</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>emaillashdod5</name>
        <label>שליחת מייל-מחמיר אשדוד</label>
        <locationX>1370</locationX>
        <locationY>8471</locationY>
        <actionName>AccountContactRelation.sev_fin_ACC_CON_Ashdod_Titan</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.sev_fin_ACC_CON_Ashdod_Titan</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Minor_Alert</name>
        <label>Minor Alert</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>AccountContactRelation.Assuta_Minor_Upload_Files_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_Minor_Upload_Files_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>PatientEmail</name>
        <label>מייל למטופל</label>
        <locationX>1914</locationX>
        <locationY>5195</locationY>
        <actionName>AccountContactRelation.Assuta_Basic_Identification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SevereSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.Assuta_Basic_Identification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>שלח מייל</label>
        <locationX>1914</locationX>
        <locationY>2195</locationY>
        <actionName>AccountContactRelation.OTP_ACC_CON</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OTPSMSforaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelation.OTP_ACC_CON</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SMS_BasicAuthenticationOTPSMSforpatient</name>
        <label>Assign SMS- BasicAuthenticationOTPSMSforpatient</label>
        <locationX>1683</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BasicContactApprovalTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BasicContactApprovalTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_BasicAuthenticationOTPSMSforpatient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Minor</name>
        <label>Assign SMS- Minor</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMinor_SMS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMinor_SMS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Minor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_OTP_SMS_for_account</name>
        <label>Assign SMS- OTP - SMS for account</label>
        <locationX>1683</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactApprovalTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactApprovalTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_OTP_SMS_for_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Severe_Final_For_Account</name>
        <label>Assign SMS- (Severe- Final For Account)</label>
        <locationX>1683</locationX>
        <locationY>7295</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAuthenticationApprovalMessageTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAuthenticationApprovalMessageTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Severe_Final_For_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Severe_Final_for_contact</name>
        <label>Assign SMS- (Severe- Final for contact)</label>
        <locationX>2162</locationX>
        <locationY>8687</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactApprovalHighestLevelAuthenticationAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactApprovalHighestLevelAuthenticationAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfSMSPhoneBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Severe_Final_for_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA</name>
        <label>Assign WA</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>_assuta_minor_upload_files_ashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_assuta_minor_upload_files_ashdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_Ashdod_Patient</name>
        <label>Assign WA- Ashdod Patient</label>
        <locationX>1419</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>definecontacttemplateashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_definecontacttemplateashdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_BasicAuthenticationOTPSMSforpatient</name>
        <label>Assign WA- BasicAuthenticationOTPSMSforpatient</label>
        <locationX>1419</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>basiccontactapprovaltemplateashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_BasicContactApprovalTemplateAshdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_OTP_SMS_for_account</name>
        <label>Assign WA- OTP - SMS for account</label>
        <locationX>1419</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>contactapprovaltemplateashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_contactapprovaltemplateashdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_Severe</name>
        <label>Assign WA- Severe</label>
        <locationX>1419</locationX>
        <locationY>5903</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ApprovalLinkHestLevelAuthenticationTemplateAshdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_ApprovalLinkHestLevelAuthenticationTemplateAshd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_Severe_Final_For_Account</name>
        <label>Assign WA- (Severe- Final For Account)</label>
        <locationX>1419</locationX>
        <locationY>7295</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContactAuthenticationApprovalMessageTemplateAshdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_ContactAuthenticationApprovalMessageTemplateAsh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA_Severe_Final_for_contact</name>
        <label>Assign WA- (Severe- Final for contact)</label>
        <locationX>1898</locationX>
        <locationY>8687</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>contactapprovalhighestlevelashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_contactapprovalhighestlevelashdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_SMS_Minor</name>
        <label>Assign SMS- Ashdod Patient</label>
        <locationX>1683</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDefineContactTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDefineContactTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMSPhoneBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Ashdod_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_SMS_BasicAuthenticationOTPSMSforpatient</name>
        <label>Assign SMS- Severe</label>
        <locationX>1683</locationX>
        <locationY>5903</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalLinkHestLevelAuthenticationTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalLinkHestLevelAuthenticationTemplateAshdod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AshdodHosp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Severe</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ashdod</name>
        <label>Ashdod Patient?</label>
        <locationX>1749</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>SendSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ashdod_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_Ashdod_Patient</targetReference>
            </connector>
            <label>Ashdod Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod1</name>
        <label>Ashdod?</label>
        <locationX>1749</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_OTP_SMS_for_account</targetReference>
            </connector>
            <label>AshdodEmp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod2</name>
        <label>Ashdod?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Minor_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod_Minor_Email_Alert</targetReference>
            </connector>
            <label>AshdodUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod3</name>
        <label>Ashdod?</label>
        <locationX>2228</locationX>
        <locationY>8471</locationY>
        <defaultConnector>
            <targetReference>SMS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmp2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_Severe_Final_for_contact</targetReference>
            </connector>
            <label>AshdodEmp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod4</name>
        <label>Ashdod?</label>
        <locationX>1502</locationX>
        <locationY>8363</locationY>
        <defaultConnector>
            <targetReference>Em1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmployee4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emaillashdod5</targetReference>
            </connector>
            <label>AshdodEmployee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod5</name>
        <label>Ashdod?</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Minor_SMS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodUser1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS</targetReference>
            </connector>
            <label>AshdodUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ashdod_Employee</name>
        <label>Ashdod Employee</label>
        <locationX>1749</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>Synchronize</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmployee2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_BasicAuthenticationOTPSMSforpatient</targetReference>
            </connector>
            <label>AshdodEmployee2</label>
        </rules>
    </decisions>
    <decisions>
        <name>AshdodEmp5</name>
        <label>AshdodEmp</label>
        <locationX>1782</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>PatientEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmp4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Identification_EMail_Ashdod</targetReference>
            </connector>
            <label>AshdodEmp2</label>
        </rules>
    </decisions>
    <decisions>
        <name>AshdodEmployee</name>
        <label>AshdodEmployee?</label>
        <locationX>1782</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmployee1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailashdod2</targetReference>
            </connector>
            <label>AshdodEmployee1</label>
        </rules>
    </decisions>
    <decisions>
        <name>AshdodEmployee6</name>
        <label>AshdodEmployee</label>
        <locationX>1782</locationX>
        <locationY>6587</locationY>
        <defaultConnector>
            <targetReference>Email1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodEmployee5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailashdod3</targetReference>
            </connector>
            <label>AshdodEmployee</label>
        </rules>
    </decisions>
    <decisions>
        <name>AshdodPatient</name>
        <label>Ashdod?</label>
        <locationX>1782</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>SendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AshdodPatient1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailashdod1</targetReference>
            </connector>
            <label>AshdodPatient</label>
        </rules>
    </decisions>
    <decisions>
        <name>BasicAuthenticationOTPSMSforpatient</name>
        <label>זיהוי בסיסי - מסרון למטופל</label>
        <locationX>1980</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>BasicAuthenticationPatientMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_זיהוי בסיסי - מסרון למטופל</defaultConnectorLabel>
        <rules>
            <name>OTPSMSforpatient</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בסיסי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_זיהוי בסיסי - מסרון למטופל</label>
        </rules>
    </decisions>
    <decisions>
        <name>BasicAuthenticationPatientMail</name>
        <label>זיהוי בסיסי - מייל למטופל</label>
        <locationX>1980</locationX>
        <locationY>4871</locationY>
        <defaultConnector>
            <targetReference>SevereSMSforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_זיהוי בסיסי - מייל למטופל</defaultConnectorLabel>
        <rules>
            <name>TRUEBasicAuthenticationPatientMail</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>בסיסי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.person_account_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_זיהוי בסיסי - מייל למטופל</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAnAshdodEmployee</name>
        <label>IsAnAshdodEmployee?</label>
        <locationX>1749</locationX>
        <locationY>7079</locationY>
        <defaultConnector>
            <targetReference>SMS3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>An_Ashdod_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_Severe_Final_For_Account</targetReference>
            </connector>
            <label>An Ashdod Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAnAshdodEmployee2</name>
        <label>IsAnAshdodEmployee?</label>
        <locationX>1782</locationX>
        <locationY>7871</locationY>
        <defaultConnector>
            <targetReference>EM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAnAshdodEmployee1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailashdod4</targetReference>
            </connector>
            <label>IsAnAshdodEmployee1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAshdodEmployee</name>
        <label>IsAshdodEmployee?</label>
        <locationX>1749</locationX>
        <locationY>5687</locationY>
        <defaultConnector>
            <targetReference>SMS4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAshdodEmployee2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS_Severe</targetReference>
            </connector>
            <label>IsAshdodEmployee</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if patient is a minor and if their phone number is the same as the contact phone number. If it is, a single SMS is sent with the new upload file link.</description>
        <name>Minor_Patient</name>
        <label>Minor Patient?-SMS</label>
        <locationX>1444</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>OTPSMSforcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_is_Minor</name>
            <conditionLogic>1 AND 2 AND 3 and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Is_Minor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod5</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Patient is Minor SMS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if patient is a minor and if their phone number is the same as the contact phone number. If it is, a single SMS is sent with the new upload file link.</description>
        <name>Minor_Patient_Email</name>
        <label>Minor Patient?-Email</label>
        <locationX>813</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Minor_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_is_Minor_Email</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Is_Minor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.contact_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.person_account_email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Patient is Minor Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTPEmailforaccount</name>
        <label>OTP - Email  for account</label>
        <locationX>1980</locationX>
        <locationY>3371</locationY>
        <defaultConnector>
            <targetReference>BasicAuthenticationOTPSMSforpatient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OTP - Email  for account</defaultConnectorLabel>
        <rules>
            <name>TRUEOTPEmailforaccount</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רגיל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.person_account_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>TRUE_OTP - Email  for account</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTPEMAILforcontact</name>
        <label>OTP - EMAIL for contact</label>
        <locationX>1980</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>OTPSMSforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE- EMAIL for contact</defaultConnectorLabel>
        <rules>
            <name>TRUE_EmailForContact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שליחה לאיש הקשר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.contact_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE- EMAIL for contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTPSMSforaccount</name>
        <label>OTP - SMS for account</label>
        <locationX>1980</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>OTPEmailforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OTP - SMS for account</defaultConnectorLabel>
        <rules>
            <name>TRUEOTPSMSforaccount</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) AND 5 AND 6 AND (7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רגיל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_OTP - SMS for account</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTPSMSforcontact</name>
        <label>OTP - SMS for contact</label>
        <locationX>1980</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>OTPEMAILforcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OTP - SMS for contact</defaultConnectorLabel>
        <rules>
            <name>TRUEOTPSMSforcontact</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND 6 AND ((7 AND 8 ) OR (9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>שליחה לאיש הקשר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.SMS_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_OTP - SMS for contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS</name>
        <label>Send WhatsApp Or SMS?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_Minor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA</targetReference>
            </connector>
            <label>Send WA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_Ashdod_Patient</name>
        <label>Send WhatsApp Or SMS? (Ashdod Patient)</label>
        <locationX>1551</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_SMS_Minor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_Ashdod_Patient</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_Ashdod_Patient</targetReference>
            </connector>
            <label>Send WA (Ashdod Patient)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_BasicAuthenticationOTPSMSforpatient</name>
        <label>Send WhatsApp Or SMS? (BasicAuthenticationOTPSMSforpatient)</label>
        <locationX>1551</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_BasicAuthenticationOTPSMSforpatient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_BasicAuthenticationOTPSMSforpatient</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_BasicAuthenticationOTPSMSforpatient</targetReference>
            </connector>
            <label>Send WA (BasicAuthenticationOTPSMSforpatient)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_OTP_SMS_for_account</name>
        <label>Send WhatsApp Or SMS? (OTP - SMS for account)</label>
        <locationX>1551</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_OTP_SMS_for_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_OTP_SMS_for_account</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_OTP_SMS_for_account</targetReference>
            </connector>
            <label>Send WA (OTP - SMS for account)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_Severe</name>
        <label>Send WhatsApp Or SMS? (Severe)</label>
        <locationX>1551</locationX>
        <locationY>5795</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_SMS_BasicAuthenticationOTPSMSforpatient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_Severe</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_Severe</targetReference>
            </connector>
            <label>Send WA (Severe)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_Severe_Final_For_Account</name>
        <label>Send WhatsApp Or SMS? (Severe- Final For Account)</label>
        <locationX>1551</locationX>
        <locationY>7187</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_Severe_Final_For_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_Severe_Final_For_Account</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_Severe_Final_For_Account</targetReference>
            </connector>
            <label>Send WA (Severe- Final For Account)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number Not Kosher = TRUE (ITS SMARTPHONE!) will get WA</description>
        <name>Send_WhatsApp_Or_SMS_Severe_Final_for_contact</name>
        <label>Send WhatsApp Or SMS? (Severe- Final for contact)</label>
        <locationX>2030</locationX>
        <locationY>8579</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_Severe_Final_for_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA_Severe_Final_for_contact</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA_Severe_Final_for_contact</targetReference>
            </connector>
            <label>Send WA (Severe- Final for contact)</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereEmailforaccount</name>
        <label>Severe- Email for account</label>
        <locationX>1980</locationX>
        <locationY>6371</locationY>
        <defaultConnector>
            <targetReference>SevereFinalSMSforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Severe- Email for account</defaultConnectorLabel>
        <rules>
            <name>TRUESevereEmailforaccount</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.person_account_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מחמיר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Severe- Email for account</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereFinalEmailforaccount</name>
        <label>Severe- Final Email for account</label>
        <locationX>1980</locationX>
        <locationY>7763</locationY>
        <defaultConnector>
            <targetReference>SevereFinalEMforcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Severe- Final Email for account</defaultConnectorLabel>
        <rules>
            <name>TRUESevereFinalEmailforaccount</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאושר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.person_account_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מחמיר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manually_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAnAshdodEmployee2</targetReference>
            </connector>
            <label>TRUE_Severe- Final Email for account</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereFinalEMforcontact</name>
        <label>Severe- Final EM for contact</label>
        <locationX>1980</locationX>
        <locationY>8255</locationY>
        <defaultConnector>
            <targetReference>SevereFinalSMSforcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Severe- Final EM for contact</defaultConnectorLabel>
        <rules>
            <name>TRUESevereFinalEMforcontact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאושר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manually_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.contact_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Severe- Final EM for contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereFinalSMSforaccount</name>
        <label>Severe- Final SMS for account</label>
        <locationX>1980</locationX>
        <locationY>6971</locationY>
        <defaultConnector>
            <targetReference>SevereFinalEmailforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Severe- Final SMS for account</defaultConnectorLabel>
        <rules>
            <name>TRUESevereFinalSMSforaccount</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאושר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מחמיר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manually_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAnAshdodEmployee</targetReference>
            </connector>
            <label>TRUE_Severe- Final SMS for account</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereFinalSMSforcontact</name>
        <label>Severe- Final SMS for contact</label>
        <locationX>2459</locationX>
        <locationY>8363</locationY>
        <defaultConnectorLabel>FALSE_Severe- Final SMS for contact</defaultConnectorLabel>
        <rules>
            <name>TRUESevereFinalSMSforcontact</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND 6 AND ((7 AND 8) OR (9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאושר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.SMS_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manually_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.preferred_channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ashdod3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Severe- Final SMS for contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>SevereSMSforaccount</name>
        <label>Severe- SMS for account</label>
        <locationX>1980</locationX>
        <locationY>5471</locationY>
        <defaultConnector>
            <targetReference>SevereEmailforaccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Severe- SMS for account</defaultConnectorLabel>
        <rules>
            <name>TRUESevereSMSforaccount</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Preferred_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מחמיר</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מאשר דיוור - שירותי</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status2</targetReference>
            </connector>
            <label>TRUE_Severe- SMS for account</label>
        </rules>
    </decisions>
    <description>Migrated from the שליחת OTP עבור איש קשר למטופל process using multiple criteria.
AM: 02092025- 2117250626- send whatsapp instead of sms for ashdod
AM: 26102025- separate sms from subflow -outbound whatsapp ashdod centers</description>
    <environments>Default</environments>
    <formulas>
        <name>ApprovalLinkHestLevelAuthenticationTemplateAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. קיבלנו בקשה למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; כאיש קשר בעל רמת הרשאה גבוהה בחשבונך. על מנת לאשר את הבקשה יש להיכנס ללינק הבא ולהעלות צילום ת.ז שלך יחד עם טופס ייפוי כוח: &quot;
&amp;
{!$Record.formtitan_account_severe_link__c} 
&amp;
&quot;. תודה, בית החולים הציבורי אסותא אשדוד&quot;</expression>
    </formulas>
    <formulas>
        <name>ApprovalLinkHighestLevelAuthenticationTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. קיבלנו בקשה למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; כאיש קשר בעל רמת הרשאה גבוהה בחשבונך. על מנת לאשר את הבקשה יש להיכנס ללינק הבא ולהעלות צילום ת.ז שלך יחד עם טופס ייפוי כוח: &quot;
&amp;
{!$Record.formtitan_account_severe_link__c} 
&amp;
&quot;. תודה, בית חולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>BasicContactApprovalTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. לידעתך, &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; הוגדר/ה כאיש קשר בחשבונך לביצוע פעולות ברמת הרשאה בסיסית. &quot;
&amp;
&quot;תודה, בית חולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>BasicContactApprovalTemplateAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp; 
{!$Record.Account.FirstName} 
&amp; &quot; ,&quot; &amp;
&quot;  חשוב לנו לעדכן אותך כי &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; הוגדר/ה כאיש קשר בחשבונך. &quot;
&amp;
&quot;תודה, בית החולים הציבורי אסותא אשדוד&quot;</expression>
    </formulas>
    <formulas>
        <name>ContactApprovalHighestLevelAuthenticationAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Contact.FirstName} 
&amp;
&quot;, &quot; &amp;  &quot;אושרת כאיש קשר בעל רמת זיהוי גבוהה עבור&quot; &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.FirstName} &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.LastName} &amp;
 &quot;. תודה, בית החולים הציבורי אסותא אשדוד&quot;</expression>
    </formulas>
    <formulas>
        <name>ContactApprovalHighestLevelAuthenticationTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Contact.FirstName} 
&amp;
&quot;, &quot; &amp;  &quot;אושרת כאיש קשר בעל רמת זיהוי גבוהה עבור&quot; &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.FirstName} &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.LastName} &amp;
 &quot;. תודה, בית חולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>ContactApprovalTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. קיבלנו בקשה למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp; 
&quot; כאיש קשר בחשבונך. על מנת לאשר את הבקשה יש להיכנס ללינק: &quot;
&amp;
{!$Record.formtitan_account_link__c} 
&amp; &apos; &apos; &amp;
&quot;. תודה, בית חולים אסותא &quot;</expression>
    </formulas>
    <formulas>
        <name>ContactApprovalTemplateAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. קיבלנו בקשה למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp; 
&quot; כאיש קשר בחשבונך. על מנת לאשר את הבקשה יש להיכנס ללינק: &quot;
&amp;
{!$Record.formtitan_account_link__c} 
&amp; &apos; &apos; &amp;
&quot;תודה, בית החולים הציבורי אסותא אשדוד &quot;</expression>
    </formulas>
    <formulas>
        <name>ContactAuthenticationApprovalMessageTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. בקשתך למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; כאיש קשר בעל רמת הרשאה גבוהה בחשבונך אושרה&quot;
&amp;
&quot;. תודה, בית חולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>ContactAuthenticationApprovalMessageTemplateAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Account.FirstName} 
&amp;
&quot;. בקשתך למנות את &quot;
&amp;
{!$Record.Contact.FirstName} 
&amp; &apos; &apos; &amp;
{!$Record.Contact.LastName} 
&amp;
&quot; כאיש קשר בעל רמת הרשאה גבוהה בחשבונך אושרה&quot;
&amp;
&quot;תודה, בית החולים הציבורי אסותא אשדוד&quot;</expression>
    </formulas>
    <formulas>
        <name>DefineContactTemplate</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Contact.FirstName} 
&amp;
&quot;, &quot; &amp;  
{!$Record.Account.PersonContact.FirstName} &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.LastName} &amp;
&quot; מבקש/ת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו/ה. להמשך תהליך יש להיכנס ללינק הבא: &quot;
&amp;
{!$Record.formtitan_link__c}  &amp; &quot;. תודה, בית חולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;שליחת OTP עבור איש קשר למטופל&apos;+&apos; | &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>fDefineContactTemplateAshdod</name>
        <dataType>String</dataType>
        <expression>&quot; שלום &quot; 
&amp;
{!$Record.Contact.FirstName} 
&amp;
&quot;, &quot; &amp;  
{!$Record.Account.PersonContact.FirstName} &amp; &quot; &quot; &amp;
{!$Record.Account.PersonContact.LastName} &amp;
&quot; מבקש/ת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו/ה. להמשך תהליך יש להיכנס ללינק הבא: &quot;
&amp;
{!$Record.formtitan_link__c}  &amp; &quot;. תודה, בית החולים הציבורי אסותא אשדוד&quot;</expression>
    </formulas>
    <formulas>
        <name>fMinor_SMS</name>
        <dataType>String</dataType>
        <expression>$Record.Contact.FirstName &amp; &quot; שלום &quot; &amp;
&quot;, &quot; &amp;
$Record.Account.FirstName &amp; &quot;על מנת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו/ה של &quot; &amp;
&quot; יש להיכנס ללינק הבא: &quot; &amp;
$Record.Upload_Files_Minor__c &amp;
&quot;. תודה, בית החולים אסותא&quot;</expression>
    </formulas>
    <formulas>
        <name>fNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>IfSMSPhoneBlank</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.Contact.SMS_Phone__c}), {!$Record.Account.SMS_Phone_Number__c}  ,  {!$Record.Contact.SMS_Phone__c} )</expression>
    </formulas>
    <formulas>
        <name>SMSPhoneBlank</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.Contact.SMS_Phone__c}), {!$Record.Account.SMS_Phone_Number__c}  ,  {!$Record.Contact.SMS_Phone__c} )</expression>
    </formulas>
    <interviewLabel>שליחת OTP עבור איש קשר למטופל {!$Flow.CurrentDateTime}</interviewLabel>
    <label>שליחת OTP עבור איש קשר למטופל</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Ashdod_Patient</name>
        <label>Create SMS- Ashdod Patient</label>
        <locationX>1683</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>OTPEMAILforcontact</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_BasicAuthenticationOTPSMSforpatient</name>
        <label>Create SMS- BasicAuthenticationOTPSMSforpatient</label>
        <locationX>1683</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>BasicAuthenticationPatientMail</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Minor</name>
        <label>Create SMS- Minor</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_OTP_SMS_for_account</name>
        <label>Create SMS- OTP - SMS for account</label>
        <locationX>1683</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>OTPEmailforaccount</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Severe</name>
        <label>Create SMS- Severe</label>
        <locationX>1683</locationX>
        <locationY>6011</locationY>
        <connector>
            <targetReference>SevereEmailforaccount</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Severe_Final_For_Account</name>
        <label>Create SMS- (Severe- Final For Account)</label>
        <locationX>1683</locationX>
        <locationY>7403</locationY>
        <connector>
            <targetReference>SevereFinalEmailforaccount</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Severe_Final_for_contact</name>
        <label>Create SMS- (Severe- Final for contact)</label>
        <locationX>2162</locationX>
        <locationY>8795</locationY>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Minor_SMS1</name>
        <label>Minor SMS</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>Minor_SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>Minor_SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SendSMS</name>
        <label>שלח SMS</label>
        <locationX>1947</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>OTPEMAILforcontact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>DefineContactTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>DefineContactTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>SMSPhoneBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS</name>
        <label>SMS</label>
        <locationX>1947</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>OTPEmailforaccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>ContactApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>ContactApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS1</name>
        <label>SMS</label>
        <locationX>2426</locationX>
        <locationY>8579</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>ContactApprovalHighestLevelAuthenticationTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>ContactApprovalHighestLevelAuthenticationTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>IfSMSPhoneBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS3</name>
        <label>SMS</label>
        <locationX>1947</locationX>
        <locationY>7187</locationY>
        <connector>
            <targetReference>SevereFinalEmailforaccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>ContactAuthenticationApprovalMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>ContactAuthenticationApprovalMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS4</name>
        <label>SMS</label>
        <locationX>1947</locationX>
        <locationY>5795</locationY>
        <connector>
            <targetReference>SevereEmailforaccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>ApprovalLinkHighestLevelAuthenticationTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>ApprovalLinkHighestLevelAuthenticationTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Synchronize</name>
        <label>מסרון למטופל</label>
        <locationX>1947</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>BasicAuthenticationPatientMail</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>שליחת OTP עבור איש קשר למטופל</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content2__c</field>
            <value>
                <elementReference>BasicContactApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>BasicContactApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>fNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>AccountCheckbox</name>
        <label>צקבוקס חשבון</label>
        <locationX>1749</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Ashdod</targetReference>
        </connector>
        <inputAssignments>
            <field>otp_sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AccountCheckbox1</name>
        <label>צקבוקס חשבון</label>
        <locationX>1782</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>AshdodPatient</targetReference>
        </connector>
        <inputAssignments>
            <field>otp_sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Checkbox</name>
        <label>צקבוקס</label>
        <locationX>1749</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>ContactCheckbox</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור איש הקשר</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Checkbox1</name>
        <label>צקבוקס</label>
        <locationX>1782</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>ContactCheckbox1</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור איש הקשר</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ContactCheckbox</name>
        <label>צקבוקס איש קשר</label>
        <locationX>1749</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>AccountCheckbox</targetReference>
        </connector>
        <inputAssignments>
            <field>otp_sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ContactCheckbox1</name>
        <label>צקבוקס איש קשר</label>
        <locationX>1782</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>AccountCheckbox1</targetReference>
        </connector>
        <inputAssignments>
            <field>otp_sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status</name>
        <label>סטטוס</label>
        <locationX>1782</locationX>
        <locationY>3479</locationY>
        <connector>
            <targetReference>AshdodEmployee</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור המטופל</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status1</name>
        <label>סטטוס</label>
        <locationX>1749</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>Ashdod1</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור המטופל</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status2</name>
        <label>סטטוס</label>
        <locationX>1749</locationX>
        <locationY>5579</locationY>
        <connector>
            <targetReference>IsAshdodEmployee</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור המטופל</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status3</name>
        <label>סטטוס</label>
        <locationX>1782</locationX>
        <locationY>6479</locationY>
        <connector>
            <targetReference>AshdodEmployee6</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>ממתין לאישור המטופל</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>עדכן סטטוס</label>
        <locationX>1749</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Ashdod_Employee</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>מאושר</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus1</name>
        <label>עדכן סטטוס</label>
        <locationX>1782</locationX>
        <locationY>4979</locationY>
        <connector>
            <targetReference>AshdodEmp5</targetReference>
        </connector>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>מאושר</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>687</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Minor_Patient_Email</targetReference>
        </connector>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_ApprovalLinkHestLevelAuthenticationTemplateAshd</name>
        <label>Outbound Whatsapp Ashdod Centers- ApprovalLinkHestLevelAuthenticationTemplateAshdod</label>
        <locationX>1419</locationX>
        <locationY>6011</locationY>
        <connector>
            <targetReference>SevereEmailforaccount</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountFirstName</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactLastName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvFormTitanAccountSrvereLink</name>
            <value>
                <elementReference>$Record.formtitan_account_severe_link__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_assuta_minor_upload_files_ashdod</name>
        <label>Outbound Whatsapp Ashdod Centers- _assuta_minor_upload_files_ashdod</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountFirstName</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvUploadFilesMinor</name>
            <value>
                <elementReference>$Record.Upload_Files_Minor__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_BasicContactApprovalTemplateAshdod</name>
        <label>Outbound Whatsapp Ashdod Centers- BasicContactApprovalTemplateAshdod</label>
        <locationX>1419</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>BasicAuthenticationPatientMail</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountFirstName</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactLastName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_contactapprovalhighestlevelashdod</name>
        <label>Outbound Whatsapp Ashdod Centers- contactapprovalhighestlevelashdod</label>
        <locationX>1898</locationX>
        <locationY>8795</locationY>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>IfSMSPhoneBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountPersonContactFirstName</name>
            <value>
                <elementReference>$Record.Account.PersonIndividual.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountPersonContactLastName</name>
            <value>
                <elementReference>$Record.Account.PersonIndividual.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_contactapprovaltemplateashdod</name>
        <label>Outbound Whatsapp Ashdod Centers- contactapprovaltemplateashdod</label>
        <locationX>1419</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>OTPEmailforaccount</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountFirstName</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactLastName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvFormTitanAccountLink</name>
            <value>
                <elementReference>$Record.formtitan_account_link__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_ContactAuthenticationApprovalMessageTemplateAsh</name>
        <label>Outbound Whatsapp Ashdod Centers- ContactAuthenticationApprovalMessageTemplateAshdod</label>
        <locationX>1419</locationX>
        <locationY>7403</locationY>
        <connector>
            <targetReference>SevereFinalEmailforaccount</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Account.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountFirstName</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactLastName</name>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_definecontacttemplateashdod</name>
        <label>Outbound Whatsapp Ashdod Centers- definecontacttemplateashdod</label>
        <locationX>1419</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>OTPEMAILforcontact</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>SMSPhoneBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountPersonContactFirstName</name>
            <value>
                <elementReference>$Record.Account.PersonContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAccountPersonContactLastName</name>
            <value>
                <elementReference>$Record.Account.PersonContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvContactFirstName</name>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvFormTitanLink</name>
            <value>
                <elementReference>$Record.formtitan_link__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>SMS sent to patients under the age of 18</description>
        <name>Is_Minor_SMS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>שלום {!$Record.Contact.FirstName}, על מנת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו\ה של {!$Record.Account.FirstName} יש להיכנס ללינק הבא: {!$Record.Upload_Files_Minor__c}. תודה, בית החולים הציבורי אסותא אשדוד</text>
    </textTemplates>
    <textTemplates>
        <name>Minor_SMS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;שלום {!$Record.Contact.FirstName}, על מנת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו\ה של {!$Record.Account.FirstName} יש להיכנס ללינק הבא: {!$Record.Upload_Files_Minor__c}. תודה, בית החולים אסותא &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttMinor_SMS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;שלום {!$Record.Contact.FirstName}, על מנת להגדיר אותך כאיש קשר לביצוע פעולות בחשבונו\ה של {!$Record.Account.FirstName} יש להיכנס ללינק הבא: {!$Record.Upload_Files_Minor__c}. תודה, בית החולים אסותא&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>plSendingType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>tvMessageTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
