force-app/main/default/flows/Outbound_WA_for_MRI_second_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>general_reminder_institutes_memo</name>
        <label>general_reminder_institutes_memo</label>
        <locationX>1127</locationX>
        <locationY>225</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Pre_Reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>general_reminder_institutes_memo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;Patient_Account_FirstName&quot;,
    &quot;textValue&quot;: &quot;{!First_Name}&quot;
  },
  {
    &quot;name&quot;: &quot;Site_Name&quot;,
    &quot;textValue&quot;: &quot;{!Site_Name}&quot;
  },
  {
    &quot;name&quot;: &quot;day_date_hour&quot;,
    &quot;textValue&quot;: &quot;{!Day_Date_Hour}&quot;
  },
  {
    &quot;name&quot;: &quot;formtitan_arrival_link&quot;,
    &quot;textValue&quot;: &quot;{!Arrival_Link}&quot;
  },
  {
    &quot;name&quot;: &quot;exactLocationInDomain&quot;,
    &quot;textValue&quot;: &quot;{!exactLocationInDomain}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>Patient_To_Send</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_First_Reminder</name>
        <label>Send First Reminder</label>
        <locationX>1131</locationX>
        <locationY>376</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Pre_Reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>general_reminder_institutes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;First_Name&quot;,
    &quot;textValue&quot;: &quot;{!First_Name}&quot;
  },
  {
    &quot;name&quot;: &quot;Site_Name&quot;,
    &quot;textValue&quot;: &quot;{!Site_Name}&quot;
  },
  {
    &quot;name&quot;: &quot;SMS_Address&quot;,
    &quot;textValue&quot;: &quot;{!SMS_Address}&quot;
  },
  {
    &quot;name&quot;: &quot;Arrival_Link&quot;,
    &quot;textValue&quot;: &quot;{!Arrival_Link}&quot;
  },
  {
    &quot;name&quot;: &quot;Day_Date_Hour&quot;,
    &quot;textValue&quot;: &quot;{!Day_Date_Hour}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>Patient_To_Send</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1081</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>Apps_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Appointment_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_to_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WA_Single_rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Patient_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_for_First</name>
        <label>Assign Variables for First</label>
        <locationX>803</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Arrival_Link</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.formtitanArrivalLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMS_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.SMSAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.siteName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day_Date_Hour</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.dayDateHour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_To_Send</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>over_App_records.messagingEndUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exactLocationInDomain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.exactLocationInDomain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Domain_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Patient_Var</name>
        <label>Clear Patient Var</label>
        <locationX>840</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>Patient_To_Send</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>over_App_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_App_Fields</name>
        <label>Populate App Fields</label>
        <locationX>1468</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>Appointment_Temp.isRemainder2WAsent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Appointment_Temp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.appointmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WA_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_App_Fields_0</name>
        <label>Populate App Fields</label>
        <locationX>1298</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>Appointment_Temp.isPreReminderWASent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Appointment_Temp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.appointmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WA_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WA_values</name>
        <label>WA values</label>
        <locationX>1383</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Actual_Sending_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.appointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound WA for MRI second reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Expected_Sending_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.From_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_Phone_f</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Messaging_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>over_App_records.messagingEndUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number_f</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Outbound_Success__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Messaging_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Messaging_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WA_Single_rec.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Content</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Domain_check</name>
        <label>Domain check</label>
        <locationX>946</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Send_First_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mamography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>over_App_records.domainCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>307</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_reminder_institutes_memo</targetReference>
            </connector>
            <label>Mamography</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_User_is_blank</name>
        <label>End User is blank</label>
        <locationX>628</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_for_First</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>over_App_records.messagingEndUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>over_App_records</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Reminder</name>
        <label>Pre Reminder</label>
        <locationX>1291</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Populate_App_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>over_App_records.reminderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreReminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_App_Fields_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Eden 6.8 - 2084975977 - החלפת פרמטר sms_address בפרמטר exactLocationInDomain בתבנית
general_reminder_institutes_memo.</description>
    <environments>Default</environments>
    <formulas>
        <name>Content_f_Mamography</name>
        <dataType>String</dataType>
        <expression>{!over_App_records.firstName} &amp; &quot; שלום, להזכירך, נקבע לך תור ל&quot; &amp; 
{!over_App_records.siteName} &amp; &quot; בכתובת: &quot; &amp; 
{!over_App_records.exactLocationInDomain} &amp; &quot; שיתקיים בתאריך &quot; &amp; 
{!over_App_records.dayDateHour} &amp; &quot;. &quot; &amp; 
BR() &amp; 
&quot;אנא אשרו הגעה בקישור: &quot; &amp; 
{!over_App_records.formtitanArrivalLink} &amp; &quot;.&quot; &amp; 
BR() &amp; 
&quot;ריכזנו עבורך את מגוון השירותים הניתנים במסגרת בריאות השד במרכזי אסותא:&quot; &amp; 
BR() &amp; 
&quot;b-care.assuta.co.il&quot; &amp; 
BR() &amp; 
&quot;בברכה, אסותא מרכזים רפואיים.&quot;</expression>
    </formulas>
    <formulas>
        <name>Content_first_f</name>
        <dataType>String</dataType>
        <expression>{!over_App_records.firstName}&amp;&quot; שלום, להזכירך, נקבע לך תור ל&quot;&amp;{!over_App_records.siteName}&amp;&quot; בכתובת:&quot;&amp; {!over_App_records.SMSAddress}&amp;&quot; שיתקיים בתאריך &quot;&amp;{!over_App_records.dayDateHour}&amp;&quot;. אנא אשרו הגעה בקישור:&quot;&amp; {!over_App_records.formtitanArrivalLink}&amp;&quot;. בברכה, אסותא מרכזים רפואיים.&quot;</expression>
    </formulas>
    <formulas>
        <name>Content_Second_f</name>
        <dataType>String</dataType>
        <expression>{!over_App_records.firstName}&amp;&quot; שלום,&quot; &amp;br()&amp;
&quot;ניסינו להשיגך מספר פעמים על מנת לאשר את הגעתך לבדיקה: &quot;&amp;{!over_App_records.medicalProcedureMarketingName} &amp; br() &amp;
&quot;חשוב מאוד שתאשר/י הגעה בקישור הבא: &quot;&amp;{!over_App_records.formtitanArrivalLink}&amp;&quot;.&quot;&amp;br()&amp;
&quot;במידה ולא יתקבל אישור הגעה בשעתיים הקרובות נאלץ לבטל את התור.&quot; &amp;br()&amp;
&quot;להזכירך, ניתן לזמן ולעדכן תורים לבדיקות השונות באתר אסותא בכתובת:&quot; &amp;br()&amp;
&quot;https://assuta.co.il&quot; &amp;br()&amp;
&quot;בריאות איתנה ובשורות טובות,&quot; &amp;br()&amp;
&quot;אסותא מרכזים רפואיים.&quot;</expression>
    </formulas>
    <formulas>
        <name>DateTime_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>From_Phone_f</name>
        <dataType>String</dataType>
        <expression>right({!Messaging_Channel.MasterLabel},12)</expression>
    </formulas>
    <formulas>
        <name>in_1_days</name>
        <dataType>Date</dataType>
        <expression>today() +1</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>Phone_Number_f</name>
        <dataType>String</dataType>
        <expression>if(mid({!over_App_records.phoneNumber}, 4, 1) = &apos;-&apos;,
&quot;0&quot;+right({!over_App_records.phoneNumber},10),
&quot;0&quot;+right({!over_App_records.phoneNumber},9))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>Which_Content</name>
        <dataType>String</dataType>
        <expression>if({!over_App_records.domainCode} = &apos;307&apos;, {!Content_f_Mamography}, {!Content_first_f})</expression>
    </formulas>
    <formulas>
        <name>Which_Messaging_Template</name>
        <dataType>String</dataType>
        <expression>if({!over_App_records.domainCode} = &apos;307&apos;,&apos;general_reminder_institutes_memo&apos; ,&apos;general_reminder_institutes&apos;)</expression>
    </formulas>
    <interviewLabel>Outbound WA for MRI second reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outbound WA for MRI second reminder</label>
    <loops>
        <name>over_App_records</name>
        <label>over App records</label>
        <locationX>636</locationX>
        <locationY>573</locationY>
        <collectionReference>Appointments_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>End_User_is_blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apps_record_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>WhatsApp_Record_Creation</name>
        <label>WhatsApp Record Creation</label>
        <locationX>635</locationX>
        <locationY>898</locationY>
        <inputReference>WA_to_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Messaging_Channel</name>
        <label>Messaging Channel</label>
        <locationX>468</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>over_App_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assuta_Enhanced_Bot</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Apps_record_Update</name>
        <label>Apps record Update</label>
        <locationX>635</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>WhatsApp_Record_Creation</targetReference>
        </connector>
        <inputReference>Apps_to_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Messaging_Channel</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Appointment_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Appointment_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>Appointments_Data</name>
        <apexClass>WA_ReminderWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Apps_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>Arrival_Link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Day_Date_Hour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exactLocationInDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MP_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_To_Send</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMS_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WA_Single_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WhatsApp__c</objectType>
    </variables>
    <variables>
        <name>WA_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WhatsApp__c</objectType>
    </variables>
    <variables>
        <name>Which_Reminder_Text_to_Send</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
