force-app/main/default/flows/PB_to_flow_New_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_Member_Data</name>
        <label>Assign Campaign Member Data</label>
        <locationX>160</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>rvCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Preferred_Channel_Is_Sms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Message_Data</name>
        <label>Assign Email Message Data</label>
        <locationX>402</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>rvEmailMassage.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PB_to_flow_New_Lead -TR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.EmailTemplateDeveloperName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmailTemplateDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assuta No-Reply</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.LeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>יצירת ליד</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.TemplateMergeField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LeadId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMassage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Data_Approves_Mailing</name>
        <label>Assign Lead Data - Approves Mailing</label>
        <locationX>160</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rvLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.ApprovesMailing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>מאשר דיוור - שירותי</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignId_From_Web_To_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Data_CampaigenId_From_Web_To_Lead</name>
        <label>Assign Lead Data - CampaigenId From Web To Lead</label>
        <locationX>160</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>rvLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.campaignIdFromWebToLead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Data_Sms_Phone_Number</name>
        <label>Assign Lead Data -Sms Phone Number</label>
        <locationX>160</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>rvLead.smsPhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Data</name>
        <label>Assign SMS Data</label>
        <locationX>138</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__r.AutoResponseMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approves_Mailing</name>
        <label>Approves Mailing</label>
        <locationX>292</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CampaignId_From_Web_To_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approves_Mailing_Is_Checked_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovesMailingCheckbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Data_Approves_Mailing</targetReference>
            </connector>
            <label>Yes- Approves Mailing Is Checked True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CampaignId_From_Web_To_Lead</name>
        <label>CampaignId From Web To Lead</label>
        <locationX>292</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Create_New_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CampaignId_Is_From_Web_To_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaignIdFromWebToLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Data_CampaigenId_From_Web_To_Lead</targetReference>
            </connector>
            <label>Yes- CampaignId Is From Web To Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Email_Message_Medical_Tourism</name>
        <label>Create Email Message- Medical Tourism?</label>
        <locationX>534</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Message_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Create_Medical_Tourism_Email</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5 and (6 or 7 or 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.SensitiveCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Medical_Tourism__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chatbot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>assutaWebsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Message_Data</targetReference>
            </connector>
            <label>yes- Create Medical Tourism Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Campaign_Member</name>
        <label>Create New Campaign Member?</label>
        <locationX>292</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Is_Lead_Preferred_Channel_Is_Sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_New_Campaign_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_Member_Data</targetReference>
            </connector>
            <label>Yes- Create New Campaign Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>auto response</description>
        <name>Create_SMS_Or_Email</name>
        <label>Create SMS Or Email?</label>
        <locationX>292</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Message_Medical_Tourism</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Email Message</defaultConnectorLabel>
        <rules>
            <name>Create_SMS</name>
            <conditionLogic>1 and 2 and (3 or 4) and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.SensitiveCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Medical_Tourism__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Clalit_And_Medisleep</targetReference>
            </connector>
            <label>Create SMS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Medisleep = campaign name (מדיסליפ)</description>
        <name>Is_Clalit_And_Medisleep</name>
        <label>Is Clalit And Medisleep?</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Send_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource_Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כללית</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מדיסליפ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Record</targetReference>
            </connector>
            <label>Yes- Do Not Send SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Preferred_Channel_Is_Sms</name>
        <label>Is Lead Preferred Channel Is Sms?</label>
        <locationX>292</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Preferred_Channel_Is_Sms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Data_Sms_Phone_Number</targetReference>
            </connector>
            <label>Yes- Lead Preferred Channel Is Sms</label>
        </rules>
    </decisions>
    <description>AM: 03122024- User Story 20086- Migrated from the Lead new process using multiple criteria.
AM: 12032024- Monday- &quot;החרגת קופ&quot;ח כללית משליחת סמס ביצירת ליד חדש&quot;
AM: 12032024- new monday item for this- 1864450358
AM 13032025- 1864450358 - no need for email alert/ email message for new lead. only for medical tourism</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutoResponseMessageFromCampaign</name>
        <dataType>String</dataType>
        <expression>&apos;שלום &apos;+&apos;$Record.FirstName&apos;
+&apos;$Record.AutoResponseMessageFromCampaign__c&apos;</expression>
    </formulas>
    <formulas>
        <name>fCampaignIdFromWebToLead</name>
        <dataType>String</dataType>
        <expression>{!$Record.campaignIdFromWebToLead__c}</expression>
    </formulas>
    <formulas>
        <name>fEmailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Campaign__r.Name} = &quot;תיירות מרפא- אנגלית&quot;, &quot;Lead_Medical_Tourism_English&quot;,&quot;Lead_Medical_Tourism_Russian&quot;)</expression>
    </formulas>
    <formulas>
        <name>fNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>PB to flow: New Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PB to flow: New Lead -TR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>292</locationX>
        <locationY>1523</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputReference>rvCampaignMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Record</name>
        <label>Create Email Message Record</label>
        <locationX>534</locationX>
        <locationY>2147</locationY>
        <inputReference>rvEmailMassage</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Record</name>
        <label>Create SMS Record</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>292</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Create_SMS_Or_Email</targetReference>
        </connector>
        <inputReference>rvLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approves_Mailing</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>rvEmailMassage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>rvLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>rvSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
