force-app/main/default/flows/Pre_generate_ConsentForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Sign_Doc_URL</name>
        <label>Create Sign Doc URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef1889bd437953f157561c30a2d35b37091dade2a1732d233d56144fdf8d7f5c7c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_10</name>
        <label>Create Sign Doc URL 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef8fa6d2f3705c7fc079c2e6a11b35e5617a4ec96e24c7c84a76d9e02e02361e76</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_11</name>
        <label>Create Sign Doc URL 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef2f7bb1b2aff3583daf7e212ced92c0dd78f606433e776d5dc36d8b5361f8a968</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_12</name>
        <label>Create Sign Doc URL 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0169372d3406bc0f1c34aad71cd06ab2bf84daec4abbec1b997139b76465cb07</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_12_ePad</name>
        <label>Create Sign Doc URL 12 ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef06381ab9970397cf8238877e80c54420e0fdbd6f6208db51a82b87993763b775</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_13</name>
        <label>Create Sign Doc URL 13</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efa966b122f633773d9a814aec54ef98d7ef31063fd19bdd9843cbc4686f331b4e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_13_ePad</name>
        <label>Create Sign Doc URL 13 ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50effa1429c40ca852a55810e4510ad45b5d7677a07e8635b15f7c8814a7c2919f36</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_14</name>
        <label>Create Sign Doc URL 14</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0b9afcea28ea55bd4f76aa39b7f3a6ca9a5e485b2fde1431e4d85b8f7a99e887</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_4</name>
        <label>Create Sign Doc URL 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef79f6659fc1a45251c7b6ceb35924b990c3c6feed2832885d0861e60341753940</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_6</name>
        <label>Create Sign Doc URL 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efbdd7313cc2ab3f2fc70e668ab4260bf148266e53601e876f5e12faf7794a4a46</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_7</name>
        <label>Create Sign Doc URL 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef7faa5a9cf3c88736d3cde98886647a66c68822fa6d7d3e0f6d362a6d7ec70c10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_8</name>
        <label>Create Sign Doc URL 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50eff3956bb4c488fd656ed0930040131c2e5c98aeaac43bf7b6633a561103795f58</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_9</name>
        <label>Create Sign Doc URL 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef59e7192d94335fa516c005ec81a6b54ed3b70530b8683e16dc43ec83c3828697</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Sign_Doc_URL_ePad</name>
        <label>Create Sign Doc URL ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efb4057e924c183dfd9832c4c0c689387988cd8611f6c01c149a3a8f425c837823</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CreateSignDocURL2</name>
        <label>Create Sign Doc URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0ffdbabe8ae610ff8aa2a76589aef3b56405176602b3eb392edc1a14e239dd6e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CreateSignDocURL5</name>
        <label>Create Sign Doc URL 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignInstantUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ConsentFormTaken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expire</name>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_api_name_to_save_titansign_value</name>
            <value>
                <stringValue>PreGeneratedDocUrl__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef597ceb4b9de648e716ae6e6d27d2e553d2c66bdc58fb755b55051e5d433ec997</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAutoGenerate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignInstantUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate</name>
        <label>Pre- generate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef1889bd437953f157561c30a2d35b37091dade2a1732d233d56144fdf8d7f5c7c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_10</name>
        <label>Pre generate 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef8fa6d2f3705c7fc079c2e6a11b35e5617a4ec96e24c7c84a76d9e02e02361e76</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_11</name>
        <label>Pre generate 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_11</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef2f7bb1b2aff3583daf7e212ced92c0dd78f606433e776d5dc36d8b5361f8a968</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_12</name>
        <label>Pre generate 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_12</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0169372d3406bc0f1c34aad71cd06ab2bf84daec4abbec1b997139b76465cb07</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_12_ePad</name>
        <label>Pre generate 12 ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_12_ePad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef06381ab9970397cf8238877e80c54420e0fdbd6f6208db51a82b87993763b775</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_13</name>
        <label>Pre generate 13</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_13</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efa966b122f633773d9a814aec54ef98d7ef31063fd19bdd9843cbc4686f331b4e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_13_ePad</name>
        <label>Pre generate 13 ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_13_ePad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50effa1429c40ca852a55810e4510ad45b5d7677a07e8635b15f7c8814a7c2919f36</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_14</name>
        <label>Pre generate 14</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_14</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0b9afcea28ea55bd4f76aa39b7f3a6ca9a5e485b2fde1431e4d85b8f7a99e887</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_2</name>
        <label>Pre generate 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateSignDocURL2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef0ffdbabe8ae610ff8aa2a76589aef3b56405176602b3eb392edc1a14e239dd6e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_2_ePad</name>
        <label>Pre generate 2 ePad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_ePad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efb4057e924c183dfd9832c4c0c689387988cd8611f6c01c149a3a8f425c837823</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_4</name>
        <label>Pre generate 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef79f6659fc1a45251c7b6ceb35924b990c3c6feed2832885d0861e60341753940</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_7</name>
        <label>Pre generate 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_7</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef7faa5a9cf3c88736d3cde98886647a66c68822fa6d7d3e0f6d362a6d7ec70c10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_8</name>
        <label>Pre generate 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50eff3956bb4c488fd656ed0930040131c2e5c98aeaac43bf7b6633a561103795f58</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pre_generate_9</name>
        <label>Pre generate 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_9</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef59e7192d94335fa516c005ec81a6b54ed3b70530b8683e16dc43ec83c3828697</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pregenerate5</name>
        <label>Pre generate 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateSignDocURL5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50ef597ceb4b9de648e716ae6e6d27d2e553d2c66bdc58fb755b55051e5d433ec997</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pregenerate6</name>
        <label>Pre generate 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Form_Builder__TitanSignPrePopulate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sign_Doc_URL_6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <stringValue>511a883fc2a43f27e0f7fe6c8a95a7a46cc8bbcfc09daf7b88691a6c5fbb50efbdd7313cc2ab3f2fc70e668ab4260bf148266e53601e876f5e12faf7794a4a46</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__TitanSignPrePopulate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Signed_Device</name>
        <label>Signed Device</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_generate_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desctop</defaultConnectorLabel>
        <rules>
            <name>ePad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signed_Via_Epad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_2_ePad</targetReference>
            </connector>
            <label>ePad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Signed_Device_12</name>
        <label>Signed Device 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_generate_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desctop</defaultConnectorLabel>
        <rules>
            <name>ePad_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signed_Via_Epad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_12_ePad</targetReference>
            </connector>
            <label>ePad 12</label>
        </rules>
    </decisions>
    <decisions>
        <name>Signed_Device_13</name>
        <label>Signed Device 13</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_generate_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desctop</defaultConnectorLabel>
        <rules>
            <name>ePad_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signed_Via_Epad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_13_ePad</targetReference>
            </connector>
            <label>ePad 13</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specified_consent_form</name>
        <label>Specified consent form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hysterectomy_With_Without_Salpingo_Oophorectomy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hysterectomy With/Without Salpingo-Oophorectomy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate</targetReference>
            </connector>
            <label>Hysterectomy With/Without Salpingo-Oophorectomy</label>
        </rules>
        <rules>
            <name>Breast_Needle_Biopsy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breast Needle Biopsy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_Device</targetReference>
            </connector>
            <label>Breast Needle Biopsy</label>
        </rules>
        <rules>
            <name>Lumbar_Decompression_and_Fusion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lumbar Decompression and Fusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_4</targetReference>
            </connector>
            <label>Lumbar Decompression and Fusion</label>
        </rules>
        <rules>
            <name>Discectomy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discectomy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pregenerate5</targetReference>
            </connector>
            <label>Discectomy</label>
        </rules>
        <rules>
            <name>Total_Hip_Knee_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total Hip/Knee Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pregenerate6</targetReference>
            </connector>
            <label>Total Hip/Knee Replacement</label>
        </rules>
        <rules>
            <name>Laparoscopic_Procedure_in_Gynecology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laparoscopic Procedure in Gynecology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_7</targetReference>
            </connector>
            <label>Laparoscopic Procedure in Gynecology</label>
        </rules>
        <rules>
            <name>Hysteroscopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hysteroscopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_8</targetReference>
            </connector>
            <label>Hysteroscopy</label>
        </rules>
        <rules>
            <name>Laminectomy_and_Decompression</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laminectomy and Decompression</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_9</targetReference>
            </connector>
            <label>Laminectomy and Decompression</label>
        </rules>
        <rules>
            <name>Gastrointestinal_Endoscopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gastrointestinal Endoscopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_10</targetReference>
            </connector>
            <label>Gastrointestinal Endoscopy</label>
        </rules>
        <rules>
            <name>Laparoscopic_Cholecystectomy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laparoscopic Cholecystectomy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_11</targetReference>
            </connector>
            <label>Laparoscopic Cholecystectomy</label>
        </rules>
        <rules>
            <name>BloodTransfusionAndAnesthesia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anesthesia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_generate_14</targetReference>
            </connector>
            <label>BloodTransfusionAndAnesthesia</label>
        </rules>
        <rules>
            <name>YAG_Posterior_Capsulotomy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YAG Posterior Capsulotomy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_Device_12</targetReference>
            </connector>
            <label>YAG Posterior Capsulotomy</label>
        </rules>
        <rules>
            <name>Intra_Vitreal_Injection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsentForm__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intra-Vitreal Injection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_Device_13</targetReference>
            </connector>
            <label>Intra-Vitreal Injection</label>
        </rules>
    </decisions>
    <description>V16 - Intra-Vitreal Injection - change epad Hash with desctop
V15-all production ftFormHash
V14- Production Titan Hash 
V13- ePad Links and PreGenerate
V5 - changed to link
V4 - drop preGenerate Action
V3 - Create TitanSignInstantUrl
V2 - fixed ftFormHash, pre-generate field reset
27.08.25 Yulia added BloodTransfusionAndAnesthesia
15.09.25 Yulia updated HASH for Anastesia and condition.</description>
    <environments>Default</environments>
    <interviewLabel>Pre-generate ConsentForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-generate ConsentForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ConsentFormTaken</name>
        <label>Update ConsentFormTaken</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreGenerateDocument__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Specified_consent_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreGenerateDocument__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ConsentFormTaken__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
