force-app/main/default/flows/PreSurgery_Nurse_Recommendation_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Nurse_Recommendation</name>
        <label>Nurse Recommendation</label>
        <locationX>681</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requires_PreSurgery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נדרש לזמן טרום במרפאה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurse_Recommendation_for_Assessment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Requires PreSurgery</label>
        </rules>
        <rules>
            <name>PreSurgery_is_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא נדרש טרום לפני הניתוח</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurse_Recommendation_for_Assessment_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PreSurgery is Not Required</label>
        </rules>
    </decisions>
    <description>scenario:
patient receives a survey after Appointment was set, fills it up and receives SMS with instructions.
a while later a nurse reviews his answers and manually sets a value in NurseStatus field.
This automation sends SMS to the patient after NurseStatus was set.</description>
    <environments>Default</environments>
    <interviewLabel>PreSurgery Nurse Recommendation SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PreSurgery Nurse Recommendation SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Nurse_Recommendation_for_Assessment</name>
        <label>Nurse Recommendation for Assessment</label>
        <locationX>973</locationX>
        <locationY>555</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>PreSurgery Nurse Recommendation SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Nurse_Recommendation_for_Assesmet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Nurse_Recommendation_for_Assessment_0</name>
        <label>Nurse Recommendation for Assessment</label>
        <locationX>407</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>PreSurgery Nurse Recommendation SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Nurse_No_Assesment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Survey_Taken</name>
        <label>Get Survey Taken</label>
        <locationX>689</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nurse_Recommendation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyTaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Appointment__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Survey_Taken</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NurseStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>נדרש לזמן טרום במרפאה</stringValue>
            </value>
        </filters>
        <filters>
            <field>NurseStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>לא נדרש טרום לפני הניתוח</stringValue>
            </value>
        </filters>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
