force-app/main/default/flows/Public_Inquiries_Number_of_Days_for_Late_Open_Ongoing_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Days_Count</name>
        <label>Days Count</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Counting_the_days</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_some_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_some_days</name>
        <label>Have some days</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_the_Number_of_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>no_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counting_the_days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no days</label>
        </rules>
    </decisions>
    <description>מעדכן את השדה &quot;מספר ימי החריגה בטיפול בפניה&quot; (NumOfDaysPassedDeadlineHandlingDate) לפניות שעדיין פתוחות</description>
    <environments>Default</environments>
    <interviewLabel>Public Inquiries Number of Days for Late Open Ongoing Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public Inquiries Number of Days for Late Open Ongoing Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Days</name>
        <label>Get Days</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Days_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.DeadlineHandlingDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>business_day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Weekend__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Calendar1__c</object>
        <outputReference>All_Days</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>business_day__c</queriedFields>
        <queriedFields>Weekend__c</queriedFields>
        <queriedFields>Gregorian_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>מעדכן את השדה  &quot;מספר ימי החריגה בטיפול בפניה&quot; (NumOfDaysPassedDeadlineHandlingDate)</description>
        <name>Update_the_Number_of_days</name>
        <label>Update the Number of days</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>NumOfDaysPassedDeadlineHandlingDate__c</field>
            <value>
                <elementReference>Counting_the_days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 9) AND 6 AND 7 AND 8 AND ((10 AND 11 AND 12) OR 13 OR 14)</filterLogic>
        <filters>
            <field>DeadlineHandlingDatePassed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManualUpdateDeadlineDates__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject_Public_Inquiry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Site_Public_Inquiry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeadlineHandlingDatePassed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Caneclled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Following</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Follow_Up_Status_Changed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ThirdParty</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendar1__c</objectType>
    </variables>
    <variables>
        <name>Counting_the_days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
