force-app/main/default/flows/Public_Inquiries_No_Deadline_to_the_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Data</name>
        <label>Assign Case Data</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>rvCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.DeadlineHandlingDatePassed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvCase.NumOfDaysPassedDeadlineHandlingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <description>מאפס את השדות &quot;האם הטיפול בפניה חרג מתאריך היעד&quot; ו&quot;מספר ימי החריגה בטיפול בפניה&quot; בפניות מסוג &quot;פניות הציבור&quot; שלא מוגדר להם תאריך יעד לטיפול בפניה

AM: 30072025- 2076578289- refactor</description>
    <environments>Default</environments>
    <interviewLabel>Public Inquiries No Deadline to the Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public Inquiries No Deadline to the Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Reset two Fields - מאפס את השדות את השדות &quot;האם הטיפול בפניה חרג מתאריך היעד&quot; (DeadlineHandlingDatePassed) ו&quot;מספר ימי החריגה בטיפול בפניה&quot; (NumOfDaysPassedDeadlineHandlingDate)</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>rvCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Case_Data</targetReference>
        </connector>
        <filterFormula>AND(ISNULL({!$Record.DeadlineHandlingDate__c}), {!$Record.RecordType.DeveloperName} =&apos;PublicInquiries&apos;,
         OR( {!$Record.DeadlineHandlingDatePassed__c}, {!$Record.NumOfDaysPassedDeadlineHandlingDate__c} &lt;&gt; 0
               )
         )</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
