force-app/main/default/flows/Referral_from_doctor_website_Create_or_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_fetch_data_for_Metavision_needed</name>
        <label>1 - Is fetch data for Metavision needed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>X2_Is_Is_Covid_19_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Sent2ClinicApp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Side_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Doctor_Account__r.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure_1__r.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medications__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Anamnesis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hospitalization__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Physical_Check__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Anesthesia_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LensType1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LensName1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Remarks__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Findings__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_appointment</targetReference>
            </connector>
            <label>Yes - Update Sent2ClinicApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_Is_Is_Covid_19_is_changed</name>
        <label>2 - Is &quot; Is Covid 19 &quot; is changed?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Is_Covid_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCovid19__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_appointment</targetReference>
            </connector>
            <label>Yes - Update Is Covid 19</label>
        </rules>
    </decisions>
    <description>US-16063 אוטומציה המעדכנת את שדה Sent2ClinicApp__c באובייקט Appointment__c
כחלק מפרויקט תהליכי טרום ניתוח עולה דרישה לבצע אוטומציה שתעדכן את שדה Sent2ClinicApp__c באובייקט Appointment__c מערך True לערך False לאחר עדכון של שדות מסוימים בפגישה על מנת שהממשק (PreSurgerySFToMetavsion) יוכל למשוך את הפגישה שוב במידה ומתבצעים שינויים רלוונטיים.

הפלואו מטפל בשדות של האובייקט שלו בלבד, שאר השדות שנמצאים באובייקט פגישה מטופלים בפלואו 
Appointment PB
בצומת Set Trigger for PreSurgerySFToMetavision interface

Monday 2644114724 להוסיף שדות לתהליך שמעדכן את השדה השדה Sent2ClinicApp__c ל-FALSE</description>
    <environments>Default</environments>
    <interviewLabel>Referral from doctor website - Create or Update - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral from doctor website - Create or Update - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_appointment</name>
        <label>Update apps Is Covid 19</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>IsCovid19__c</field>
            <value>
                <elementReference>$Record.IsCovid19__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Appointments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_appointment</name>
        <label>Update apps Sent2Clinic</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>X2_Is_Is_Covid_19_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent2ClinicApp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Appointments__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_fetch_data_for_Metavision_needed</targetReference>
        </connector>
        <object>Referral_from_doctor_website__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
