force-app/main/default/flows/Scheduled_Doctor_Satisfaction_Survey_Not_Answered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SMS_Data</name>
        <label>Assign SMS Data</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Doctor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExpectedSendingDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Doctor__r.Doctor_personal_phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.SmsTemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocSatisfactionSurveyReminder_SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.SurveyTaker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Data_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Data_To_Collection</name>
        <label>Assign SMS Data To Collection</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>rvcSMS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvSMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Taken_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>mark reminder as done</description>
        <name>Assign_Survey_Taken_Data</name>
        <label>Assign Survey Taken Data</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.IsReminderSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.SurveyReminderDatetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExpectedSendingDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Taken_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Taken_To_Collection</name>
        <label>Assign Survey Taken To Collection</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>rvcSurveyTaken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvSurveyTaken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Survey_Taken</targetReference>
        </connector>
    </assignments>
    <description>AM: 09062025- 1978142113- סקר לרופא הנקלט - תזכורת לאחר 7 ימים ממועד שליחת הסקר</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Scheduled_Doctor_Satisfaction_Survey_Not_Answered &apos;+TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <description>the flow runs every day on 10:30. so we send the sms at the same day (if business day) at 15:00</description>
        <name>fExpectedSendingDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Business_Day.Gregorian_Date__c})+ &apos; 15:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>fSMSSendTimeMax</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() -7)+&apos; 23:59:59&apos;)</expression>
    </formulas>
    <formulas>
        <name>fSMSSendTimeMin</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() -7)+&apos; 00:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>fTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Scheduled- Doctor Satisfaction Survey Not Answered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled- Doctor Satisfaction Survey Not Answered</label>
    <loops>
        <name>Loop_Survey_Taken</name>
        <label>Loop Survey Taken</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Survey_Taken</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Business_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Update_Survey_Taken</targetReference>
        </connector>
        <inputReference>rvcSMS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Day</name>
        <label>Get Business Day</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SMS_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fTODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>business_day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar1__c</object>
        <sortField>Gregorian_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Taken</name>
        <label>Get Survey Taken</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Survey_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocSatisfaction</stringValue>
            </value>
        </filters>
        <filters>
            <field>is_sms_sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fill_Percentage__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sms_send_time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fSMSSendTimeMin</elementReference>
            </value>
        </filters>
        <filters>
            <field>sms_send_time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fSMSSendTimeMax</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyTaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Taken</name>
        <label>Update Survey Taken</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <inputReference>rvcSurveyTaken</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Taken</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-09</startDate>
            <startTime>10:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvcSMS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>rvcSurveyTaken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <name>rvSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>rvSurveyTaken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
</Flow>
