force-app/main/default/flows/Scheduled_Send_Doctor_Satisfaction_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SMS_Data</name>
        <label>Assign SMS Data</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>rvSMS.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Doctor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExpectedSendingDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Doctor__r.Doctor_personal_phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.SmsTemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New_Doctor_Satisfaction_Survey_SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSMS.SurveyTaker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Data_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Data_To_Collection</name>
        <label>Assign SMS Data To Collection</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>rvcSMS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvSMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Taken_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Taken_Data</name>
        <label>Assign Survey Taken Data</label>
        <locationX>264</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.is_sms_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvSurveyTaken.sms_send_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExpectedSendingDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Taken_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Taken_To_Collection</name>
        <label>Assign Survey Taken To Collection</label>
        <locationX>264</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>rvcSurveyTaken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvSurveyTaken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Survey_Taken</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Doctor_Need_To_Take_a_Survey</name>
        <label>Doctor Need To Take a Survey?</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_Survey_Taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_To_Take_a_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointment_Per_Doctor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Day</targetReference>
            </connector>
            <label>Yes- Need To Take a Survey</label>
        </rules>
    </decisions>
    <description>AM: 04062025- 1978142113- סקר לרופא נקלט
AM: 09112025- BUG FIX- to many non relevant doctors
AM: 12112025- 2512529538- change time of sending the survey 30 days instead of 45.</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Scheduled-Send Doctor Satisfaction Survey&apos;+&apos; &apos;+ TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <description>the flow runs every day on 07:45. so we send the sms at the same day (if business day) at 15:00</description>
        <name>fExpectedSendingDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Business_Day.Gregorian_Date__c})+ &apos; 15:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRealeseDatePlus30Max</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() -30)+&apos; 23:59:59&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRealeseDatePlus30Min</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() -30)+&apos; 00:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>fToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Scheduled- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled-Send Doctor Satisfaction Survey</label>
    <loops>
        <name>Loop_Survey_Taken</name>
        <label>Loop Survey Taken</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Survey_Taken_Doctors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Appointment_Per_Doctor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>176</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Update_Survey_Taken</targetReference>
        </connector>
        <inputReference>rvcSMS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appointment_Per_Doctor</name>
        <label>Get Appointment Per Doctor</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doctor_Need_To_Take_a_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fRealeseDatePlus30Min</elementReference>
            </value>
        </filters>
        <filters>
            <field>Release_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fRealeseDatePlus30Max</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id_Surgeries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Doctor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Survey_Taken.Doctor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Day</name>
        <label>Get Business Day</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SMS_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>business_day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar1__c</object>
        <sortField>Gregorian_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id_Surgeries</name>
        <label>Get Record Type Id- Surgeries</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Taken_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surgeries</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Taken_Doctors</name>
        <label>Get Survey Taken Doctors</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Survey_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocSatisfaction</stringValue>
            </value>
        </filters>
        <filters>
            <field>is_sms_sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyTaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Taken</name>
        <label>Update Survey Taken</label>
        <locationX>176</locationX>
        <locationY>1608</locationY>
        <inputReference>rvcSurveyTaken</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id_Surgeries</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-04</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>DoctorAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoctorAccountIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvcSMS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>rvcSurveyTaken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <name>rvSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>rvSurveyTaken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
</Flow>
