force-app/main/default/flows/Scheduled_Send_Doctor_First_Surgeries_Appointment_Alert_To_Medical_Staff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>doctor account to update</description>
        <name>Assign_Account_Data</name>
        <label>Assign Account Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Appointment_To_Create_Email_From.Doctor_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAccount.New_doctor_alert_sent_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fToAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Data_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Data_To_Collection</name>
        <label>Assign Account Data To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvcAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Appointment_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctor_Account_Id</name>
        <label>Assign Doctor Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tcDoctorsAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Doctor_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Doctor_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctors_List_And_Appointments_No_Dups</name>
        <label>Assign Doctors List And Appointments - No Dups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tcDoctorsIdsNoDups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Appointments.Doctor_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tcAppointmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Appointments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Message_Data</name>
        <label>Assign Email Message Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvEmailMessage.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Appointment_To_Create_Email_From.Doctor_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.Automation_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Doctor First Appointment Alert To Medical Staff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.ExpectedSendingDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nonreply@assuta.co.il</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Doctors First Appointment Is Tomorrow!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.TemplateMergeField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AppointmentId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.EmailTemplateDeveloperName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DrFirstSurgery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvEmailMessage.AppointmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Appointment_To_Create_Email_From.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_Message_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Message_To_Collection</name>
        <label>Assign Email Message To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvcEmailMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvEmailMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if doctor has tomorrow more then one appointment - we want to send only one alert</description>
        <name>Already_Listed</name>
        <label>Already Listed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Doctors_List_And_Appointments_No_Dups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Add To List</defaultConnectorLabel>
        <rules>
            <name>Skip_The_List_Has_This_Doctor_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tcDoctorsIdsNoDups</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Appointments.Doctor_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Appointments</targetReference>
            </connector>
            <label>Skip- The List Has This Doctor Id</label>
        </rules>
    </decisions>
    <description>AM: 03082025- 2063652442- סקר רופא נקלט - חיווי לסגל הרפואי על ניתוח ראשון באתר
AM: 05082025- 2063652442 - CHANGES IN MAIL RECIPIENTS - Doc_Coordinator_HQ__c + Doc_Coordinator_Manager__c</description>
    <environments>Default</environments>
    <formulas>
        <name>fToAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Appointment_To_Create_Email_From.Site__r.Doc_Coordinator_Manager__c} +&apos;,&apos;+{!Get_Appointment_To_Create_Email_From.Site__r.Doc_Coordinator_HQ__c}</expression>
    </formulas>
    <formulas>
        <name>fTomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY() +1</expression>
    </formulas>
    <interviewLabel>Scheduled- Send Doctor First Appointment Alert To Medical Staff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled- Send Doctor First Surgeries Appointment Alert To Medical Staff</label>
    <loops>
        <description>these doctors will have their first appointment tomorrow</description>
        <name>Loop_Appointment_List</name>
        <label>Loop Appointment List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>tcAppointmentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Appointment_To_Create_Email_From</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Appointments</name>
        <label>Loop Appointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Appointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_Listed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Template_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Doctor_Account</name>
        <label>Loop Doctor Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Doctor_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doctor_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Record_Type_Surgeries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>rvcEmailMessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>tcDoctorsAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fTomorrow</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Surgeries.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment__c</object>
        <sortField>Appointment_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Appointment_To_Create_Email_From</name>
        <label>Get Appointment To Create Email From</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Message_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Appointment_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctor_Account</name>
        <label>Get Doctor Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Doctor_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Doctor_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_doctor_alert_sent_to__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id</name>
        <label>Get Email Template Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Appointment_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DrFirstSurgery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Doctor_Account</name>
        <label>Get Record Type- Doctor Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doctor_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Doctor_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Surgeries</name>
        <label>Get Record Type- Surgeries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surgeries</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the doctor Account</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvcAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Doctor_Account</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-03</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvcAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvcEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>rvEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>tcAppointmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcDoctorsAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcDoctorsIdsNoDups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
