force-app/main/default/flows/Screen_Send_Message_By_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_message_by_population_Approved</name>
        <label>Send message by population - Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendMessageByPopulation_Invoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Success_After_Approval</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appDateFrom</name>
            <value>
                <elementReference>Appointment_Date_From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appDateTo</name>
            <value>
                <elementReference>Appointment_Date_Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calendarIds</name>
            <value>
                <elementReference>CalendarSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>citiesList</name>
            <value>
                <elementReference>PatientCityChoice.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domainIds</name>
            <value>
                <elementReference>DomainSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAge</name>
            <value>
                <elementReference>Min_Account_Age_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCanceledAppointments</name>
            <value>
                <elementReference>bvIsCanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>medicalProcIds</name>
            <value>
                <elementReference>MedicalProcedureSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payerFactorIds</name>
            <value>
                <elementReference>PayerFactorSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendNow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteIds</name>
            <value>
                <elementReference>SiteSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateAPIName</name>
            <value>
                <elementReference>tvTemplateAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAge</name>
            <value>
                <elementReference>Max_Account_Age_Number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMessageByPopulation_Invoc</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_message_by_population_Check_Only</name>
        <label>Send message by population- Check Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendMessageByPopulation_Invoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Success_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appDateFrom</name>
            <value>
                <elementReference>Appointment_Date_From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appDateTo</name>
            <value>
                <elementReference>Appointment_Date_Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calendarIds</name>
            <value>
                <elementReference>CalendarSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>citiesList</name>
            <value>
                <elementReference>PatientCityChoice.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domainIds</name>
            <value>
                <elementReference>DomainSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAge</name>
            <value>
                <elementReference>Min_Account_Age_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCanceledAppointments</name>
            <value>
                <elementReference>bvIsCanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>medicalProcIds</name>
            <value>
                <elementReference>MedicalProcedureSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payerFactorIds</name>
            <value>
                <elementReference>PayerFactorSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendNow</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteIds</name>
            <value>
                <elementReference>SiteSelect.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateAPIName</name>
            <value>
                <elementReference>tvTemplateAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAge</name>
            <value>
                <elementReference>Max_Account_Age_Number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMessageByPopulation_Invoc</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Template_Api_Name_cancelled_appointment_emergency</name>
        <label>Assign Template Api Name (cancelled_appointment_emergency)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tvTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cancelled_appointment_emergency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bvIsCanceled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_message_by_population_Check_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_Api_Name_reschedule_appointment_emergency</name>
        <label>Assign Template Api Name (reschedule_appointment_emergency)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tvTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reschedule_appointment_emergency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bvIsCanceled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_message_by_population_Check_Only</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cancelled_appointment_emergency</name>
        <choiceIcon>
            <iconName>utility:send</iconName>
        </choiceIcon>
        <choiceText>שמנו לב שהתור לא התקיים במועדו</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>cancelled_appointment_emergency</stringValue>
        </value>
    </choices>
    <choices>
        <name>reschedule_appointment_emergency</name>
        <choiceIcon>
            <iconName>utility:send</iconName>
        </choiceIcon>
        <choiceText>ניתן להקדים תור</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reschedule_appointment_emergency</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Success_After_Approval</name>
        <label>Is Success? (After Approval)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fail_Screen_After_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Success_After_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_message_by_population_Approved.isSuccsess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Yes- Success (After Approval)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success_Check</name>
        <label>Is Success? (Check)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fail_Screen_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Success_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_message_by_population_Check_Only.isSuccsess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Screen</targetReference>
            </connector>
            <label>Yes- Success (Check)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Messages_Approved</name>
        <label>Send Messages? (Approved)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Approved_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Messages_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_message_by_population_Approved</targetReference>
            </connector>
            <label>Yes- Send Messages (Approved)</label>
        </rules>
    </decisions>
    <decisions>
        <description>this selection is done by the toggle situation</description>
        <name>What_Template_To_Use</name>
        <label>What Template To Use?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Template_Api_Name_cancelled_appointment_emergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Template API- cancelled_appointment_emergency</defaultConnectorLabel>
        <rules>
            <name>Template_API_reschedule_appointment_emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionToggle.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_Api_Name_reschedule_appointment_emergency</targetReference>
            </connector>
            <label>Template API- reschedule_appointment_emergency</label>
        </rules>
    </decisions>
    <description>AM: 24032026- 2798615105- Send Message By Population (war time quick dev to send messages that there appointments were canceled
        to offer new appointments ..or so...)
AM: 05042026- 2798615105- ADD APPOINTMENT FILE LINK
AM: 09042026-2822265595- FILTER SITES IN GET ELEMENT.
AM: 16042026- 2830490664- send patient an option to make the appointment earlier
AM: 25052026- 2938024402- remove patiant city from being mandatory
AM 25052026- 2938030144- approve sending before the actuall sending</description>
    <dynamicChoiceSets>
        <name>cctCalendares</name>
        <collectionReference>Get_Calendars</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Calendar__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cctDomain</name>
        <collectionReference>Get_Domains</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Domain__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cctMedicalProcedure</name>
        <collectionReference>Get_Medical_Procedure</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Medical_Procedure__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cctPayerFactor</name>
        <collectionReference>Get_Payer_Factors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Payer_Factor__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cctSites</name>
        <collectionReference>Get_Sites</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>crCities</name>
        <collectionReference>Get_Cities</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>City__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fAppointmentsFileLink</name>
        <dataType>String</dataType>
        <expression> LEFT({!$Api.Partner_Server_URL_660}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_660}) - 1) &amp; &quot;/&quot; &amp;{!Send_message_by_population_Check_Only.fileDownloadUrl}</expression>
    </formulas>
    <interviewLabel>Screen- Send Message By Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen- Send Message By Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Calendars</name>
        <label>Get Calendars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medical_Procedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>פעיל</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cities</name>
        <label>Get Cities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseFilterScreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>City__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Domains</name>
        <label>Get Domains</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Domain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Procedure</name>
        <label>Get Medical Procedure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payer_Factors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medical_Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payer_Factors</name>
        <label>Get Payer Factors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>פעיל</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payer_Factor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sites</name>
        <label>Get Sites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Calendars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>33</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>73</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approve_Screen</name>
        <label>Approve Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Messages_Approved</targetReference>
        </connector>
        <fields>
            <name>SendApprovalSection</name>
            <fieldText>בחינה ואישור שליחה</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SendApprovalSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_SuccessDisplay</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(2, 144, 24);&quot;&gt;ישלחו&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(2, 144, 24);&quot;&gt;{!Send_message_by_population_Check_Only.recordsCount} &lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(2, 144, 24);&quot;&gt;הודעות&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SendApprovalSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_MessagesLink</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 150, 57); font-size: 16px;&quot;&gt;הורדת קובץ פגישות-&lt;/strong&gt;&lt;strong style=&quot;color: rgb(4, 150, 57); font-size: 18px;&quot;&gt;&lt;u&gt; &lt;/u&gt;&lt;/strong&gt;&lt;a href=&quot;{!fAppointmentsFileLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(4, 150, 57); font-size: 18px;&quot;&gt;&lt;strong&gt;&lt;u&gt;כאן&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SendApprovalSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Send</name>
                    <dataType>Boolean</dataType>
                    <fieldText>⬅️ לשליחת ההודעות יש לאשר</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Send_message_by_population_Check_Only.recordsCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>המשך לשליחה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseFilterScreen</name>
        <label>Choose Filter Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Template_To_Use</targetReference>
        </connector>
        <fields>
            <name>ToggleChooseSection</name>
            <fieldText>בחירת אפשרויות</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ToggleChooseSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectionToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>בחירה</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>שליחת מסרים עבור תורים מבוטלים</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>שליחת מסרים עבור תורים רחוקים</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>middle</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>General</name>
            <fieldText>כללי</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DomainSelect</name>
                    <choiceReferences>cctDomain</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>בחירת תחומים</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SiteSelect</name>
                    <choiceReferences>cctSites</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>בחירת אתרים</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CalendarSelect</name>
                    <choiceReferences>cctCalendares</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>בחירת יומנים</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MedicalProcedureSelect</name>
                    <choiceReferences>cctMedicalProcedure</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>בחירת פרוצדורות רפואיות</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PayerFactorSelect</name>
                    <choiceReferences>cctPayerFactor</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>בחירת גורמים  משלמים</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Patient</name>
            <fieldText>מטופל</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Date_From</name>
                    <dataType>Date</dataType>
                    <fieldText>פגישות מתאריך (כולל)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 2, 2);&quot;&gt;התאריך חייב להיות קטן מתאריך פגישות עד תאריך וקודם להיום. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 2, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;אם בחרת &quot;שליחת מסרים עבור תורים רחוקים&quot;  - התאריך חייב להיות עתידי&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  AND(
    {!SelectionToggle.value} = FALSE,
    {!Appointment_Date_From} &gt;= TODAY()
  ),
  AND(
    {!Appointment_Date_From} &lt;= TODAY(),
    {!Appointment_Date_From} &lt;= {!Appointment_Date_Until}
  )
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Date_Until</name>
                    <dataType>Date</dataType>
                    <fieldText>פגישות עד תאריך (כולל)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 6, 6);&quot;&gt;התאריך חייב להיות קטן מהיום ולהיות גדול או שווה לתאריך בשדה פגישות מתאריך&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Appointment_Date_Until}&lt;=TODAY(), 
    {!Appointment_Date_Until}&gt;=    
     {!Appointment_Date_From})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PatientCityChoice</name>
                    <choiceReferences>crCities</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>עיר מגורי המטופל</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Min_Account_Age_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>טווח גיל המטופל- מינימום (כולל)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 2, 2);&quot;&gt;הגיל חייב להיות קטן מגיל המקסימום וגדול מ 0&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Min_Account_Age_Number}&gt;0,{!Min_Account_Age_Number}&lt;={!Max_Account_Age_Number})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Max_Account_Age_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>טווח גיל המטופל- מקסימום (כולל)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 5, 5);&quot;&gt;גיל המקסימום חייב להיות גדול מגיל המינימום&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!Max_Account_Age_Number}&gt;0,{!Max_Account_Age_Number}&gt;={!Min_Account_Age_Number})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectTemplate</name>
            <fieldText>התבנית שתישלח</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectTemplate_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cancelled_appointment_emergency_Display</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;תבנית&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;cancelled_appointment_emergency&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;תישלח &lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;להל&quot;ן תוכן התבנית:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;שם פרטי שלום רב,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;בריאותך חשובה לנו&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;שמנו לב כי התור שנקבע עבורך לא התקיים במועדו.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;לנוחיותך וביטחונך, השירות ניתן בסמוך למרחב מוגן ובהתאם להנחיות משרד הבריאות ופיקוד העורף.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;לתיאום מועד קרוב ונוח&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;ניתן להיכנס לאתר אסותא:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(243, 243, 243);&quot;&gt;www.assuta.co.il&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OnlyRescheduleTemplateDisplay</name>
                    <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;תבנית&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;reschedule_appointment_emergency&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;תישלח &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;להל&quot;ן תוכן התבנית:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(243, 243, 243); color: rgb(68, 68, 68);&quot;&gt;שם פרטי שלום רב,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;בריאותך חשובה לנו.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;רצינו לעדכן כי קיימת אפשרות להקדים את מועד התור שנקבע עבורך.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;לנוחיותך וביטחונך , השירות ניתן בסמוך למרחב מוגן ובהתאם להנחיות משרד הבריאות ופיקוד העורף.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;לתיאום מועד קרוב ונוח יותר , ניתן להיכנס לאתר אסותא&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;www.assuta.co.il&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectionToggle.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>הבא</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fail_Screen_After_Approval</name>
        <label>Fail Screen (After Approval)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FailDisplay</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 0, 0); font-size: 18px;&quot;&gt;השליחה נכשלה&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(205, 0, 0);&quot;&gt;פרטים&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;{!Send_message_by_population_Approved.errorMessage}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_Screen_Check</name>
        <label>Fail Screen (Check)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailDisplay</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 0, 0); font-size: 18px;&quot;&gt;הבדיקה לפני השליחה נכשלה&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(205, 0, 0);&quot;&gt;פרטים&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;{!Send_message_by_population_Check_Only.errorMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Approved_Screen</name>
        <label>Not Approved Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotSentDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(13, 89, 241);&quot;&gt;ההודעות לא נשלחו&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(13, 89, 241);&quot;&gt;לשליחה יש לחזור על התהליך ולאשר את שליחת ההודעות בתיבת הסימון&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>יציאה מהתהליך</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;color: rgb(2, 144, 24); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;נשלחו &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-direction-rtl&quot;&gt;&lt;strong style=&quot;color: rgb(2, 144, 24); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;{!Send_message_by_population_Check_Only.recordsCount} &lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(2, 144, 24); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;הודעות&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MessagesLink</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 150, 57); font-size: 16px;&quot;&gt;הורדת קובץ פגישות-&lt;/strong&gt;&lt;strong style=&quot;color: rgb(4, 150, 57); font-size: 18px;&quot;&gt;&lt;u&gt; &lt;/u&gt;&lt;/strong&gt;&lt;a href=&quot;{!fAppointmentsFileLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(4, 150, 57); font-size: 18px;&quot;&gt;&lt;strong&gt;&lt;u&gt;כאן&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Domains</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bvIsCanceled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tvTemplateAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
