force-app/main/default/flows/Send_SMS_When_Case_Is_Opened.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>the record that triggered the flow</description>
        <name>Assign_RecordId</name>
        <label>Assign RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Assuta_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_SMS_Sent_Checkbox</name>
        <label>Assign Update SMS Sent Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvCase.SMS_Sent_to_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Coun</name>
        <label>Count Assuta Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NumberofAssutaFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAssutaFiles1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Department_Transfers_SMS_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update parent case number with the value of the number of the parent case</description>
        <name>Update_Parent_Case_Number1</name>
        <label>Update Parent Case Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvCase.ParentCaseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update parent case number with the value of the number of the parent case</description>
        <name>Update_Parent_Case_Number2</name>
        <label>Update Parent Case Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvCase.ParentCaseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>General_Information_Department_Transfer</name>
        <label>פניות מסוג העברות מחלקה/מידע כללי</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PublicInquiries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Public_Inquiry__r.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PublicInquiries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsParentID_Empty</targetReference>
            </connector>
            <label>פניות הציבור</label>
        </rules>
    </decisions>
    <decisions>
        <description>this cant be added in the entery (limits...)</description>
        <name>Is_Ashdod_Site</name>
        <label>Is Ashdod Site?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Ashdod_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RecordId</targetReference>
            </connector>
            <label>No- Not Ashdod Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentID_Empty</name>
        <label>IsParentID Empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentID_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentCaseNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CaseNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_Number2</targetReference>
            </connector>
            <label>ParentID Empty</label>
        </rules>
        <rules>
            <name>ParentID_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentCaseNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.CaseNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_Number1</targetReference>
            </connector>
            <label>ParentID is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_SMS</name>
        <label>Send SMS?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- No SMS Needs To Be Sent</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvSMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS</targetReference>
            </connector>
            <label>Yes- Send SMS</label>
        </rules>
    </decisions>
    <description>AM: 05022024- Task 20831- REFACTOR
AM: 29122025- 2117250619- REMOVING ASHDOD TO OTHER FLOW- (Send SMS When Case Is Opened Ashdod)</description>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Send SMS When Case Is Opened {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS When Case Is Opened</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Update_SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputReference>rvSMS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Department_Transfers_SMS_Template</name>
        <label>Get Department Transfers SMS Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>General_Information_Department_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>transfer_to_secretaries</stringValue>
            </value>
        </filters>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SmsTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Assuta_Files</name>
        <label>Get Existing Assuta Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>File__c</object>
        <outputReference>getAssutaFiles1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Case</name>
        <label>Update Triggering Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rvCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Ashdod_Site</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}= &apos;transfer_to_secretaries&apos;	
|| {!$Record.RecordType.DeveloperName}= &apos;General_Info&apos;
|| {!$Record.RecordType.DeveloperName}= &apos;PublicInquiries&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetAssutaFiles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>getAssutaFiles1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
    <variables>
        <name>NumberofAssutaFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rvCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rvSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
