force-app/main/default/flows/send_message_to_customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Medical_Procedure</name>
        <label>Medical_Procedure</label>
        <locationX>164</locationX>
        <locationY>874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_proceed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Medical_Procedure__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_0</targetReference>
            </connector>
            <label>need to proceed1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_0</name>
        <label>Medical_Procedure</label>
        <locationX>168</locationX>
        <locationY>1006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_proceed1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure2__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_0_0</targetReference>
            </connector>
            <label>need to proceed1</label>
        </rules>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_0_0</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_0_0</name>
        <label>Medical_Procedure</label>
        <locationX>173</locationX>
        <locationY>1148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_proceed1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure3__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Medical_Procedure3__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_0_0_0</targetReference>
            </connector>
            <label>need to proceed1</label>
        </rules>
        <rules>
            <name>null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure3__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_0_0_0</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_0_0_0</name>
        <label>Medical_Procedure</label>
        <locationX>172</locationX>
        <locationY>1303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_proceed1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure4__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Medical_Procedure4__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sms_0_0</targetReference>
            </connector>
            <label>need to proceed1</label>
        </rules>
        <rules>
            <name>null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Medical_Procedure4__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sms_0_0</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>שליחת מסר חדש למטופל על פתיחת פניה מאתר רופאים</label>
        <locationX>158</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Referral_from_doctor_website__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PreSurgery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiteReferenceDigitalLobby</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure</targetReference>
            </connector>
            <label>need to proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName1</name>
        <label>נדרש טרום ניתוח</label>
        <locationX>179</locationX>
        <locationY>1442</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Presurgery_needed1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sms</targetReference>
            </connector>
            <label>true</label>
        </rules>
        <rules>
            <name>false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Presurgery_needed1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sms_0</targetReference>
            </connector>
            <label>false</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>send message to customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send message to customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>45</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>create_sms</name>
        <label>create sms</label>
        <locationX>189</locationX>
        <locationY>1601</locationY>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sms_Developer_Name</name>
            <value>
                <stringValue>Message_to_patient_second_version</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>create_sms_0</name>
        <label>create sms</label>
        <locationX>360</locationX>
        <locationY>1600</locationY>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sms_Developer_Name</name>
            <value>
                <stringValue>Message_to_patient</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>create_sms_0_0</name>
        <label>create sms</label>
        <locationX>362</locationX>
        <locationY>1299</locationY>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sms_Developer_Name</name>
            <value>
                <stringValue>Message_to_patient_new</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>RecordsAfterLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>SiteReferenceDigitalLobby</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
