force-app/main/default/flows/Sending_Reminders_PublicInquiriesItem_Centers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Four_Days</name>
        <label>Assign Four Days</label>
        <locationX>693</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>Days_to_wait</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counts_Business_Days_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Four_Days_1_1</name>
        <label>Assign Four Days</label>
        <locationX>685</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>Days_to_wait</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counts_Business_Days_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_six_Days</name>
        <label>Assign six Days</label>
        <locationX>642</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Days_to_wait</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counts_Business_Days_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_0</name>
        <label>Check Status</label>
        <locationX>438</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Check_Status_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_case_status_0</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaits_Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Caneclled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.First_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case_Site.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counts_Business_Days_0</targetReference>
            </connector>
            <label>לא אשדוד ולא תזכורת ראשונה</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_1</name>
        <label>Check Status</label>
        <locationX>439</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Status_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_case_status</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaits_Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Caneclled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case_Site.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Four_Days</targetReference>
            </connector>
            <label>לא אשדוד תזכורת ראשונה</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_1_1</name>
        <label>Check Status</label>
        <locationX>438</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Check_Status_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_status_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Caneclled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case_Site.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Subject_Public_Inquiry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medical_MedicalWing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Subject_Public_Inquiry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medical_RiskAssessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Four_Days_1_1</targetReference>
            </connector>
            <label>אשדוד לא רפואי</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_2</name>
        <label>Check Status</label>
        <locationX>442</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_case_status_2</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Caneclled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Case_Site.Site_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Subject_Public_Inquiry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical_MedicalWing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case.Subject_Public_Inquiry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical_RiskAssessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_six_Days</targetReference>
            </connector>
            <label>אשדוד רפואי</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_the_email_was_sent_to_0</name>
        <label>Check who the email was sent to</label>
        <locationX>833</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Employee_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesResponsible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_0</targetReference>
            </connector>
            <label>Responsible Employee</label>
        </rules>
        <rules>
            <name>Treating_Employee_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesTreating</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_0_0</targetReference>
            </connector>
            <label>Treating Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_the_email_was_sent_to_1</name>
        <label>Check who the email was sent to</label>
        <locationX>962</locationX>
        <locationY>780</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesResponsible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_1</targetReference>
            </connector>
            <label>Responsible Employee</label>
        </rules>
        <rules>
            <name>Treating_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesTreating</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_1_0</targetReference>
            </connector>
            <label>Treating Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_the_email_was_sent_to_1_1</name>
        <label>Check who the email was sent to</label>
        <locationX>961</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Employee_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesResponsibleAshdod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_1_1</targetReference>
            </connector>
            <label>Responsible Employee</label>
        </rules>
        <rules>
            <name>Treating_Employee_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesTreatingAshdod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_1_1_0</targetReference>
            </connector>
            <label>Treating Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_the_email_was_sent_to_2</name>
        <label>Check who the email was sent to</label>
        <locationX>947</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Employee_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesResponsibleAshdod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_2</targetReference>
            </connector>
            <label>Responsible Employee</label>
        </rules>
        <rules>
            <name>Treating_Employee_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailTemplateDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssutaPublicInquiriesTreatingAshdod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message_Record_1_0_0</targetReference>
            </connector>
            <label>Treating Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_case_owner_SSIS_0</name>
        <label>Is the case owner SSIS</label>
        <locationX>180</locationX>
        <locationY>1039</locationY>
        <defaultConnectorLabel>it is SSIS</defaultConnectorLabel>
        <rules>
            <name>it_isn_t_SSIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case_Owner.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SSIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_0</targetReference>
            </connector>
            <label>it isn&apos;t SSIS</label>
        </rules>
    </decisions>
    <description>מייצר רשומות של מיילים לתזכורות</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW_Formula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Sending reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Reminders PublicInquiriesItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Email_Message_Record_0</name>
        <label>Email Message Record</label>
        <locationX>1096</locationX>
        <locationY>1102</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesResponsible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_0.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_0_0</name>
        <label>Email Message Record</label>
        <locationX>1096</locationX>
        <locationY>976</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesTreating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_0.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_1</name>
        <label>Email Message Record</label>
        <locationX>1210</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesResponsible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_1.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_1_0</name>
        <label>Email Message Record</label>
        <locationX>1199</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesTreating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_1.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_1_0_0</name>
        <label>Email Message Record</label>
        <locationX>1189</locationX>
        <locationY>132</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesTreatingAshdod</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_2.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_1_1</name>
        <label>Email Message Record</label>
        <locationX>1184</locationX>
        <locationY>424</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesResponsibleAshdod</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_1_1.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_1_1_0</name>
        <label>Email Message Record</label>
        <locationX>1186</locationX>
        <locationY>558</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesTreatingAshdod</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_1_1.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_Message_Record_2</name>
        <label>Email Message Record</label>
        <locationX>1191</locationX>
        <locationY>281</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Parent_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailTemplateDeveloperName__c</field>
            <value>
                <stringValue>AssutaPublicInquiriesResponsibleAshdod</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Counts_Business_Days_2.Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Parent_Case__c</field>
            <value>
                <elementReference>Get_Grand_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Grand_Parent_Case</name>
        <label>Get Grand Parent Case</label>
        <locationX>190</locationX>
        <locationY>737</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grand_Parent_Case_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grand_Parent_Case_Site</name>
        <label>Get Grand Parent Case Site</label>
        <locationX>189</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_case_owner_SSIS_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grand_Parent_Case.Site_Public_Inquiry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>191</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Owner</name>
        <label>Get Parent Case Owner</label>
        <locationX>192</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grand_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1386</locationX>
        <locationY>783</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Automation_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PublicInquiriesSendAlerts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Automation_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sending Reminders PublicInquiriesItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActualSendingDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Counts_Business_Days_0</name>
        <label>סופר ימי עסקים</label>
        <locationX>697</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Check_who_the_email_was_sent_to_0</targetReference>
        </connector>
        <flowName>Counts_Business_Days</flowName>
        <inputAssignments>
            <name>Number_of_Days</name>
            <value>
                <elementReference>Days_to_wait</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Counts_Business_Days_1</name>
        <label>סופר ימי עסקים</label>
        <locationX>814</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Check_who_the_email_was_sent_to_1</targetReference>
        </connector>
        <flowName>Counts_Business_Days</flowName>
        <inputAssignments>
            <name>Number_of_Days</name>
            <value>
                <elementReference>Days_to_wait</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Counts_Business_Days_1_1</name>
        <label>סופר ימי עסקים</label>
        <locationX>817</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Check_who_the_email_was_sent_to_1_1</targetReference>
        </connector>
        <flowName>Counts_Business_Days</flowName>
        <inputAssignments>
            <name>Number_of_Days</name>
            <value>
                <elementReference>Days_to_wait</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Counts_Business_Days_2</name>
        <label>סופר ימי עסקים</label>
        <locationX>783</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Check_who_the_email_was_sent_to_2</targetReference>
        </connector>
        <flowName>Counts_Business_Days</flowName>
        <inputAssignments>
            <name>Number_of_Days</name>
            <value>
                <elementReference>Days_to_wait</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>FromAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>noreply@assuta.co.il</text>
    </textTemplates>
    <textTemplates>
        <name>FromName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No-Reply-Assuta</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>תזכורת: פנה&quot;צ {!Get_Grand_Parent_Case.Patient_Name__c} מספר זיהוי {!Get_Grand_Parent_Case.id_patient__c} מס&apos; פניה {!Get_Parent_Case.CaseNumber}</text>
    </textTemplates>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>Days_to_wait</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
</Flow>
