force-app/main/default/flows/Send_Kit_Inst_Experts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>textNew</name>
        <dataType>String</dataType>
        <value>
            <stringValue>new</stringValue>
        </value>
    </constants>
    <decisions>
        <name>email_or_sms</name>
        <label>email or sms</label>
        <locationX>481</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>CHECKBOX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>email</defaultConnectorLabel>
        <rules>
            <name>sms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_appointment.Case__r.preferd_chanal_case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_sms_new</targetReference>
            </connector>
            <label>sms</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>האם עומד בתנאים</label>
        <locationX>316</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>email_or_sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cant_send_email</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>current_appointment.Patient_Account__r.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sucess_0</targetReference>
            </connector>
            <label>cant send email</label>
        </rules>
        <rules>
            <name>cant_send_sms</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 )AND 5</conditionLogic>
            <conditions>
                <leftValueReference>current_appointment.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Case__r.SMS_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Patient_Account__r.Mailing_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא מאשר דיוור - הכל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Accession_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_appointment.Patient_Account__r.Preferred_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sucess_0</targetReference>
            </connector>
            <label>cant send sms</label>
        </rules>
    </decisions>
    <formulas>
        <name>Error_Notes</name>
        <dataType>String</dataType>
        <expression>if( {!current_appointment.Medical_Procedure__r.Confidentiality__c} =true,&apos;לא נשלח קיט - פעולה חסויה&apos;, if(ISBLANK({!current_appointment.Case__r.SMS_Phone_Number__c})=true,&apos;חסר טלפון בפניה&apos;,if( ISPICKVAL( {!current_appointment.Patient_Account__r.Mailing_approval__c}, &apos;לא מאשר דיוור - הכל&apos;)=true ,&apos;מטופל לא מאשר דיוור&apos;,if( ISBLANK( {!current_appointment.Accession_Number__c} )=true,&apos;חסר מזהה מערכת&apos;,&apos;תקין&apos; ))))</expression>
    </formulas>
    <formulas>
        <name>sms_content</name>
        <dataType>String</dataType>
        <expression>
IF( NOT ({!current_appointment.Site__r.Site_Code__c}  =  &apos;33&apos;) , 
{!current_appointment.Patient_Account__r.FirstName}&amp; &quot; שלום,&quot; &amp; &quot;&quot;&amp; &quot; נקבע עבורך תור לתאריך: &quot; &amp; 
TEXT(DAY({!current_appointment.Date_of_appointment__c})) &amp; &quot;/&quot; &amp; 
TEXT(MONTH({!current_appointment.Date_of_appointment__c})) &amp; &quot;/&quot; &amp; 
TEXT(YEAR({!current_appointment.Date_of_appointment__c})) &amp; 
&quot; בשעה &quot; &amp; {!current_appointment.AppointmentTime__c}  &amp; 
&quot; ב &quot; &amp; {!current_appointment.Site__r.Name} &amp; 
&quot; (כתובת: &quot; &amp;{!current_appointment.accurate_site__r.Address__c} &amp; &quot;)&quot; &amp; &quot;&quot; &amp; {!current_appointment.Exact_Location_In_Domain__c} &amp; &quot;&quot;&amp; 
&quot; לקבלת פרטים נוספים אודות התור שנקבע, אישור מועד הגעה וקבלת הוראות והנחיות בקישור המצורף: &quot; &amp;{!current_appointment.kit_for_inst__c} &amp; &quot;. &quot;  &amp; &quot;תודה בית חולים אסותא&quot;
 , 
{!current_appointment.Patient_Account__r.FirstName} &amp; &quot; שלום,&quot; &amp; &quot;&quot;&amp; &quot; נקבע עבורך תור לתאריך: &quot; &amp; 
TEXT(DAY({!current_appointment.Date_of_appointment__c})) &amp; &quot;/&quot; &amp; 
TEXT(MONTH({!current_appointment.Date_of_appointment__c})) &amp; &quot;/&quot; &amp; 
TEXT(YEAR({!current_appointment.Date_of_appointment__c})) &amp; 
&quot; בשעה &quot; &amp; {!current_appointment.AppointmentTime__c}  &amp; 
&quot; ב &quot; &amp;{!current_appointment.Site__r.Name} &amp; 
&quot; (כתובת: &quot; &amp;{!current_appointment.accurate_site__r.Address__c}&amp; &quot;)&quot; &amp; &quot;&quot; &amp; {!current_appointment.Exact_Location_In_Domain__c}&amp; &quot;&quot;&amp; 
&quot; לקבלת פרטים נוספים אודות התור שנקבע, אישור מועד הגעה וקבלת הוראות והנחיות בקישור המצורף: &quot; &amp;{!current_appointment.kit_for_inst__c} &amp;  &quot; . &quot; &amp; &quot;חדש! כל השירותים בלחיצת כפתור: https://welcometest.assutaashdod.co.il/  &quot;&amp; &quot;&quot;  &amp; &quot;תודה בית חולים אסותא&quot; 
)</expression>
    </formulas>
    <formulas>
        <name>SMScontect</name>
        <dataType>String</dataType>
        <expression>&quot;שלום, לבקשתך נשלח אלייך קיט לפגישה ניתוחית&quot; &amp;&quot; &quot;&amp; {!KitLInk}</expression>
    </formulas>
    <interviewLabel>Send Kit - Inst / Experts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Kit - Inst / Experts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>current_appointment</name>
        <label>current appointment</label>
        <locationX>171</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CHECKBOX</name>
        <label>CHECKBOX</label>
        <locationX>795</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Sucess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>resend_kit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sent_kit_confirmation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <screens>
        <name>Sucess</name>
        <label>הקיט נשלח בהצלחה</label>
        <locationX>1370</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>zz</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 18px;&quot;&gt;המסמך נשלח בהצלחה למטופל&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfhhh</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NewCaseCelebration</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucess_0</name>
        <label>הקיט נשלח בהצלחה</label>
        <locationX>314</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>zz_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;המסמך לא נשלח  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Error_Notes}&lt;/span&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfhhh_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SF_einstein</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>current_appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>send_sms_new</name>
        <label>send sms &apos;new&apos;</label>
        <locationX>832</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Sucess</targetReference>
        </connector>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>newOrUpdated</name>
            <value>
                <elementReference>textNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>current_appointment</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>acc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Appointment_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>APT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_acc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KitLInk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Preferred_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sms_no</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
