force-app/main/default/flows/Send_Appointment_Schedule_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SMS</name>
        <label>Assign SMS</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send_Appointment_Schedule_SMS_Ashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_Send_Appointment_Schedule_SMS_Ashdod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WA</name>
        <label>Assign WA</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>plSendingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tvMessageTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send_Appointment_Schedule_SMS_Ashdod</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outbound_Whatsapp_Ashdod_Centers_Send_Appointment_Schedule_SMS_Ashdod</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AshdodEmployee</name>
        <label>האם המשתמש הוא עובד אשדוד?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ashdod_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Ashdod_employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Or_SMS</targetReference>
            </connector>
            <label>Ashdod Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_WhatsApp_Or_SMS</name>
        <label>Send WhatsApp Or SMS?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send SMS</defaultConnectorLabel>
        <rules>
            <name>Send_WA</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Account.Number_not_Kosher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Account.AshdodPreferredChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WA</targetReference>
            </connector>
            <label>Send WA</label>
        </rules>
    </decisions>
    <description>כפתור ששולח סמס למטופל בפניות מסוג זימון תורים למכונים ומראפות המאפשר למטופל לקבוע תור עצמאי
AM: 03092025- 2117250652- replace sms sending to whatsapp sending.</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Send Appointment Schedule SMS&apos;+&apos; | &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Send Appointment Schedule SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Appointment Schedule SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Send Appointment Schedule SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Phone__c</field>
            <value>
                <stringValue>ASSUTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Get_Case.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Send_Appointment_Schedule_SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AshdodEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SMS_Phone_Number__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Appointment_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Finish</name>
        <label>Finish!</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 20px; color: rgb(30, 5, 215);&quot;&gt;המסרון נשלח בהצלחה&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SuccessImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NewCaseCelebration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Success</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(30, 5, 215); font-size: 20px; font-family: sans-serif;&quot;&gt;שליחת מסרון לתיאום תור באופן עצמאי&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>שליחה</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Outbound_Whatsapp_Ashdod_Centers_Send_Appointment_Schedule_SMS_Ashdod</name>
        <label>Outbound Whatsapp Ashdod Centers- Send_Appointment_Schedule_SMS_Ashdod</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <flowName>Outbound_Whatsapp_Ashdod_Centers</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>Get_Case.Appointment_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationNameFlow</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <elementReference>tvMessageTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>Get_Case.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendingType</name>
            <value>
                <elementReference>plSendingType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>SMSContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;:שלום רב, בהמשך לשיחתך עם המוקד הטלפוני להלן קישור לאתר אסתא&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;www.assuta.co.il&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;.בו תוכל לזמן תור חדש, לבטל תור קיים ולצפות בתוצאות וצילומי בדיקות שביצעת&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;בברכה ובריאות איתנה, אסותא מרכזים רפואיים&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>plSendingType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tvMessageTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
