force-app/main/default/flows/Surgery_logic_for_Messaging_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_Collection</name>
        <label>add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Update_Apps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>over_Apps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>over_Apps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>over_Apps.Surgery_Connected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_of_appointment_Add_45_Days</name>
        <label>Date of appointment Add 45 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccRec.EndPotentialDateOne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDateAppointmentAdd45Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Assuta_One_App_took_place</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreSurgery_Nurse_Recommendation_SMS_Select</name>
        <label>PreSurgery Nurse Recommendation SMS Select</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PreSurgeryNurseRecommendationSMS_process</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Survey_Taken</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TBD</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <name>Case_open_from_doctor_site</name>
        <label>Case open from doctor site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreSurgery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.SiteReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_check_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Assuta_One_App_took_place</name>
        <label>Check If Assuta One App took place</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TookPlace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assuta_1_took_place</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Domain_Experts_412</name>
        <label>Check If Domain Experts 412</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Appointment_of_Pre_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domain_412</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Domain__r.DomainCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>412.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wa_after_experts_appointment</targetReference>
            </connector>
            <label>Domain 412</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Release_Status</name>
        <label>Check Release Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Release_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Hospitalization_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Release_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Surgery_Release_SMS</targetReference>
            </connector>
            <label>Appointment Release Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Conditions_For_Sending_WA</name>
        <label>Checking Conditions For Sending WA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Process</targetReference>
            </connector>
            <label>Send WA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checking_Conditions_For_Sending_WA</name>
        <label>Checking Conditions For Sending WA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Send_WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_after_Surgery_18024</targetReference>
            </connector>
            <label>Send WA</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_any_appointments</name>
        <label>found any appointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>over_Apps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Digital_Lobby</name>
        <label>Is Digital Lobby</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Message_18016</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure1__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure3__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure4__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_of_Pre_Surgery.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <description>פעולות ניתוחיות תחת תחום &quot;צינטורים&quot; (110) או &quot;אלקטרופיזיולוגיה&quot; (311)</description>
        <name>Is_Domain_Name_Or</name>
        <label>Is Domain Name צינטורים Or אלקטרופיזיולוגיה?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>message_to_patient_new_v1a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Domain_Name_Or</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.domain2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>צינטורים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.domain2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אלקטרופיזיולוגיה</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_WA_for_Surgery</targetReference>
            </connector>
            <label>Yes- Domain Name צינטורים Or אלקטרופיזיולוגיה</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PreSurgery</name>
        <label>Is PreSurgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Domain__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>טרום ניתוח</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Site_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Digital_Lobby</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_check</name>
        <label>Medical Procedure check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure1__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_18024</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_Procedure_check_0</name>
        <label>Medical Procedure check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>valid_0</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and not( 6 or 7 or 8 or 9 or 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure1__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__r.Domain__r.ReferenceDigitalLobby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure1__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_18005</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_after_Surgery_18024</name>
        <label>Message after Surgery 18024</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Message_after_Surgery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Release_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Hospitalization_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_2h_after_surgery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Procedure_check</targetReference>
            </connector>
            <label>Message after Surgery</label>
        </rules>
    </decisions>
    <decisions>
        <description>only if {!$Record.SendingMessage__c} is true a message will be sent</description>
        <name>Send_Message</name>
        <label>Send Message?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Results</targetReference>
            </connector>
            <label>Yes- Send Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Message_18005</name>
        <label>Send Message- 18005?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Message_18005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18005</targetReference>
            </connector>
            <label>Yes- Send Message- 18005</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Message_18016</name>
        <label>Send Message- 18016?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Message_18016</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18016</targetReference>
            </connector>
            <label>Yes- Send Message- 18016</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Message_18024</name>
        <label>Send Message- 18024?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Message_18024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendingMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18024</targetReference>
            </connector>
            <label>Yes- Send Message- 18024</label>
        </rules>
    </decisions>
    <decisions>
        <description>when SurveyResults__c field is populated direct to the appropriate SMS template</description>
        <name>Survey_Results</name>
        <label>Survey Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nurse_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נדרש לזמן טרום במרפאה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreSurgeryNurseRecommendationSMS_process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18012</targetReference>
            </connector>
            <label>Nurse Assessment Required</label>
        </rules>
        <rules>
            <name>Nurse_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא נדרש טרום לפני הניתוח</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreSurgeryNurseRecommendationSMS_process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18011</targetReference>
            </connector>
            <label>Nurse Not Required</label>
        </rules>
        <rules>
            <name>Nurse_Remote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הערכה מרחוק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_2699774512</targetReference>
            </connector>
            <label>Nurse Remote</label>
        </rules>
        <rules>
            <name>Required_PreSurgery_Assesment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SurveyResults__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נדרשת הערכה במרפאת טרום ניתוח</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18008</targetReference>
            </connector>
            <label>Required PreSurgery Assesment</label>
        </rules>
        <rules>
            <name>Not_Required_PreSurgery_Assesment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SurveyResults__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא נדרש טרום ניתוח</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18009</targetReference>
            </connector>
            <label>Not Required PreSurgery Assesment</label>
        </rules>
        <rules>
            <name>SurveyResultNurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SurveyResults__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לבדיקת אחות טרום ניתוח – החלטה והמלצות</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Message_Type_18010</targetReference>
            </connector>
            <label>SurveyResultNurse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18005</name>
        <label>Which Message Type 18005</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Message_to_patient_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Domain_Name_Or</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18008</name>
        <label>Which Message Type 18008</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssesmentRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18008</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assesment_required</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18009</name>
        <label>Which Message Type 18009</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assesment_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18009</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assesment_not_required1</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18010</name>
        <label>Which Message Type 18010</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nurse_Assesmet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18010</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>coordinatingnurse</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18011</name>
        <label>Which Message Type 18011</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nurse_No_Assesment_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18011</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nurse_no_assesment_2026</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18012</name>
        <label>Which Message Type 18012</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nurse_Recommendation_for_Assesmet0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18012</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nurse_recommendation_for_assesmet</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18016</name>
        <label>Which Message Type 18016</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SMS_pre_surgery_took_place</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18016</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pre_surgery_took_place1</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_18024</name>
        <label>Which Message Type 18024</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SMS_Message_after_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>WhatsApp_18024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>message_two_h_after_surgery</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Message_Type_2699774512</name>
        <label>Which Message Type 2699774512</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>nurse_remote_00</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_WhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sendingByWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nurse_remote_0</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Process</name>
        <label>Which Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>PreSurgery_SurveyResaults_SMS</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SurveyResults__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SurveyResults__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreSurgSurveyResultsSMS_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Survey_Taken</targetReference>
            </connector>
            <label>PreSurgery SurveyResaults SMS</label>
        </rules>
        <rules>
            <name>PreSurgery_Nurse_Recommendation_SMS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>נדרש לזמן טרום במרפאה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לא נדרש טרום לפני הניתוח</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NurseStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הערכה מרחוק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreSurgery_Nurse_Recommendation_SMS_Select</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PreSurgery Nurse Recommendation SMS</label>
        </rules>
        <rules>
            <name>Pre_Surgery_Took_Place</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Domain_Experts_412</targetReference>
            </connector>
            <label>Pre Surgery Took Place</label>
        </rules>
        <rules>
            <name>A_referral_from_a_doctors_website_is_linked_to_an_existing_surgery_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Referral_from_doctor_website__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_from_doctor_website__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>A referral from a doctors website is linked to an existing surgery type</label>
        </rules>
        <rules>
            <name>Update_Surgery_Connected_in_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124J000000hAuJQAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Appointments</targetReference>
            </connector>
            <label>Update Surgery Connected in Appointment</label>
        </rules>
        <rules>
            <name>new_appointment_excellent_expert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendar__r.Excellent_Clinics__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptNum__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptNum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_appointment_excellent_experts</targetReference>
            </connector>
            <label>new_appointment_excellent_expert</label>
        </rules>
        <rules>
            <name>new_regular_appointment_experts_OC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptNum__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptNum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_regular_appointment_experts</targetReference>
            </connector>
            <label>new_regular_appointment_experts</label>
        </rules>
        <rules>
            <name>assuta_one_took_place_0</name>
            <conditionLogic>(1 OR 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99181</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99184</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Procedure_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99186</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_of_appointment_Add_45_Days</targetReference>
            </connector>
            <label>assuta_one_took_place</label>
        </rules>
        <rules>
            <name>New_Assata_Experts_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendar__r.IsHomeExpert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>new_regular_appointment_experts</targetReference>
            </connector>
            <label>New Assata Experts Process</label>
        </rules>
    </decisions>
    <description>Deleted Outcome - &quot;Yad beYad Status change&quot;
AM: 18032025- 1863823235 -  Update conditions for sms sending
Eden 6.7: 2022425183 - Add checking conditions for sending wa + add new messaging component: &quot;new_appointment_excellent_expert&quot;
Eden 15.7: 2025766751 - Change conditions for component: &quot;wa_after_experts_appointment&quot;
Eden 21.7: 2051072263 - add new messaging component &quot;assuta_one_took_place&quot;
Eden 1.9 - 2115891612 - הוספת תנאי מומחים לשליחת סקר מומחים
Eden 15.9 - 2051072263 - Change component name to : &quot;assuta_1_took_place&quot; and populate parameters
Eden 17.9 - 2151499365 - Change &quot;CreatedDateAppointmentAdd45Days&quot; formula to calculate from the date the appointment was created instead of the date the appointment took place.
ortal 11.10.25 - remove domain code 412 for new_regular_appointment_experts Decision
AM: 26112025- 2535880920- remove site code on decisions for assuta one (now not limited to site code= 12)
AM: 05022026- 2644049158-ואלקטרופיזיולוגיה הודעות עבור צינטורים WA- adding new WA template-  
         message_to_patient_domain_110_311
ED: 26/02/2026 - 2744476495 - Replace pre_surgery_took_place to pre_surgery_took_place_2026
FB: 01/03/2026 - 2745502434 - replace nurse_no_assesment with -- nurse_no_assesment_2026
ED: 05/03/2026 - 2699774512 - Added new messaging template &quot;nurse_remote&quot; when nurse ststus is &apos;לביצוע הערכה מרחוק&apos;
AM: 22032026- added automation name formula. change params for message_to_patient_domain_110_311 template
MB - 12.04.2026  - 2835510335 - Fix Pre-Surgery Templates Logic
SP: 2206202 - 3016517950-  New path For Assuta Experts - sending Messaging Template regardless of payment for &quot;home experts&quot; calendars.</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDateAppointmentAdd45Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 45</expression>
    </formulas>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Surgery logic for Messaging - Appointment&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Now_plus_2_Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (2/24)</expression>
    </formulas>
    <formulas>
        <name>SendSMSforHomeAdmission</name>
        <dataType>String</dataType>
        <expression>&quot;Check_In_From_Home_Beginning&quot;&amp; &quot;,&quot; &amp; {!$Record.Patient_Account__r.FirstName} &amp; &quot;,&quot; &amp;{!$Record.Spincal__r.branchname__r.Name}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <description>just to bypass facebook template laws of creating unique urls... so this has no meaning at all.</description>
        <name>tvRandomMeaninglessText</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid}</expression>
    </formulas>
    <interviewLabel>Surgery logic for Messaging - Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Surgery logic for Messaging - Appointment</label>
    <loops>
        <name>over_Apps</name>
        <label>over Apps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Apps_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>After_Surgery_Release_SMS</name>
        <label>After_Surgery_Release_SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>After_Surgery_Release_SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assesment_Not_Required</name>
        <label>Assesment Not Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Assesment_NotRequired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AssesmentRequired</name>
        <label>AssesmentRequired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Assesment_Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Nurse_Assesmet</name>
        <label>Nurse Assesmet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>CoordinatingNurse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Nurse_No_Assesment_SMS</name>
        <label>Nurse No Assesment SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Nurse_No_Assesment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Nurse_Recommendation_for_Assesmet0</name>
        <label>Nurse Recommendation for Assesmet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Nurse_Recommendation_for_Assesmet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>nurse_remote_00</name>
        <label>nurse_remote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>nurse_remote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>Get_Survey_Taken.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS_Message_after_Surgery</name>
        <label>SMS Message after Surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_sent_2h_after_surgery</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Patient_Account__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>Message_two_h_after_Surgery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS_pre_surgery_took_place</name>
        <label>SMS pre_surgery_took_place</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox_For_18016</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Surgery logic for Messaging - Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>Now_plus_2_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.PHONE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>pre_surgery_took_place</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Appointment_of_Pre_Surgery</name>
        <label>Appointment of Pre Surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PreSurgery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreSurgery__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find Appointments - record type - ייעוץ</description>
        <name>Get_Appointments</name>
        <label>Get Appointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_any_appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Doctor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doctor_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124J000000hAuHQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Taken</name>
        <label>Get Survey Taken</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyTaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Appointment__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Message_sent_2h_after_surgery</name>
        <label>Message sent 2h after surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Message_2h_after_surgery__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SMS_Sent_Checkbox</name>
        <label>SMS Sent Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreSurgSurveyResultsSMS_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SMS_Sent_Checkbox_For_18016</name>
        <label>SMS Sent Checkbox For 18016</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreSurgSurveyResultsSMS_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_open_from_doctor_site</targetReference>
        </connector>
        <inputReference>AccRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Apps_1</name>
        <label>Update Apps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <inputReference>Update_Apps</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Conditions_For_Sending_WA</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_hours_after</name>
            <connector>
                <targetReference>Copy_1_of_Checking_Conditions_For_Sending_WA</targetReference>
            </connector>
            <label>2 hours after</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Release_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_minutes_after</name>
            <connector>
                <targetReference>Check_Release_Status</targetReference>
            </connector>
            <label>30 minutes after</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Release_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>assesment_not_required1</name>
        <label>assesment_not_required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>assesment_not_required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>assesment_required</name>
        <label>assesment_required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>assesment_required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>assuta_1_took_place</name>
        <label>assuta_1_took_place</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>day_date_hour</name>
            <value>
                <elementReference>$Record.day_date_hour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>assuta_1_took_place</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>Private Services</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>coordinatingnurse</name>
        <label>coordinatingnurse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>coordinatingnurse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Message_to_patient_new</name>
        <label>Message_to_patient_new</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>logic_to_send_institute_sms</flowName>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sms_Developer_Name</name>
            <value>
                <stringValue>Message_to_patient_new</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>message_to_patient_new_v1a</name>
        <label>message_to_patient_new_v1a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>message_to_patient_new</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>message_two_h_after_surgery</name>
        <label>message_two_h_after_surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_sent_2h_after_surgery</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>message_two_h_after_surgery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>new_appointment_excellent_experts</name>
        <label>new_appointment_excellent_experts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>day_date_hour</name>
            <value>
                <elementReference>$Record.day_date_hour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Doctor_Degree</name>
            <value>
                <elementReference>$Record.Doctor_Account__r.doctor_degree__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Doctor_Name</name>
            <value>
                <elementReference>$Record.Doctor_Account__r.doctor_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Exact_Location_In_Domain</name>
            <value>
                <elementReference>$Record.Exact_Location_In_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormTitan_Kit_Experts_Center</name>
            <value>
                <elementReference>$Record.formtitan_kit_experts_center_to_patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>new_appointment_excellent_experts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>Private Services</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>new_regular_appointment_experts</name>
        <label>new_regular_appointment_experts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>day_date_hour</name>
            <value>
                <elementReference>$Record.day_date_hour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Doctor_Degree</name>
            <value>
                <elementReference>$Record.Doctor_Account__r.doctor_degree__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Doctor_Name</name>
            <value>
                <elementReference>$Record.Doctor_Account__r.doctor_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormTitan_Kit_Experts_Center</name>
            <value>
                <elementReference>$Record.formtitan_kit_experts_center_to_patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Full_address_Doc_Clinic</name>
            <value>
                <elementReference>$Record.Calendar__r.CalenderInClinic__r.Full_address_doc_clinic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>new_regular_appointment_experts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>nurse_no_assesment_2026</name>
        <label>nurse_no_assesment_2026</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>nurse_no_assesment_2026</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>nurse_recommendation_for_assesmet</name>
        <label>nurse_recommendation_for_assesmet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>nurse_recommendation_for_assesmet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>wo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>nurse_remote_0</name>
        <label>nurse_remote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>nurse_remote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Outbound_WA_for_Surgery</name>
        <label>Outbound WA for Surgery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>message_to_patient_domain_110_311</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tvAutomationName</name>
            <value>
                <elementReference>fAutomationName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>pre_surgery_took_place1</name>
        <label>pre_surgery_took_place</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Sent_Checkbox_For_18016</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>pre_surgery_took_place_2026</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
            <value>
                <stringValue>surgery</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>wa_after_experts_appointment</name>
        <label>wa_after_experts_appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_of_Pre_Surgery</targetReference>
        </connector>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>doc_from_try</name>
            <value>
                <elementReference>$Record.doc_from_try__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>formtitan_experts_survey_link</name>
            <value>
                <elementReference>$Record.formtitan_experts_survey_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>wa_after_experts_appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>24</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhichChannel</name>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PreSurgeryNurseRecommendationSMS_process</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Update_Apps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
