force-app/main/default/flows/SurveyPatientDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>WhatSurvey</name>
        <label>WhatSurvey</label>
        <locationX>186</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sleep_Survey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey__r.SurveyCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SleepingPre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey__r.SurveyCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SleepingPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFirstName</targetReference>
            </connector>
            <label>Is Sleep Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Address</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Account__r.Address__c}, &quot; _BR_ENCODED_&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Bday</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Account__r.PersonBirthdate}))
 &amp; &quot;-&quot; &amp; TEXT(MONTH({!$Record.Account__r.PersonBirthdate})) &amp; &quot;-&quot; &amp;
TEXT(DAY({!$Record.Account__r.PersonBirthdate}))</expression>
    </formulas>
    <formulas>
        <name>Gender</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.Account__r.Gender__c},&quot;ז&quot;,&quot;זכר&quot;,&quot;נ&quot;,&quot;נקבה&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>SurveyPatientDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyPatientDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update Biryhday</label>
        <locationX>385</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Gender</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_birth_date</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Bday</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Gender</name>
        <label>Update Gender</label>
        <locationX>386</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>UpdateAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_gender</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_id_number</name>
        <label>Update id number</label>
        <locationX>208</locationX>
        <locationY>884</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_id_number</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Account__r.ID_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Name</name>
        <label>Update Last Name</label>
        <locationX>207</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Update_id_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_last_name</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Account__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAddress</name>
        <label>UpdateAddress</label>
        <locationX>408</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>UpdatePhoneNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_address</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFirstName</name>
        <label>UpdateFirstName</label>
        <locationX>202</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Update_Last_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_first_name</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Account__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHomeNumber</name>
        <label>UpdateHomeNumber</label>
        <locationX>555</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_home_phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonHomePhone</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePhoneNumber</name>
        <label>UpdatePhoneNumber</label>
        <locationX>388</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>UpdateHomeNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyTaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P_phone_number</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordUpdates>
    <start>
        <locationX>62</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QuestionAmount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SurveyTaker__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After1Min</name>
            <connector>
                <targetReference>WhatSurvey</targetReference>
            </connector>
            <label>After1Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
