force-app/main/default/flows/Test1234567.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Current_Appointment</name>
        <label>Set Current Appointment</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CurrentAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_thorough_the_SMS.Appointment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Collection</name>
        <label>Store Collection</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Divide_Batches</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Divide_Batches</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Divide Batches</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection</collectionReference>
        <connector>
            <targetReference>Go_thorough_the_SMS</targetReference>
        </connector>
        <limit>100</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Checking_SMS</name>
        <label>Checking SMS</label>
        <locationX>396</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Go_thorough_the_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SMS</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Go_thorough_the_SMS.Appointment__r.Remainder_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_thorough_the_SMS.Appointment__r.Remainder_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>אין מענה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_thorough_the_SMS.Appointment__r.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>וידוא הגעה לפגישה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_thorough_the_SMS.Appointment__r.Appointment_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_thorough_the_SMS.Appointment__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Appointment</targetReference>
            </connector>
            <label>Check SMS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test123 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test123</label>
    <loops>
        <name>Go_thorough_the_SMS</name>
        <label>Go thorough the SMS</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <collectionReference>Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>264</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>Go_thorough_the_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>CurrentAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_name__c</field>
            <value>
                <stringValue>Test123</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedSendingDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Phone__c</field>
            <value>
                <stringValue>Assuta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Go_thorough_the_SMS.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmsTemplate__c</field>
            <value>
                <stringValue>General_Reminder_Institutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SMS</name>
        <label>Get SMS</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SmsTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Reminder_Institutes</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-05-21T11:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-05-21T12:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SMS</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-05-23</startDate>
            <startTime>09:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Appointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>CurrentAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
