force-app/main/default/flows/Test_Results_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Confident</name>
        <label>Confident</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Outbound_WA_for_Surgery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure1__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure2__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure3__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_Procedure4__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.included_MP__r.Confidentiality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <description>AM: 27082025- 2089110431-  המתנה לדיסק- מעבר לוואטסאפ במקום סמס</description>
    <environments>Default</environments>
    <interviewLabel>Test Results View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Results View</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confident</targetReference>
        </connector>
        <filterFormula>and(
 not(ispickval({!$Record.Appointment_Status__c},&apos;Canceled&apos;)),
 not(ispickval({!$Record.Appointment_Status__c}, &apos;TookPlace&apos;)),
 ischanged({!$Record.RisAnswerStatus__c}),
 ispickval({!$Record.RisAnswerStatus__c}, &apos;4&apos;),
{!$Record.RecordType.DeveloperName} = &apos;Institutes&apos;,
{!$Record.Site__r.Site_Code__c} != &apos;33&apos;)</filterFormula>
        <object>Appointment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Outbound_WA_for_Surgery</name>
        <label>Outbound WA for Surgery</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <flowName>Outbound_WA_for_Surgery</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTemplate</name>
            <value>
                <stringValue>test_results_disc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageTime</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>$Record.Patient_Account__r.SMS_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
