force-app/main/default/flows/test12.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>end</name>
        <label>end</label>
        <locationX>434</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>col</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>col</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>test1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test12</label>
    <loops>
        <name>feg</name>
        <label>feg</label>
        <locationX>449</locationX>
        <locationY>69</locationY>
        <assignNextValueToReference>looppppp</assignNextValueToReference>
        <collectionReference>colll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dfdfvdf</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>end</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get</name>
        <label>get</label>
        <locationX>240</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>feg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Clinic__c</object>
        <outputReference>colll</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>dfdfvdf</name>
        <label>dfdfvdf</label>
        <locationX>661</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>feg</targetReference>
        </connector>
        <flowName>Area_for_clinic</flowName>
        <inputAssignments>
            <name>IDclinicFromProcess</name>
            <value>
                <elementReference>looppppp.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Clinic__c</objectType>
    </variables>
    <variables>
        <name>loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>looppppp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Clinic__c</objectType>
    </variables>
</Flow>
