force-app/main/default/flows/Triggered_Disability_Delete_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Disability_False</name>
        <label>Assign Account Disability False</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>rvAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAccount.DisabilityIndication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Disability_True</name>
        <label>Assign Account Disability True</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>rvAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvAccount.DisabilityIndication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Other_Active_Disability_Records_Exist</name>
        <label>Other Active Disability Records Exist?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Disability_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Update Account- Disability Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Account_Disability_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Disability_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Disability_True</targetReference>
            </connector>
            <label>Yes- Update Account- Disability Exists</label>
        </rules>
    </decisions>
    <description>AM: 22122024- User Story 19985- set disability indication in paitiant account</description>
    <environments>Default</environments>
    <interviewLabel>Triggered- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Triggered- Disability- Delete- Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>check if other Active Disability record exists</description>
        <name>Get_Other_Disability_Records</name>
        <label>Get Other Disability Records</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Active_Disability_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Disability__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>פעיל</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disabilities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <inputReference>rvAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Disability_Records</targetReference>
        </connector>
        <object>Disabilities__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
