force-app/main/default/flows/Triggered_Assuta_File_Create_Or_Update_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignmen_Assuta_File_Data_Appointment_Summary</name>
        <label>Assignmen Assuta File Data- Appointment Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FileTypeForWAInPrivateZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AppointmentSummary</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignmen_Assuta_File_Data_General_Document</name>
        <label>Assignmen Assuta File Data- General Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FileTypeForWAInPrivateZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GeneralDocument</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignmen_Assuta_File_Data_Test_Results</name>
        <label>Assignmen Assuta File Data- Test Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FileTypeForWAInPrivateZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TestResults</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Created_Or_Updated</name>
        <label>Created Or Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_MetaData</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_File_Type</name>
        <label>What Is The File Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignmen_Assuta_File_Data_Test_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Test Results</defaultConnectorLabel>
        <rules>
            <name>Appointment_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignmen_Assuta_File_Data_Appointment_Summary</targetReference>
            </connector>
            <label>Appointment Summary</label>
        </rules>
        <rules>
            <name>General_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData.File_Type_Classification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignmen_Assuta_File_Data_General_Document</targetReference>
            </connector>
            <label>General Document</label>
        </rules>
    </decisions>
    <description>AM: 04012025- 2588026882- שליחת ואטסאפ מסמכים באזור האישי - הרחבת תהליך  - here is just the field update.</description>
    <environments>Default</environments>
    <formulas>
        <name>fAutomationName</name>
        <dataType>String</dataType>
        <expression>&apos;Triggered-Assuta File- Create Or Update- After Save&apos;+&apos; ||| &apos;+{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>fISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Triggered-Assuta File- Create Or Update- Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Triggered-Assuta File- Create Or Update- Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_MetaData</name>
        <label>Get Custom MetaData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Is_The_File_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.file_type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Type_For_WA_In_Private_Zone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Or_Updated</targetReference>
        </connector>
        <object>File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File__c</objectType>
    </variables>
</Flow>
