force-app/main/default/flows/Update_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>update_site_Ashdod_Calniot</name>
        <label>update site = Ashdod Calniot</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Ashdod_Calniot.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_beer_sheva</name>
        <label>update site = beer sheva</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_beer_sheva.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_haifa</name>
        <label>update site = haifa</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Haifa.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_Hashalom</name>
        <label>update site = Hashalom</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Hashalom.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_Raanana</name>
        <label>update site = Raanana</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Raanana.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_Ramat_Hayahal</name>
        <label>update site = Ramat Hayahal</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Ramat_Hayahal.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_site_rishon</name>
        <label>update site = rishon</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Id_Rishon.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>What_Is_The_Case_Owner_Developer_Name</name>
        <label>What Is The Case Owner Developer Name?</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rishon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_rishon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Rishon</targetReference>
            </connector>
            <label>case owner = rishon</label>
        </rules>
        <rules>
            <name>case_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_haifa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Haifa</targetReference>
            </connector>
            <label>case owner = haifa</label>
        </rules>
        <rules>
            <name>case_owner_hashalom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_hashalom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Hashalom</targetReference>
            </connector>
            <label>case owner = Hashalom</label>
        </rules>
        <rules>
            <name>case_owner_Beer_Sheva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_beersheva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_beer_sheva</targetReference>
            </connector>
            <label>case owner = Beer Sheva</label>
        </rules>
        <rules>
            <name>case_owner_Ashdod_Calniot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_ashdodc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Ashdod_Calniot</targetReference>
            </connector>
            <label>case owner = Ashdod Calniot</label>
        </rules>
        <rules>
            <name>case_owner_raanana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medical_staff_ranana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Raanana</targetReference>
            </connector>
            <label>case owner = Raanana</label>
        </rules>
        <rules>
            <name>Case_Owner_Ramat_Hahayal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical_staff_ramat_hahayal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Id_Ramat_Hayahal</targetReference>
            </connector>
            <label>Case Owner = Ramat Hahayal</label>
        </rules>
    </decisions>
    <description>when case is created and the RT is segel doctors update the filed site__c depend the case owner of the case
AM:26012024- Task 20773- refactor.</description>
    <environments>Default</environments>
    <interviewLabel>Update Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site update case is segel doctors</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Site_Id_Ashdod_Calniot</name>
        <label>Get Site Id- Ashdod Calniot</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_Ashdod_Calniot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>69</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_beer_sheva</name>
        <label>Get Site Id- beer sheva</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_beer_sheva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>62</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_Haifa</name>
        <label>Get Site Id- Haifa</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_haifa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>60</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_Hashalom</name>
        <label>Get Site Id- Hashalom</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_Hashalom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>84</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_Raanana</name>
        <label>Get Site Id- Raanana</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_Raanana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>59</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_Ramat_Hayahal</name>
        <label>Get Site Id- Ramat Hayahal</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_Ramat_Hayahal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Id_Rishon</name>
        <label>Get Site Id- Rishon</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_site_rishon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>85</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Is_The_Case_Owner_Developer_Name</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Medical_staff&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rvSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
</Flow>
