force-app/main/default/flows/Updates_Closed_Past_Cases_Number_of_Days_Late.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_day_to_count</name>
        <label>Add 1 day to count</label>
        <locationX>490</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Counting_the_days</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_the_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_or_Follow</name>
        <label>Closed or Follow</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>follow</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Status_Changed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Following</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Days</targetReference>
            </connector>
            <label>follow</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClosedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Status_Changed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Following</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Days</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caneclled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_the_days</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_business_day</name>
        <label>Is it a business day</label>
        <locationX>622</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Count_the_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is not a business day</defaultConnectorLabel>
        <rules>
            <name>It_is_a_business_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_the_days.business_day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_the_days.Weekend__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_day_to_count</targetReference>
            </connector>
            <label>It is a business day</label>
        </rules>
    </decisions>
    <decisions>
        <description>מזין ערך False לצ&apos;קבוקס &quot;האם סיום הטיפול בפניה חרג מתאריך היעד לטיפול&quot; במידה ומשנים את תאריך הסגירה או המעבר למעקב לתאריך שקודם לתאריך היעד</description>
        <name>Reset_the_late_checkbox</name>
        <label>Reset the late checkbox</label>
        <locationX>402</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counting_the_days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_DeadlineHandlingDatePassed_c</targetReference>
            </connector>
            <label>0 Days</label>
        </rules>
    </decisions>
    <description>מעדכן את השדה  &quot;מספר ימי החריגה בטיפול בפניה&quot; (NumOfDaysPassedDeadlineHandlingDate) בפניות סגורות מסוג &quot;פניות הציבור&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Updates Closed Past Cases Number of Days Late {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updates Closed Past Cases Number of Days Late</label>
    <loops>
        <name>Count_the_days</name>
        <label>Count the days</label>
        <locationX>402</locationX>
        <locationY>623</locationY>
        <collectionReference>All_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_a_business_day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Number_of_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Days</name>
        <label>Copy 1 of Get Days</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.DeadlineHandlingDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ClosedDate__c</elementReference>
            </value>
        </filters>
        <object>Calendar1__c</object>
        <outputReference>All_Days</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>business_day__c</queriedFields>
        <queriedFields>Weekend__c</queriedFields>
        <queriedFields>Gregorian_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Days</name>
        <label>Get Days</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.DeadlineHandlingDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gregorian_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Follow_Up_Status_Changed_Date__c</elementReference>
            </value>
        </filters>
        <object>Calendar1__c</object>
        <outputReference>All_Days</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>business_day__c</queriedFields>
        <queriedFields>Weekend__c</queriedFields>
        <queriedFields>Gregorian_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reset_DeadlineHandlingDatePassed_c</name>
        <label>Reset DeadlineHandlingDatePassed__c</label>
        <locationX>270</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>DeadlineHandlingDatePassed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>מעדכן את השדה  &quot;מספר ימי החריגה בטיפול בפניה&quot; (NumOfDaysPassedDeadlineHandlingDate)</description>
        <name>Update_the_Number_of_days</name>
        <label>Update the Number of days</label>
        <locationX>402</locationX>
        <locationY>1115</locationY>
        <connector>
            <targetReference>Reset_the_late_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>NumOfDaysPassedDeadlineHandlingDate__c</field>
            <value>
                <elementReference>Counting_the_days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Closed_or_Follow</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>DeadlineHandlingDatePassed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Follow_Up_Status_Changed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManualUpdateDeadlineDates__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject_Public_Inquiry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Site_Public_Inquiry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeadlineHandlingDatePassed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Follow_Up_Status_Changed_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caneclled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>All_Days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendar1__c</objectType>
    </variables>
    <variables>
        <name>Counting_the_days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
