force-app/main/default/flows/Update_Appointment_Sent2ClinicApp_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_fetch_data_for_Metavision_needed</name>
        <label>Is fetch data for Metavision needed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Sent2ClinicApp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Side_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Side_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organ_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_appointment</targetReference>
            </connector>
            <label>Yes - Update Sent2ClinicApp</label>
        </rules>
    </decisions>
    <description>US-16063 אוטומציה המעדכנת את שדה Sent2ClinicApp__c באובייקט Appointment__c
כחלק מפרויקט תהליכי טרום ניתוח עולה דרישה לבצע אוטומציה שתעדכן את שדה Sent2ClinicApp__c באובייקט Appointment__c מערך True לערך False לאחר עדכון של שדות מסוימים בפגישה על מנת שהממשק (PreSurgerySFToMetavsion) יוכל למשוך את הפגישה שוב במידה ומתבצעים שינויים רלוונטיים.

הפלואו מטפל בשדות של האובייקט שלו בלבד, שאר השדות שנמצאים באובייקט פגישה מטופלים בפלואו 
Appointment PB
בצומת Set Trigger for PreSurgerySFToMetavision interface</description>
    <environments>Default</environments>
    <interviewLabel>Update Appointment_Sent2ClinicApp field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Appointment_Sent2ClinicApp field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_appointment</name>
        <label>Update appointment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>IsCovid19__c</field>
            <value>
                <elementReference>$Record.IsCovid19__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Appointments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_appointment</name>
        <label>Update appointment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>IsCovid19__c</field>
            <value>
                <elementReference>$Record.IsCovid19__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent2ClinicApp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Appointments__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_fetch_data_for_Metavision_needed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Organ_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organ_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organ_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organ_4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Side_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Side_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Side_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Side_4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCovid19__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Referral_from_doctor_website__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
